@charset "euc-kr";

/* Common */
html {height:100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;-webkit-text-size-adjust:none}
body{height:100%;position:relative;background-color:#fff;font-size:0.8em;color:#000;font-family:'돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-seri;}
section,nav,article,aside,hgroup,header,footer{display:block}
input,textarea,select,button,table{font-size:inherit;font-family:'돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-seri;line-height:inherit}
body.s{font-family:Helvetica,AppleGothic}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
.u_skip {position:absolute;top:0;left:-100000px;}

.npointer {cursor:pointer;}