@charset "euc-kr";
caption {display:none;}
.skip {display:none;}
.mab0{margin-bottom:0px;}
.pcolor_gray{color:#666;}

.tbT01 .u_lline{border-left:1px solid #afce86;}
/*---------------1.kogas-------------*/
.u01_part5_ul{line-height:1.4em;}
.u01_part5_ul li{padding-left:15px;padding-right:20px;color:#376ea7;background:url(../images/u01_part5_limark.png) no-repeat 0 2px;}
.u01_part5_ul li.left{float:left;}
.u01_part5_ul li.clear{clear:both;}
.u01_part5_ul li img{vertical-align:middle;}

/*-------------*/
.u02_tbT01{width:100%;border-top:2px solid #508207;border-bottom:1px solid #508207;color:#666;line-height:1.4em;}
.u02_tbT01 th{padding:5px;font-weight:normal;background:#e3ead2;color:#538a02;border-bottom:1px solid #afce86;border-right:1px solid #afce86;}
.u02_tbT01 td{padding:8px;border-bottom:1px solid #dcdcdc;}
.u02_tbT01 td.u02_border{border-right:1px solid #d0d0d0;}
.u02_tbT01 td.u02_bggray{background-color:#eee}
.u02_tbT01 tr.none td,.u02_tbT01 tr.none th{border-bottom:none;}
/*-------------*/
.u02_abs150{position:absolute;top:275px;left:0px;z-index:-1}
.u02_imgback{background:url(../images/u02_imgback.gif) left top repeat-x; width:100%; height:33px}
.u02_imgcont{width:100%;text-align:center;}
.u02_write{color:#666;margin-bottom:20px;line-height:18px;}
.u02_patb10 th{padding:10px 0px;}
.u02_patb10 td{padding:10px 0px;}
.u02_patb20 th{padding:20px 0px;}
.u02_patb20 td{padding:20px 0px;}
.u02_table1{width:100%;}
.u02_table1 th{text-align:left;vertical-align:middle;padding-right:20px;}
.u02_dottedborder th{border-top:1px dotted #aaa;color:#666;}
.u02_dottedborder td{border-top:1px dotted #aaa;color:#666;}
.u02_43_cont_2{width:290px;}
.u02_4_cont_but{width:100%;margin-top:5px;}
.u02_4_cont_but .left{position:absolute;text-align:right;}
.u02_4_cont_but .center{float:left;width:98%;text-align:center;}
.u02_4_cont_but .right{float:left;width:2px;text-align:left}
.u02_4_cont_but .center img{padding-top:13px;padding-bottom:12px;}
.u02_4_cont_1{background:url(../images/u02_4_cont_1_repeat.gif) left top repeat-x;height:40px;}
.u02_4_cont_2{height:26px;}
.u02_4_cont_3{background:url(../images/u02_4_cont_3_repeat.gif) left top repeat-x;height:40px;}
.u02_4_cont_4{background:url(../images/u02_4_cont_4_repeat.gif) left top repeat-x;height:40px;}
.u02_4_cont_5{background:url(../images/u02_4_cont_5_repeat.gif) left top repeat-x;height:248px;}
.u02_4_cont_6{background:url(../images/u02_4_cont_6_repeat.gif) left top repeat-x;height:40px;}

.u02_4_cont_7{float:left;width:95%;padding-left:10px;padding-top:10px;background:url(../images/u03_people_buf_btn.gif) left top repeat-x;height:57px;}
.u02_4_cont_7_long{float:left;width:95%;padding-left:10px;padding-top:5px;background:url(../images/u03_people_buf_btn.gif) left top repeat-x;height:57px;}

.u02_44_topbut li {width:50%}
.u02_table_aligntop th{vertical-align:top}
.u02_table_aligntop td{vertical-align:top}
.u02_442_imgset li {display:inline;}

.u05_ul_1{color:#538a02;line-height:1.4em;}
.u05_ul_1 .u05_li_1 h4{padding-left:10px;}
.u05_ul_1 .u05_li_1{padding-left:5px;padding-right:10px;background:url(../images/ico_round.gif) no-repeat 0 5px;}
.u05_ul_1 .u05_li_1 .left{float:left;}
.u05_ul_1 .u05_li_1 .clear{clear:both;}
.u05_ul_1 .u05_li_1 img{vertical-align:middle;}
.u05_ul_1 .u05_li_1 p{color:#666;}
.u05_ul_1 .u05_li_1 .liT04{color:#666;}
.u05_tbl_01 img{margin-top:10px;margin-bottom:10px;}
.u05_ul_1  .u05_li_1 .u05_tbl_01 ul{color:black;}
.u05_ul_1  .u05_li_1 .u05_tbl_01 p{color:#666;}

.u05_tbl_01{width:100%;border-top:2px solid #508207;border-bottom:1px solid #508207;color:#666;line-height:1.4em;}
.u05_tbl_01 tbody td{padding:5px 10px;border-bottom:1px solid #dcdcdc;text-align:left;}
.u05_tbl_01 tbody th{border-bottom:1px solid #dcdcdc;text-align:center;font-weight:normal;}
.u05_tbl_01 tr.none td, .u05_tbl_01 tr.none th{border-bottom:none;}

.u05_bar {width:100%;text-align:right;margin-top:8px;margin-bottom:8px;}
.u05_org_01{background:url(../images/u05_org_01.gif); width:291px;height:85px;}
.u05_org_02{background:url(../images/u05_org_02.gif); width:291px;height:187px;}
.u05_org_03{background:url(../images/u05_org_03.gif); width:291px;height:206px;}
.u05_org_04{background:url(../images/u05_org_04.gif); width:291px;height:168px;}
.u05_org_05{background:url(../images/u05_org_05.gif); width:291px;height:92px;}

.u05_rexpect_more_graph{margin-top:-1px;}
.u05_vision_02{margin-top:25px;}
.u05_center{text-align:center;}

.u_liT01_w33 li{width:32.9%;border-left:none;}
.u_liT01_w50 li{width:49%}
.u_liT01_w25 li{width:25%}
.u_liT01_w100 li{width:100%}

.u_liT01{height:28px;margin-bottom:20px;color:#666;overflow:hidden;}
.u_liT01 li{display:inline-block;border-top:1px solid #cbcbcc;border-left:1px solid #cbcbcc;border-bottom:1px solid #cbcbcc;float:left;height:28px;background:url(../images/bg_contlist.gif) repeat-x;}
.u_liT01 li.on{color:#ffffff;font-weight:bold;background:url(../images/bg_contlist2.gif) repeat-x;}
.u_liT01 li a{padding-bottom:10px;text-align:center;padding-top:7px;display:block;background:url(../images/bg_bar.gif) repeat-y right top;}

.u01_liT01{height:48px;margin-bottom:20px;color:#666;overflow:hidden;}
.u01_liT01 li{display:inline-block;width:32.8%;border-top:1px solid #cbcbcc;border-left:1px solid #cbcbcc;border-bottom:1px solid #cbcbcc;float:left;background:url(../images/u01_contlist_off.gif) repeat-x;}
.u01_liT01 li.on{color:#ffffff;font-weight:bold;background:url(../images/u01_conlist_on.gif) repeat-x;}
.u01_liT01 li a{padding-bottom:10px;text-align:center;padding-top:7px;display:block;background:url(../images/bg_bar.gif) repeat-y right top;}

.u05_tbl_02{text-align:center;width:100%;border-top:2px solid #508207;border-bottom:1px solid #508207;color:#666;line-height:1.4em;}
.u05_tbl_02{text-align:center;width:100%;border-top:2px solid #508207;border-bottom:1px solid #508207;color:#666;line-height:1.4em;}
.u05_tbl_02 thead th{padding:5px;font-weight:normal;background:#e3ead2;color:#538a02;border-bottom:1px solid #afce86;}
.ta_left {text-align:left}
.ta_right {text-align:right}
.u05_tbl_02 tbody th, .u05_tbl_02 tbody td{padding:5px;font-weight:normal;border-bottom:1px solid #dcdcdc;border-left:1px solid #dcdcdc;}
.u05_tbl_02 tbody th:first-child{border-left:none;}
.u05_tbl_02 th.lline{border-left:1px solid #afce86;}
.u05_tbl_02 tr.none td, tr.none th{border-bottom:none;border-right:none;}
.u05_tbl_02 th.none, .u05_tbl_02 td.none{border-bottom:none;border-right:none;}
.u05_tbl_02 th.bg,.u05_tbl_02 td.bg {background:#f5f5f5;}

.u05_sec {position:relative;z-index:1;height:30px;border-top:1px solid #93c059;border-bottom:1px solid #93c059;margin-bottom:15px;}
.u05_sec  h4{display:inline-block;padding-left:14px;margin-top:10px;margin-left:0px;background:url(../images/ico_round_empty.gif) no-repeat 0px 0px;);font-weight:bold;color:#444;font-size:0.9em;}
.u05_pal0{padding-left:0px;}

.u05_liT04{color:#444;line-height:1.4em;}
.u05_liT04 li.u05_li{padding-left:1px;width:120px;background:url(../images/u05_ico_square.gif) no-repeat 0 0px;}
.u05_liT04 li.u05_li_1{padding-left:1px;width:100%;background:url(../images/u05_ico_square.gif) no-repeat 0 0px;}
.u05_liT04 li.left{float:left;}
.u05_liT04 li.clear{clear:both;}
.u05_liT04 li img{vertical-align:middle;}
.u05_white{color:white;font-weight:bold;}
.u05_tbl_link {color:#538a02;text-decoration:underline;}

/*-------------5.정보마당--------------*/
.u05_part5{color:#666;margin-top:50px;margin-bottom:50px;}
/*--------------8--------------------*/
.liT01 .u04_onlyone{width:100%}
.u05_font15{font-size:15px;}
.u04_btn_down_hungul_doc{margin-left:20px;margin-top:30px;text-align:center; background:url(../images/u04_btn_down_hungul_doc.gif) no-repeat; width:191px; height:20px;font-size:12px;}
.u04_btn_down_hungul_doc p{padding-top:4px;}
.u04_btn_down_worddoc{margin-left:20px;margin-top:10px;text-align:center; background:url(../images/u04_btn_down_worddoc.gif) no-repeat; width:191px; height:20px;font-size:12px;}
.u04_btn_down_worddoc p{padding-top:4px;}
.u04_btn_down_pdfdoc{margin-left:20px;margin-top:10px;text-align:center; background:url(../images/u04_btn_down_pdfdoc.gif) no-repeat; width:191px; height:20px;font-size:12px;}
.u04_btn_down_pdfdoc p{padding-top:4px;}
.u04_mark_cleanenergybusiness{background:url(../images/u04_mark_cleanenergybusiness.gif); width:291px; height:133px;}
.u04_mark_cleanKOGAS{background:url(../images/u04_mark_cleanKOGAS.gif); width:291px; height:191px;}
.u04_mark_kOGASversion{background:url(../images/u04_mark_kOGASversion.gif); width:291px; height:38px;}
.u04_mark_yunRidefine{background:url(../images/u04_mark_yunRidefine.gif); width:291px; height:82px;}
.u04_mark_yunRiversion{background:url(../images/u04_mark_yunRiversion.gif); width:291px; height:52px;}
.u04_mark_randomYunRi{background:url(../images/u04_mark_randomYunRi.gif); width:291px; height:39px;}
.u04_mark_step01_yunRi{background:url(../images/u04_mark_step01_yunRi.gif); width:291px; height:85px;}
.u04_mark_plansatisRatio{background:url(../images/u04_mark_plansatisRatio.gif); width:291px; height:36px;}
.u04_mark_step02_monitor{background:url(../images/u04_mark_step02_monitor.gif); width:291px; height:67px;}
.u04_mark_biriSinGo{background:url(../images/u04_mark_biriSinGo.gif); width:291px; height:33px;}
.u04_mark_step03_basis{background:url(../images/u04_mark_step03_basis.gif); width:291px; height:100px;}
.u04_mark_step04_social{background:url(../images/u04_mark_step04_social.gif); width:291px; height:83px;}
.u04_arr_step{padding-left:75px;padding-top:30px;}
.u04_arr_step li p{font-size:11px;}
/*--------------6-----------------*/
.u03_liT04_p1{margin-left:10px;padding-right:20px;}

.u03_liT04_p1_ul1{color:#666;line-height:1.4em;}
.u03_liT04_p1_ul1 .dot{background:url(../images/u03_point.gif) no-repeat 0 8px;}
.u03_liT04_p1_ul1 li.left{float:left;}
.u03_liT04_p1_ul1 li.clear{clear:both;}
.u03_liT04_p1_ul1 li img{vertical-align:middle;}
/*--------------9.투자정보-------------*/
.u05_part9_div{background:#eeeeee;border:1px solid #cccccc;padding:8px;color:#666;line-height:20px;}
.u04_mark_human_and_nature{background:url(../images/u04_mark_human_and_nature.gif); width:291px; height:148px;}
.u04_back_gas{margin-top:20px;padding-top:43px;background:url(../images/u04_back_gas.gif) no-repeat; width:292px; height:156px;}
.u04_back_gas  div {width:292px;height:40px;vertical-align:middle;}
.u04_back_gas  div img {vertical-align:middle;padding-right:10px;padding-left:10px;}
/*-------------7.채용정보-------------------*/
.u05_part7_head{line-height:18px;}
.u03_liT04_part7_ul1{color:#666;line-height:1.4em;}
.u03_liT04_part7_ul1 .minus{margin-left:5px;background:url(../images/u03_minus.gif) no-repeat 0 8px;}
.u03_liT04_part7_ul1 li.left{float:left;}
.u03_liT04_part7_ul1 li.clear{clear:both;}
.u03_liT04_part7_ul1 li img{vertical-align:middle;}

.u01_part7_tbT01{width:100%;border-top:2px solid #508207;border-bottom:1px solid #dcdcdc;color:#666;line-height:1.4em;}
.u01_part7_tbT01 thead th{padding:5px;font-weight:normal;color:#538a02;border-right:1px solid #afce86;border-bottom:1px solid #afce86;background:#e3ead2;}
.u01_part7_tbT01 tbody th{padding:5px;font-weight:normal;color:#666666;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:none;}
.u01_part7_tbT01 td{padding:5px;border-bottom:1px solid #dcdcdc;border-right:1px solid #dcdcdc;}
.u01_part7_tbT01 .rightnone{border-right:none;}
.u01_part7_tbT01 .botnone{border-bottom:none;}

