@charset "euc-kr";

html {height:100%;}
body {height:100%;background: #01173f;}
.indexWrap {min-height:500px;height:100%;text-align:center;background:url(../images/main/bg_main1.gif) no-repeat center 0;}

.inwrap {position:relative;width:320px;margin:0 auto;padding:10px 0 0 0;text-align:left;}
.inwrap h1 {position:absolute;top:6px;left:0;z-index:10;}
.mplayer {position:absolute;top:16px;left:30px;z-index:1;padding:10px 0 10px 0;text-align:center;}

.dxnotice {overflow:hidden;position:relative;height:30px;padding-top:2px;text-align:left;background:url(../images/main/ico_li.gif) no-repeat 8px 11px;}
.dxnotice .nolibx {position:absolute;top:-2px;left:10px;}
.dxnotice .nolibx li {padding:8px 0 6px 15px;}
.dxnotice .nolibx li a {color:#fff;}
.dxnotice .nolibx {float:left;}
.dxnotice .noticeNav {float:right;margin-right:10px;}

.indexlink {margin-bottom:20px;padding-top:130px;text-align:center;font-size:0;}
.indexlink a {display:inline-block;margin:5px;}
.indexlink  img {vertical-align:middle;}