<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<base href="https://www.samsungcard.com" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/cs_main.css" />
	<link rel="stylesheet" type="text/css" href="/css/mv_submain.css" />
	<link rel="stylesheet" type="text/css" href="/css/ms_login.css" />
	<link rel="stylesheet" type="text/css" href="/css/ss.css" />
</head>

<body>

<div class="tabbrowse_content">
<!-- 여기부터 시작 -->

				<div class="top_visual">
					<h1 class="none">실속 가득한 삼성카드 우대혜택 서비스</h1>
					<div class="h1_desc"><img src="/cms_content/images/ss/h1_intro_merc.jpg" alt="전국 어디서나, 가까운 우대혜택가맹점에서 할인·적립 등 특별한 혜택을 드립니다. 실속 가득한 삼성카드 우대혜택 서비스" /></div>
                    <a href="javascript:goTabPage('NHPIMSSSBC001M002', true);" class="btn_findbenefit"><img src="/images/common/btn_find_benefit2.png" alt="우대혜택가맹점 검색" /></a>
                </div>
                
                    <!-- 여기서부터 시작 -->
					<ul class="mv_subTabType1 mv_BenBranch">
						<li><a href="javascript:goTabPage('NHPIMSSSBC001M001', true);" class="tab1"><span>서비스 전체보기</span></a></li>
						<li><a href="javascript:goTabPage('NHPIMSSSBC001M006', true);" class="tab2 on"><span>보너스클럽</span></a></li>
						<li><a href="javascript:goTabPage('NHPIMSSSBC001M016', true);" class="tab3"><span>페이백서비스</span></a></li>
						<li><a href="javascript:goTabPage('NHPIMSSSBC001M026', true);" class="tab4"><span>블루라인서비스</span></a></li>
						<li><a href="javascript:goTabPage('NHPIMSSSBC001M002', true);" class="tab5"><span>우대혜택 가맹점 찾기</span></a></li>
					</ul>
				
				
				<div class="content_block content_block_tab2 clfix mt0">
					<div class="tab01 w810">
						<ul>
                            <li><a href="javascript:goTabPage('NHPIMSSSBC001M006', true);">보너스클럽 안내</a></li>
							<li class="on"><a href="javascript:goTabPage('NHPIMSSSBC001M007', true);">주요보너스클럽</a></li>
							<li><a href="javascript:goTabPage('NHPIMSSSBC001M003', true);">FAQ</a></li>
						</ul>
					</div>
				</div>

<!-- 여기까지 끝 -->

				
				<!-- content_block -->
				<!-- iv class="content_block content_block_tab2"-->
					<!-- tab_area -->
					<!-- div class="tab02 h60 w810">
						<ul>
                            <li><a href="javascript:goTabPage('NHPIMSSSBC001M001', true);">서비스 전체보기</a></li>
							<li class="on">
                                <a href="javascript:goTabPage('NHPIMSSSBC001M006', true);">보너스클럽</a>
								<ul class="sub_tab">
                                    <li><a href="javascript:goTabPage('NHPIMSSSBC001M006', true);">보너스클럽 안내</a></li>
                                    <li class="on"><a href="javascript:goTabPage('NHPIMSSSBC001M007', true);">주요보너스클럽</a></li>
                                    <li><a href="javascript:goTabPage('NHPIMSSSBC001M003', true);">FAQ</a></li>
								</ul>
							</li>
                            <li><a href="javascript:goTabPage('NHPIMSSSBC001M016', true);">페이백서비스</a></li>
                            <li><a href="javascript:goTabPage('NHPIMSSSBC001M026', true);">블루라인서비스</a></li>
                            <!--li><a href="javascript:goTabPage('NHPIMSSSBC001M036', true);">무이자할부</a></li--><!-- SR내역 13.01.09 -->
                            <!-- li><a href="javascript:goTabPage('NHPIMSSSBC001M002', true);">우대혜택가맹점 찾기</a></li>
                            <!-- <li><a href="javascript:goTabPage('NHPIMSSSBC001M004', true);">쿠폰서비스</a></li>>
                            <li><a href="javascript:goTabPage('NHPIMSSSBC001M040', true);">VISA 체크카드 제휴 서비스</a></li>
						</ul>
					</div>
				</div-->

				<!-- content_block -->
				<div class="content_block content_block_card clfix">
					<div class="flag_additional"><img src="/images/ss/img_pref_bonusclub01.jpg" class="flag_r0_t12" alt="" /></div>
					<h2><img src="/images/ss/h2_benefit_bonus05.png" alt="주요보너스클럽을 찾아보세요" /></h2>
					<div class="content_block_inner d_intro_bonusclub">
						<blockquote><img src="/images/ss/txt_benefit_bonus01.png" alt="삼성카드 보너스클럽의 대표 가맹점을  업종별로 확인해보세요" /></blockquote>
						<ul>
                            <li><a href="javascript:bcList('100');"><img src="/images/ss/list_bonusclub01<%= "100".equals(mainCode)?"_on":"" %>.jpg" alt="외식" /></a></li>
                            <li><a href="javascript:bcList('200');"><img src="/images/ss/list_bonusclub02<%= "200".equals(mainCode)?"_on":"" %>.jpg" alt="쇼핑" /></a></li>
                            <li><a href="javascript:bcList('300');"><img src="/images/ss/list_bonusclub03<%= "300".equals(mainCode)?"_on":"" %>.jpg" alt="레저" /></a></li>
                            <li><a href="javascript:bcList('400');"><img src="/images/ss/list_bonusclub04<%= "400".equals(mainCode)?"_on":"" %>.jpg" alt="생활" /></a></li>
						</ul>
					</div>
				</div>

				<div class="content_block clfix">
					<h2><img src="/images/ss/h2_benefit_bonus06.png" alt="주요보너스클럽 조회 결과입니다" /></h2>
					<div class="content_block_inner">
					
						<p class="list_bonusclub"><strong>40P/ℓ 적립</strong></p>
						<ul class="list_fm_no clfix">
							<li>
								<p class="p_card">
                                <a href="javascript:bcDetail('C0500858','300');">
								<span class="fram125x60">&nbsp;</span><img src="/images/ss/soil.jpg" width="125" height="60" alt="S-OIL" />
								</a>
								</p>
								<p class="p_tit">
                                <a href="javascript:bcDetail('C0500858','300');">S-OIL</a>
								</p>
								<p class="p_point">S-OIL 40P/ℓ</p>
								<p class="p_txt">1566-5151</p>
							</li>
						</ul>
						<div class="line_lgray_p0">&nbsp;</div>	
						<p class="list_bonusclub mt25">
						<strong>2% 이상</strong></p>
						<ul class="list_fm_no clfix">
						<!-- loop -->
							<li>
								<p class="p_card">
								<a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');">
								<span class="fram125x60">&nbsp;</span><img src="<%=vo.getLogo() %>" width="125" height="60" alt="<%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %>" />
								</a>
								</p>
                                <p class="p_tit"><a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');"><%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %></a></p>
								<p class="p_point"><%=vo.getRate() %></p>
								<p class="p_txt"><%=vo.getTelno() %></p>
							</li>
						
							<!-- //loop -->
						</ul>
						<div class="line_lgray_p0">&nbsp;</div>
						<p class="list_bonusclub mt25"><strong>1 ~ 2% 미만</strong></p>
						<ul class="list_fm_no clfix">
						<!-- loop -->

							<li>
								<p class="p_card">
                                <a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');">
								<span class="fram125x60">&nbsp;</span><img src="<%=vo.getLogo() %>" width="125" height="60" alt="<%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %>" />
								</a>
								</p>
                                <p class="p_tit"><a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');"><%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %></a></p>
								<p class="p_point"><%=vo.getRate() %></p>
								<p class="p_txt"><%=vo.getTelno() %></p>
							</li>
							<!-- //loop -->
						</ul>
						<div class="line_lgray_p0">&nbsp;</div>
						
						<p class="list_bonusclub mt25"><strong>0.5 ~ 1% 미만</strong></p>
						<ul class="list_fm_no clfix">
						<!-- loop -->
							<%
								for(NHPIMSSSBC004VO vo : resultList3){
							%>

							<li>
								<p class="p_card">
								<%if(!"".equals(vo.getLogo())){ %>
                                <a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');">
								<span class="fram125x60">&nbsp;</span><img src="<%=vo.getLogo() %>" width="125" height="60" alt="<%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %>" />
								</a>
								<%} %>
								</p>
                                <p class="p_tit"><a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');"><%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %></a></p>
								<p class="p_point"><%=vo.getRate() %></p>
								<p class="p_txt"><%=vo.getTelno() %></p>
							</li>
							<%
								}
							%>
							<!-- //loop -->
						</ul>
						<div class="line_lgray_p0">&nbsp;</div>
					<% } %>

					<% if(resultList4.size() > 0){ %>
						<p class="list_bonusclub mt25"><strong>0.5% 미만</strong></p>
						<ul class="list_fm_no clfix">
						<!-- loop -->
							<%
								for(NHPIMSSSBC004VO vo : resultList4){
							%>

							<li>
								<p class="p_card">
								<%if(!"".equals(vo.getLogo())){ %>
                                <a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');">
								<span class="fram125x60">&nbsp;</span><img src="<%=vo.getLogo() %>" width="125" height="60" alt="<%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %>" />
								</a>
								<%} %>
								</p>
                                <p class="p_tit"><a href="javascript:bcDetail('<%=vo.getKeychaincode()%>','<%=vo.getMainCode()%>');"><%=HpCommonUtil.formatTitle(vo.getName(),12,"..") %></a></p>
								<p class="p_point"><%=vo.getRate() %></p>
								<p class="p_txt"><%=vo.getTelno() %></p>
							</li>
							<%
								}
							%>
							<!-- //loop -->
						</ul>
					<% } %>

						<!-- <div class="line_lgray_p0 mt20">&nbsp;</div>-->
						
						<p class=" ico_rice mt5"  style="color:#000">위의 안내되는 매장 중 일부 매장은 보너스클럽이 아닐 수 있습니다.</p>
						<p class=" ico_rice "  style="color:#000">위의 안내되는 매장 중 결제대행업체를 통해 결제가 이루어지는 일부 온라인매장은 우대혜택가맹점 (보너스클럽,블루라인,마이존 등)이 <br /> 아닐 수 있습니다.<br /> ex) 결제대행업체 가맹점명 : (주)이니시스, (주)올앳, KICC 등</p>
					</div>
				</div>


<form name="form1" method="post" action="">
<input type="hidden" name="mainCode" value="<%=mainCode %>" />
<input type="hidden" name="keychaincode" value="" />
<input type="hidden" name="menuIdx" value="1" />

</form>
<%@ include file="/WEB-INF/jsp/common/tab_footer.jsp" %>

