@charset “utf-8″;

@font-face {
font-family:'kiaB';font-weight:normal;font-style:normal;
src:url('../font/kia_bold.eot');
src:url('../font/kia_bold.eot?#iefix') format('embedded-opentype'),
	url('../font/kia_bold.woff') format('woff'),
	url('../font/kia_bold.ttf') format('truetype')
}
@font-face {
font-family:'kiaM';font-weight:normal;font-style:normal;
src:url('../font/kia_medium.eot');
src:url('../font/kia_medium.eot?#iefix') format('embedded-opentype'),
	url('../font/kia_medium.woff') format('woff'),
	url('../font/kia_medium.ttf') format('truetype')
}

@font-face {
font-family:'kiaL';font-weight:normal;font-style:normal;
src:url('../font/kia_light.eot');
src:url('../font/kia_light.eot?#iefix') format('embedded-opentype'),
	url('../font/kia_light.woff') format('woff'),
	url('../font/kia_light.ttf') format('truetype')
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, btn, select {margin:0;padding:0;}
body, input, textarea, select, btn, table {font-family:kiaM,Hevetica;line-height:18px;font-size:14px;color:#333}
body {-webkit-text-size-adjust:none;word-break:break-all}
strong, th, h1, h2, h3, h4, h5 {font-weight:normal;font-family:kiaB;}
table {width:100%;border-collapse:collapse}
img, fieldset {border:0;vertical-align:top}
ul, ol {list-style:none}
em, address {font-style:normal}
legend {display:none}
caption {position:absolute;top:0;left:0;font-size:0;line-height:0;width:0;height:0;visibility:hidden;overflow:hidden}
button {cursor:pointer;margin:0;padding:0;background:none;border:0}
a {color:#333;text-decoration:none}
a:hover, a:active, a:focus {text-decoration:underline}

ul, li {zoom:1;}
ul:after, li:after {content:"";clear:both;display:block;}

.hidden {position:absolute;top:0;left:0;font-size:0;line-height:0;width:0;height:0;visibility:hidden;overflow:hidden}
.accessbility {left:0;top:0;text-align:center;width:100%;z-index:10001;font-size:15px;background:#454545}
.accessbility a {display:block;height:0;width:0;margin-bottom:-1px;overflow:hidden;text-align:center;color:#fff;white-space:nowrap;color:#fff}
.accessbility a:focus, .skip a:active {height:auto;width:auto;padding:10px 0;color:#fff;}
.dimmed {width:100%;height:100%;background:rgba(0,0,0,0.5);filter:alpha(opacity=50);z-index:990;position:absolute;top:0;left:0;}

.w_none {display:none!important} /* 웹 디바이스에서 사라지는 영역 */

.ess {display:inline-block;font-size:15px;color:#bb162b;margin-left:2px;} /* 별표시 */
.pointcolor1 {color:#bb162b!important;font-weight:inherit}
.pointcolor2 {color:#58595b!important}

/* sprite : 스프라이트 이미지 네이밍 spr_이름.png */
.cmm_spr, .sns_spr, .map_spr, .form_spr:before, .pg_arrow, .pg_btn, .pg_btn_on {display:inline-block;overflow:hidden;background-repeat:no-repeat;white-space:nowrap;color:transparent;vertical-align:top}
.cmm_tspr:before, .cmm_tspr:after, .form_spr:after, .util_a:before, .dth1_a:after, [class*=bl_type]:before {display:inline-block;overflow:hidden;background-repeat:no-repeat;white-space:nowrap;vertical-align:top}
.cmm_spr, .cmm_tspr:before, .cmm_tspr:after, .util_a:before, .dth1_a:after, [class*=bl_type]:before, .pg_arrow, .pg_btn, .pg_btn_on {background-image:url(../images/common/spr_common.png);}
.sns_spr {background-image:url(../images/common/spr_sns.png)}
.map_spr {background-image:url(../images/common/spr_map.png);}
.form_spr:before, .form_spr:after {background-image:url(../images/common/spr_form.png)}

[class*=btnType]:after, [class*=btnType]:before, .btnIcon:before, .btnIcon:after, .tab_type1:before, .tab_type1:after, .tab_link:before, .tab_link:after {content:"";display:inline-block;background-image:url(../images/common/spr_button.png);background-repeat:no-repeat;vertical-align:top}

@media screen and (-webkit-min-device-pixel-ratio:1.5) {
.cmm_spr, .cmm_tspr:before, .cmm_tspr:after, .util_a:before, .dth1_a:after, [class*=bl_type]:before, .pg_arrow, .pg_btn, .pg_btn_on {background-image:url(../images/common/spr_common_x2.png);background-size:200px 105px;}
.sns_spr {background-image:url(../images/common/spr_sns_x2.png);background-size:100px 24px}
.map_spr {background-image:url(../images/common/spr_map_x2.png);background-size:60px 101px}
.form_spr:before, .form_spr:after {background-image:url(../images/common/spr_form_x2.png);background-size:70px 40px}

[class*=btnType]:after, [class*=btnType]:before, .btnIcon:before, .btnIcon:after, .tab_type1:before, .tab_type1:after, .tab_link:before, .tab_link:after {background-image:url(../images/common/spr_button_x2.png);background-size:150px 155px;}
}

.spr_build:before {content:"";background-position:-25px -41px;width:20px;height:19px;margin:6px 5px 0 0;}
.dth1_a:after {background-position:0 0;width:22px;height:22px;}
.util_a:before {background-position:-30px -14px;width:4px;height:5px;}

.spr_menu {background-position:0 -46px;width:18px;height:14px}
.spr_home {background-position:-46px -32px;width:14px;height:14px;}
.spr_search {background-position:-25px -20px;width:20px;height:20px;}
.spr_search2 {background-position:-45px -17px;width:14px;height:14px;}
.spr_close {background-position:-45px -59px;width:14px;height:14px;}
.spr_close2 {background-position:-60px -59px;width:14px;height:14px;}
.spr_video {background-position:-60px 0;width:60px;height:60px}
.spr_360vr {background-position:-120px 0;width:66px;height:66px}
.spr_viwer {background-position:right -67px;width:32px;height:32px}
.spr_open_edit {background-position:-122px -67px;width:45px;height:17px}
.spr_close_edit {background-position:-122px -85px;width:45px;height:17px}

.spr_share_t {background-position:0 -25px;width:22px;height:22px}
.spr_share_f {background-position:-23px -25px;width:22px;height:22px}
.spr_share_g {background-position:-46px -25px;width:22px;height:22px}
.spr_facebook {background-position:0 0;width:24px;height:24px;}
.spr_twitter {background-position:-25px 0;width:24px;height:24px;}
.spr_google {background-position:-50px 0;width:24px;height:24px;}
.spr_youtube {background-position:-75px 0;width:24px;height:24px;}

.map_pin {background-position:0 0;width:24px;height:29px;padding:4px 0 0 9px;color:#fff;font-family:kiaB;text-align:left}
.map_pin.pin_on {background-position:0 -34px;color:#bb162b}

/* 버튼 */
.btn_area {text-align:center;margin-top:20px}
.btn_areaL {text-align:left;margin-top:10px}
.btn_areaR {text-align:right;margin-top:10px}
[class*=btnType] {display:inline-block;color:#fff;font-family:kiaB;text-transform:uppercase}
.btnType1 {background-color:#bb162b;}
.btnType2 {background-color:#58595b;}
.btnType3 {background-color:#7e8083;}
.btnType4 {background-color:#aeaeae;}
.btnLarge {margin:0 20px;line-height:37px;font-size:18px}
.btnLarge.btnType1:before {background-position:0 0;width:20px;height:37px;margin-left:-20px;}
.btnLarge.btnType1:after {background-position:-24px 0;width:20px;height:37px;margin-right:-20px;}
.btnLarge.btnType2:before {background-position:0 -38px;width:20px;height:37px;margin-left:-20px;}
.btnLarge.btnType2:after {background-position:-24px -38px;width:20px;height:37px;margin-right:-20px;}
.btnLarge.btnType3:before {background-position:0 -76px;width:20px;height:37px;margin-left:-20px;}
.btnLarge.btnType3:after {background-position:-24px -76px;width:20px;height:37px;margin-right:-20px;}
.btnLarge.btnType4:before {background-position:0 -114px;width:20px;height:37px;margin-left:-20px;}
.btnLarge.btnType4:after {background-position:-24px -114px;width:20px;height:37px;margin-right:-20px;}
.btnLarge .arrow_r:after {background-position:right -32px;width:31px;height:31px;margin:3px 0 0 -1px;position:relative;right:-16px;}
.btnLarge .arrow_b:before {background-position:right 0;width:31px;height:31px;margin:3px -3px 0 0;position:relative;left:-17px;}
.btnMedium {margin:0 15px;line-height:30px;font-size:14px}
.btnMedium.btnType1:before {background-position:-44px 0;width:15px;height:30px;margin-left:-15px;}
.btnMedium.btnType1:after {background-position:-62px 0;width:15px;height:30px;margin-right:-15px;}
.btnMedium.btnType2:before {background-position:-44px -38px;width:15px;height:30px;margin-left:-15px;}
.btnMedium.btnType2:after {background-position:-62px -38px;width:15px;height:30px;margin-right:-15px;}
.btnMedium.btnType3:before {background-position:-44px -76px;width:15px;height:30px;margin-left:-15px;}
.btnMedium.btnType3:after {background-position:-62px -76px;width:15px;height:30px;margin-right:-15px;}
.btnMedium.btnType4:before {background-position:-44px -114px;width:15px;height:30px;margin-left:-15px;}
.btnMedium.btnType4:after {background-position:-62px -114px;width:15px;height:30px;margin-right:-15px;}
.btnMedium .arrow_r:after {background-position:right -88px;width:24px;height:24px;margin:3px 0 0 -2px;position:relative;right:-12px;}
.btnMedium .arrow_l:before {background-position:right -64px;width:24px;height:24px;margin:3px -2px 0 0;position:relative;left:-12px;}
.btnSmall {margin:0 12px;line-height:25px;font-size:12px}
.btnSmall.btnType1:before {background-position:-78px 0;width:12px;height:25px;margin-left:-12px;}
.btnSmall.btnType1:after {background-position:-93px 0;width:12px;height:25px;margin-right:-12px;}
.btnSmall.btnType2:before {background-position:-78px -38px;width:12px;height:25px;margin-left:-12px;}
.btnSmall.btnType2:after {background-position:-93px -38px;width:12px;height:25px;margin-right:-12px;}
.btnSmall.btnType3:before {background-position:-78px -76px;width:12px;height:25px;margin-left:-12px;}
.btnSmall.btnType3:after {background-position:-93px -76px;width:12px;height:25px;margin-right:-12px;}
.btnSmall.btnType4:before {background-position:-78px -114px;width:12px;height:25px;margin-left:-12px;}
.btnSmall.btnType4:after {background-position:-93px -114px;width:12px;height:25px;margin-right:-12px;}
.btnSmall .arrow_r:after {background-position:-115px -100px;width:6px;height:9px;margin:8px 0 0 8px;}
.closeBtn {display:inline-block;padding:13px 14px;height:14px;}

/* 탭 */
.content_tab .tab_li {min-width:150px;float:left;text-align:center;font-family:kiaB;position:relative}
.content_tab .tab_a {display:block;padding:12px 0 12px 25px;height:21px;color:#fff;font-size:15px;background:#a2a2a2;}
.content_tab .tab_map:before {content:"";background-position:0 -78px;width:24px;height:21px;margin:0 8px 0 -28px}
.content_tab .tab_lst:before {content:"";background-position:-50px -78px;width:21px;height:21px;margin:-1px 8px 0 -28px}
.content_tab .tab_on {background:#bb162b;}
.content_tab .tab_on .tab_map:before {background-position:-25px -78px}
.content_tab .tab_on .tab_lst:before {background-position:-73px -78px}

.tab_type1 {display:inline-block;margin:0 20px;background:#fff;height:36px;line-height:36px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}
.tab_type1:before {background-position:-107px -114px;width:20px;height:38px;margin:-1px 0 0 -20px;}
.tab_type1:after {background-position:-130px -114px;width:20px;height:38px;margin:-1px -20px 0 0;}
.tab_type1 .tab_link {display:inline-block;color:#999;font-family:kiaB;line-height:30px;text-transform:uppercase;vertical-align:top;margin:3px 15px}
.tab_type1 .tab_link:first-child {margin-left:-5px}
.tab_type1 .tab_link:last-child {margin-right:-5px;position:relative}
.tab_type1 .tt1_on {background:#7e8083;color:#fff;}
.tab_type1 .tt1_on:before {background-position:-44px -76px;width:15px;height:30px;margin-left:-15px}
.tab_type1 .tt1_on:after {background-position:-62px -76px;width:15px;height:30px;margin-right:-15px}

/* 스텝 */
.content_step .step_li {margin-bottom:10px}
.content_step .step_bar {display:block;border:1px solid #cacaca;background:#fafafa;line-height:39px;font-size:15px}
.content_step .step_bar .step {display:inline-block;width:13%;height:39px;padding:0 14px;margin:-1px;background:#a2a2a2;border:1px solid #838383;color:#fff;position:relative}
.content_step .step_bar .step:after {content:"";display:inline-block;width:48px;height:41px;background:url(../images/common/spr_step.png) 0 0 no-repeat;position:absolute;top:-1px;right:-48px}
.content_step .step_bar .selcon {padding-left:58px;color:#666;}
.content_step .step_bar .selcon .sel {color:#bb162b}
.content_step .step_bar .selcon .info {font-size:12px;color:#666;}
.content_step .step_bar .selcon .info:before {content:"";display:inline-block;width:1px;height:14px;background:#cacaca;margin:0 8px 0 4px;position:relative;top:3px}
.content_step .step_bar .selcon .car {display:inline-block;height:30px;}
.content_step .step_bar .selcon .car img {height:100%; vertical-align:middle}
.content_step .step_con {display:none;}
.content_step .step_past .step_bar .step:after {background-position:0 -42px}
.content_step .step_past .step_bar .selcon {color:#bb162b}
.content_step .step_open .step_bar .step {background-color:#bb162b;border-color:#a71427}
.content_step .step_open .step_bar .step:after {background-position:0 -84px}
.content_step .step_open .step_con {display:block;position:relative}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
.content_step .step_bar .step:after {background-image:url(../images/common/spr_step_x2.png);background-size:48px 148px}
}

/* 폼 */
.form_wrp {padding:0 26px 0 0;position:relative}
.form_wrp .input_box {width:100%;border:1px solid #d6d6d6;background:#fff;padding:5px 12px;border-radius:2px}
.form_wrp .sel_box {display:block;width:100%;padding-right:24px;position:relative}
.form_wrp .sel_box .selected-headline {display:block;width:100%;height:30px;line-height:30px;border:1px solid #e4e4e4;background:#efefef;padding:0 12px;border-radius:2px;color:#666;cursor:pointer;overflow:hidden}
.form_wrp .sel_box .selected-headline:after {content:"";background-position:0 -31px;width:11px;height:8px;position:absolute;top:12px;right:12px}
.form_wrp .sel_box .select-list {width:100%;border:1px solid #ccc;background:#fff;position:absolute;top:0;left:0;z-index:9}
.form_wrp .sel_box .select-list .select-list-link {display:block;padding:5px 12px;color:#333;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.form_wrp .sel_box .select-list .select-list-hover,
.form_wrp .sel_box .select-list .select-list-selected {background:#bb162b;color:#fff}
.form_wrp .sel_box .select-list-selfocus {border:1px dotted #000!important;}
.form_wrp .sel_box.inp_sel .selected-headline {background:#fff;border:1px solid #d0d0d0}
.form_wrp .sel_box.sch_sel .selected-headline {height:36px;line-height:36px;background:#fff;border:1px solid #d0d0d0;border-radius:0;color:#999;padding:0 12px}
.form_wrp .sel_box.sch_sel .selected-headline:after {top:15px;}
.form_chk {display:inline-block;margin:0 16px 0 0;position:relative;vertical-align:middle}
.form_chk input {position:absolute;top:0;left:0;z-index:-1;opacity:0;}
.form_chk label {cursor:pointer;}
.form_chk label.chk_focus {border:1px dotted #000;margin:-1px}
.check_box:before {content:"";background-position:0 -15px;width:15px;height:15px;vertical-align:middle;margin:-2px 6px 0 0;}
.check_box.c_on:before {content:"";background-position:-16px -15px;width:15px;height:15px;vertical-align:middle;margin:-2px 6px 0 0}
.radio_box:before {content:"";background-position:0 0;width:14px;height:14px;vertical-align:middle;margin:-2px 6px 0 0}
.radio_box.r_on:before {content:"";background-position:-15px 0;width:14px;height:14px;vertical-align:middle;margin:-2px 6px 0 0}
.form_area {display:table;width:100%;table-layout:fixed}
.form_area .form_wrp {display:table-cell;}
.form_area .space {width:10px;display:table-cell;text-align:center;}

.form_sch .sch_box {height:36px;border:1px solid #d0d0d0;padding:0 58px 0 0;position:relative;background:#fff}
.form_sch .sch_box .sch_inp {width:100%;padding:9px 0 9px 14px;padding:8px 0 8px 14px\9;border:0;color:#999}
.form_sch .sch_box .sch_inp:focus {color:#333;}
.form_sch .sch_box .sch_btn {position:absolute;top:0;right:0;padding:8px 14px 8px 10px;}
.form_sch .sch_open {display:none;}
.form_sch .sch_box.sch_round {height:36px;border:1px solid #e5e5e5;border-radius:18px;padding:0 50px 0 0;position:relative}
.form_sch .sch_box.sch_round .sch_inp {background:transparent;}
.form_sch .sch_box.sch_round .sch_btn {position:absolute;top:0;right:0;padding:10px 12px 10px 10px;}

/* 블릿 */
.con_tit {font-size:30px;color:#000;line-height:30px;text-transform:uppercase}
.con_tit:after {content:"";display:block;width:70px;height:2px;background:#bb162b;margin-top:18px}
.con_stit {font-size:22px;color:#333;text-transform:uppercase}
.con_stit:before {content:"";display:block;width:33px;height:2px;background:#d5172e;margin-bottom:12px}
.bl_type1 {padding-left:13px;font-size:16px;color:#333;text-transform:uppercase}
.bl_type1:before {content:"";background-position:right 0;width:8px;height:10px;margin:5px 5px 0 -13px}
.bl_type2 {padding-left:10px;font-family:kiaM;font-size:14px;color:#000;}
.bl_type2:before {content:"";background-position:right -11px;width:4px;height:4px;margin:6px 6px 0 -10px}
.bl_type3 {padding-left:10px;font-family:kiaM;font-size:12px;color:#666;}
.bl_type3:before {content:"";background-position:right -16px;width:4px;height:4px;margin:8px 6px 0 -10px}
.bl_type4 {padding-left:7px;font-family:kiaM;font-size:12px;color:#767676;}
.bl_type4:before {content:"";width:3px;height:3px;margin:8px 4px 0 -7px;background:#aeaeae}
.bl_type_a {display:inline-block;padding-left:10px;text-decoration:underline;font-size:12px;color:#333}
.bl_type_a:before {content:"";background-position:right -21px;width:5px;height:7px;margin:6px 5px 0 -10px;}
.bl_type_note {position:relative;padding-left:24px;font-size:12px}
.bl_type_note:before {content:"";background-position:-38px 0;width:16px;height:16px;position:absolute;top:2px;left:0}
.bl_type_note .note_dt {color:#767676;text-transform:uppercase}
.bl_type_note .note_dd {color:#9c9c9c;line-height:16px;margin:3px 0 0 0}
.note_area {border-top:1px solid #d7d7d7;padding-top:9px;margin-top:10px}

/* 리스트 */
.list_type1{padding:12px 0 0 12px}
.list_type1 ul{padding-left:10px}
.list_type1 li:last-child{padding-bottom:4px}

.accordion{position:relative;margin:0 auto;margin-bottom:10px;border:1px solid #e3e3e3;background-color:#fff}/* accordion */
.accordion > .btnOpen{display:block;padding:19px 29px;text-decoration:none;color:#333}
.accordion > .btnOpen h4{font-size:21px}
.accordion > .btnOpen span{position:absolute;top:21px;right:20px;width:18px;height:10px;background:url(../images/sales/spr_accordian_w.png) 0 100%}
.accordion_on > .btnOpen{padding:29px 29px 12px}
.accordion_on > .btnOpen span{top:35px;background-position:0 0}
.accordion .con{display:none}
.accordion_on .con h5{margin:15px 0}
.accordion_on .con{display:block;padding:0 29px 30px}

/* 페이징 */
.pg_num_area {text-align:center;margin-top:20px;font-size:0;vertical-align:top}
.pg_num_area .pg_arrow {display:inline-block;width:8px;height:13px;vertical-align:top;margin-top:8px;}
.pg_num_area .pg_prev {background-position:0 -64px;margin-right:8px;}
.pg_num_area .pg_next {background-position:-14px -64px;margin-left:8px;}
.pg_num_area .pg_num {display:inline-block;width:30px;height:30px;border:1px solid #e4e4e4;background:#fff;border-radius:2px;font-size:12px;color:#464646;text-align:center;line-height:30px;margin:0 5px;}
.pg_num_area .pg_num_on {background:#898989;border:1px solid #898989;color:#fff}

.pg_btn_area {text-align:center;margin-top:25px;font-size:0px;vertical-align:top}
.pg_btn_area .pg_btn {display:inline-block;background-position:-91px -61px;width:10px;height:10px;margin:0 2px;}
.pg_btn_area.pg_btn_w .pg_btn {background-position:-102px -61px}
.pg_btn_area .pg_btn.pg_btn_on {background-position:-80px -61px}

/* 테이블 */
.tleft {text-align:left!important}
.tright {text-align:right!important}
.tcenter {text-align:center!important}

.table_type1 {position:relative;}
.table_type1:before {content:"";display:block;background:#bb162b;width:100%;height:2px;position:absolute;top:0}
.table_type1:after {content:"";display:block;background:#7d7d7d;width:100%;height:2px;position:absolute}
.table_type1 th {background:#f5f5f5;padding:8px 18px}
.table_type1 td {padding:12px 18px;color:#666;line-height:20px;text-align:center}
.table_type1 th, .table_type1 td {border-left:1px solid #d6d6d6;}
.table_type1 th:first-child, .table_type1 td:first-child {border-left:0}
.table_type1 tbody tr {border-top:1px solid #d6d6d6}
.table_type1 tbody tr:first-child {border-top:0}

.table_type2 {border:1px solid #e2e2e2}
.table_type2 th, .table_type2 td {border:1px solid #e2e2e2;font-family:kiaM;font-size:12px;padding:8px 15px;text-align:center}
.table_type2 th {background:#f8f8f8;border-bottom:0}
.table_type2 td {color:#666}

.table_type3 {border-bottom:2px solid #7d7d7d}
.table_type3 th, .table_type3 td {padding:8px 15px;text-align:center;border-left:1px solid #d6d6d6}
.table_type3 th:first-child, .table_type3 td:first-child {border-left:0}
.table_type3 th {background:#f5f5f5;}
.table_type3 td {border-top:1px solid #d6d6d6;color:#666}

.m_table_type1{margin:-15px}
.m_table_type1 li{padding:12px 15px;border-top:1px solid #e3e3e3;background-color:#fff}
.m_table_type1 strong{display:inline-block;margin-bottom:4px}
.m_table_type1 span{font-size:13px}

.m_table_type2{border:1px solid #d6d6d6;border-top:none;font-size:11px;background-color:#f8f8f8}
.m_table_type2 li{position:relative;border-top:1px solid #d6d6d6}
.m_table_type2 .on .btnTit span{background-position:0 100%}
.m_table_type2 .on ul{display:block}
.m_table_type2 .btnTit{display:block;padding:10px;color:#333}
.m_table_type2 .btnTit span{position:absolute;top:13px;right:10px;width:12px;height:12px;background:url(../images/sales/spr_list_m.png) 0 0;background-size:12px 24px}
.m_table_type2 ul{display:none}
.m_table_type2 ul li{padding:10px;background-color:#fff}
.m_table_type2 ul li:after{content:"";display:block;clear:both}
.m_table_type2 ul li em{display:block;float:left;width:50%}
.m_table_type2 ul li span{display:block;float:right}

.m_table_type3{border:1px solid #d6d6d6;border-top:none;font-size:14px;background-color:#f8f8f8}
.m_table_type3 li{position:relative}
.m_table_type3 li a{display:block;padding:10px;border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;font-family:kiaM;text-decoration:none;color:#333}
.m_table_type3 ul{padding:10px;background-color:#fff}
.m_table_type3 ul li{padding:10px 0 0;color:#666}
.m_table_type3 ul li:first-child{padding-top:0}
.m_table_type3 ul li:after{content:"";display:block;clear:both}
.m_table_type3 ul li em{display:block;float:left;width:50%}
.m_table_type3 ul li span{display:block;float:right}

/* 팝업 */
.popup_wrap {position:absolute;top:0;left:0;margin:41px 15px;min-width:290px;z-index:991}
.popup_wrap .closeBtn {position:absolute;top:0;right:0;}
.popup .pop_tit {font-size:22px;background:#eee;border-bottom:3px solid #bb162b;padding:15px 25px;color:#000}
.popup .pop_con {padding:25px;background:#fff}
.popup .closeBtn {padding:18px}
.popup_viewer .viewer_img img {width:100%}
.popup_viewer .viewer_dsc {background:#fff;padding:18px 30px}
.popup_viewer .viewer_dsc .tit {font-size:15px;font-family:kiaM}
.popup_viewer .viewer_dsc .txt {font-size:13px;color:#666;margin-top:10px}
.popup_note .note_con {border-top:5px solid #bb162b;padding:35px 50px;background:#fff}
.popup_note .note_con .tit {font-size:20px;color:#464646;margin-bottom:15px}
.popup_note .note_con .txt {line-height:22px}
.popup_email .pop_tit {background:#f7f7f7;padding:20px;border-bottom:1px solid #d6d6d6}
.popup_email .pop_tit .tit {font-size:22px;color:#666;display:inline-block;margin-right:5px}
.popup_email .pop_tit .by {font-size:12px;color:#bb162b}
.popup_email .pop_con {background:#fff;padding:20px}
.popup_email .pop_con label {display:inline-block;margin-bottom:5px}
.popup_email .pop_con .send_name {float:left;width:48%}
.popup_email .pop_con .send_mail {float:right;width:48%}
.popup_email .pop_con .send_con {clear:both;padding-top:10px;}
.popup_email .pop_con .send_con .input_box {height:150px}
.popup_email .closeBtn {top:10px;right:10px}

/* Desktop Device 코드 작성 */
#wrap {min-width:320px}
#header, #content, #footer {width:100%;position:relative}
.in_wrap {width:940px;padding:0 10px;margin:0 auto}

.dummy_header {display:block;width:100%;height:86px;background:rgba(255,0,0,0.3) url(../images/@header.png) center 0 no-repeat;text-align:center;color:#fff;font-size:40px;font-family:kiaB;line-height:86px;}
.dummy_footer {display:block;width:100%;height:100px;background:rgba(255,0,0,0.3);color:#fff;text-align:center;color:#fff;font-size:40px;font-family:kiaB;line-height:100px;}

#header {border-bottom:4px solid #bc162c;}
/*
.open_gnb {display:none;}
.gnb_area {text-transform:uppercase}
.gnb_area .spr_build {font-family:kiaB;font-size:15px;}
*/

#content {padding:48px 0 55px 0;margin:0 auto;position:relative;background:url(../images/common/bg_container.png) repeat}
.content_title {zoom:1}
.content_title:after {content:"";height:30px;clear:both;display:block}
.content_title .con_tit {float:left}
.content_title .con_share {float:right}
.content_title .con_share .share {text-transform:uppercase;font-size:11px;color:#666;margin-right:6px;line-height:22px;font-family:kiaB}
.content_box {background:#fff;border:1px solid #e3e3e3;border-top:0;padding:30px 19px;position:relative}


/* Tablet Device 및 작은 해상도의 랩탑이나 데스크톱에 대응하는 코드 작성 */
@media all and (max-width:1024px) {
.t_none {display:none!important} /* 타블렛 디바이스에서 사라지는 영역 */

.in_wrap {width:auto;padding:0 15px;}

.dummy_header {background-position:center -90px}

#content {padding:48px 0 60px 0;}
}

/* Mobile Device 코드 작성 */
@media all and (max-width:767px) {
.m_none {display:none!important} /* 모바일 디바이스에서 사라지는 영역 */
.w_none {display:block!important} /* 웹일때 사라졌던 컨텐츠가 모바일에서 보임 */
.m_wide {margin-left:-15px!important;margin-right:-15px!important} /* 모바일 디바이스에서 가로 풀사이즈인 영역 */

/* 블릿 */
.con_tit {color:#000;font-size:18px;line-height:18px;}
.con_tit:after {content:"";display:block;width:40px;height:2px;background:#bb162b;margin-top:12px;}

/* 탭 */
.content_tab .tab_li {width:50%;}

/* 스텝 */
.content_step .step_li {margin:0 -15px;margin-bottom:1px}
.content_step .step_bar {display:table;width:100%;min-height:45px;border:0;border-bottom:1px solid #919191;background:#a2a2a2;line-height:18px;font-size:14px;position:relative}
.content_step .step_bar .step {display:table-cell;width:95px;padding:10px 0 10px 15px;margin:0;border:0;vertical-align:middle;font-family:kiaM;position:static}
.content_step .step_bar .step:after {display:none}
.content_step .step_bar .selcon {display:table-cell;padding:10px 45px 10px 15px;color:#fff;vertical-align:middle}
.content_step .step_bar .selcon:before {content:"";display:inline-block;width:1px;height:14px;background:rgba(225,225,225,0.5);margin:-7px 15px 0 -15px;position:absolute;top:50%;}
.content_step .step_bar .selcon .sel {color:#fff}
.content_step .step_bar .selcon .info {display:none}
.content_step .step_past .step_bar .step:after {display:inline-block;background-position:0 -126px;width:22px;height:22px;position:absolute;top:50%;right:15px;margin-top:-11px}
.content_step .step_past .step_bar .selcon {color:#fff}
.content_step .step_open .step_bar {background-color:#bb162b;border-color:#a71426}
.content_step .step_open .step_con {margin:0 15px}

/* 폼 */
.form_sch .sch_open {display:block;border-radius:19px;height:38px;padding:10px 10px;border:1px solid #e5e5e5;float:right;}
.form_sch .sch_box.sch_round {display:none;}
.form_sch .sch_box.sch_round.sch_on {display:block;}

/* 리스트 */
.list_type1{padding:12px 0 0 0}

.accordion_wrap{margin:0 -15px} /* accordion */
.accordion{margin:0;padding:0;border-left:none;border-right:none;border-bottom:none}	
.accordion:last-child{border-bottom:1px solid #e3e3e3}
.accordion > .btnOpen{padding:0}
.accordion > .btnOpen h4{padding:14px 15px;font-size:15px}
.accordion > .btnOpen span{position:absolute;top:18px;right:10px;width:18px;height:10px;background:url(../images/sales/spr_accordian_m.png) 0 100%;background-size:18px 20px}
.accordion_on > .btnOpen span{background-position:0 0}
.accordion_on > .btnOpen h4{color:#fff;background-color:#bc162c}
.accordion_on .con{padding:15px;background:url(../images/common/bg_container.png) repeat}
.accordion_on .con h5{margin:0 0 15px}

/* 박스 */
[class*=line_box]{padding:15px;border:1px solid #d6d6d6;background-color:#fff}
.line_box1{border-top:none}
.line_box1:first-child{border-top:1px solid #d6d6d6}
.line_box2{margin-top:15px}


/* 페이징 */
.pg_num_area {margin-top:15px;}

/* 테이블 */
.table_type1 th {padding:8px;}
.table_type1 td {padding:8px;}

/* 팝업 */
.popup .pop_tit {padding:12px 15px;font-size:20px}
.popup .pop_con {padding:20px 15px;}
.popup .closeBtn {padding:15px}
.popup_viewer .viewer_dsc {padding:18px 20px}
.popup_viewer .viewer_dsc .tit {font-size:15px;font-family:kiaM}
.popup_viewer .viewer_dsc .txt {font-size:13px;color:#666;margin-top:10px}
.popup_note .note_con {padding:35px 15px;}
.popup_email .pop_tit {padding:20px 15px 0 15px;border-bottom:0;background:#fff}
.popup_email .pop_tit .tit {display:block;margin-bottom:10px}
.popup_email .pop_con {padding:0 15px 20px 15px}
.popup_email .pop_con label {display:inline-block;margin-bottom:5px}
.popup_email .pop_con .send_name {float:none;width:100%;padding-top:10px;}
.popup_email .pop_con .send_mail {float:none;width:100%;padding-top:10px;}
.popup_email .pop_con .send_con {clear:both;padding-top:10px;}
.popup_email .pop_con .send_con .input_box {height:150px}
.popup_email .closeBtn {right:0}

.dummy_header {background-position:center -90px;background-size:700px 131px;height:38px;font-size:20px;line-height:38px}

/*
#header {padding:6px 0;}
#header .logo_h1 {margin:0 10px;}
#header .logo_h1 .lg_img {width:51px;height:26px}
.open_gnb {display:inline-block;width:46px;height:14px;padding:12px 0;background:#333;text-align:center;position:absolute;top:0;right:0}
.gnb_area {position:absolute;top:41px;left:0;width:100%;z-index:999;background:#fff}
.open_gnb {display:inline-block;width:46px;height:14px;padding:12px 0;background:#333;text-align:center;position:absolute;top:0;right:0}
.gnb_area {position:absolute;top:41px;left:0;width:100%;z-index:999;background:#fff}
.gnb_area .gnb_nav {font-family:kiaB;text-transform:uppercase;}
.gnb_area .gnb_nav .dth1_l {border-top:1px solid #dbdbdb;}
.gnb_area .gnb_nav .dth1_l:first-child {border-top:0;}
.gnb_area .gnb_nav .dth1_l .dth1_a {display:block;padding:15px 10px;font-size:16px;color:#333}
.gnb_area .gnb_nav .dth1_l .dth1_a:after {content:"";float:right;vertical-align:middle;margin-top:-2px;}
.gnb_area .gnb_nav .dth2_u {display:none;background:#fafafa;padding:10px;}
.gnb_area .gnb_nav .dth2_l {border-top:1px solid #d8d8d8;}
.gnb_area .gnb_nav .dth2_l:first-child {border-top:0;}
.gnb_area .gnb_nav .dth2_l .dth2_a {display:block;padding:8px 12px;color:#454545}
.gnb_area .gnb_nav .dth_on .dth1_a {background:#bc162c;color:#fff;}
.gnb_area .gnb_nav .dth_on .dth1_a:after {background-position:0 -23px;}
.gnb_area .gnb_nav .dth_on .dth2_u {display:block;}
.util_area .util_menu {background:#eaeaea; border-top:1px solid #cfcfcf;margin:0 0 0 -1px}
.util_area .util_menu li {border-bottom:1px solid #cfcfcf;width:50%;float:left}
.util_area .util_menu .util_a {display:block;border-top:1px solid #f0f0f0;border-left:1px solid #cfcfcf;padding:10px;color:#676767;font-family:kiaB;}
.util_area .util_menu .util_a:before {content:"";margin:6px 8px 0 0}
.util_area .util_search {margin:15px 20px;}
.util_area .util_search .u_sch_box {border:1px solid #d0d0d0; padding:0 66px 0 0;position:relative}
.util_area .util_search .u_sch_box .sch_inp {width:100%;padding:8px 13px;border:0}
.util_area .util_search .u_sch_box .sch_btn {position:absolute;top:0;right:0;padding:7px 9px;}
.go_build {text-align:center; margin:20px 0;}
*/

#content {padding:24px 0 40px 0;}
.content_title:after {height:15px}
.content_title .con_share .share {display:none}
.content_box {padding:20px 10px;border:1px solid #e3e3e3;margin:15px 0}

#footer {}
}