<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<base href="https://www.samsungcard.com" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/cs_main.css" />
	<link rel="stylesheet" type="text/css" href="/css/mv_submain.css" />
	<link rel="stylesheet" type="text/css" href="/css/ms_login.css" />
	<link rel="stylesheet" type="text/css" href="/css/cd.css" />
</head>

<body>

<div class="tabbrowse_content">
<!-- 여기부터 시작 -->

		<div id="wrap">
		<p id="title">
		<% if("M2".equals(SiteGubun)) { %>
            <a href="/microSite/cardMain.jsp"><img src="/images/cd/microSite/tit_samsung.png"   alt="삼성카드 2" /></a>
		<%}else{%>
            <a href="/showroom/scard.jsp"><img src="/images/cd/showroom_title.jpg"   alt="삼성카드 갤러리" /></a>
		<%}%>
		</p>
		<div  class="card-app-box">
			<h1><%=vo.getCardName() %>신청하기</h1>
			<div id="content-box" > 
				<div id="content" > 
					<ul id="flow-3" class="flow">
						<li>실명인증 및 약관동의</li>
						<li>신청정보 입력</li>
						<li><strong>신청완료</strong></li>
					</ul>
			 		<p class="txt-card-ok">
						<img src="/images/cd/txt_card_ok.gif"   alt="선택하신 카드신청이 완료되었습니다." />
					</p>
					<div class="card-info">
						<h2><img src="/images/cd/h2_card_3_1.gif" alt="카드 신청내역 확인하세요" /></h2>
						<div class="info"> 
							<div class="table">
								<table summary="성명, 주민등록번호, 신청카드명, 신청일시, 카드수령지로 구성된 카드신청내역입니다."> 
								<caption>카드신청내역</caption>
									<colgroup>
										<col width="17%" />
										<col width="83%" /> 
									</colgroup>
									<tbody>
									<tr>
										<th scope="row"><p>성명</p></th>
										<td ><%=vo.getCustomerName() %></td>
									</tr>
									<tr>
										<th scope="row"><p>주민등록번호</p></th>
									   <td ><%=vo.getIdenNo1()%>-*******</td>
									</tr>
									<tr>
										<th scope="row"><p>신청카드명</p></th>
									   <td ><%=vo.getCardName() %></td>
									</tr>
									 <tr>
										<th scope="row"><p>신청일시</p></th>
									   <td ><%=vo.getApplicationDate().substring(0,4) %>년 <%=vo.getApplicationDate().substring(4,6) %>월 <%=vo.getApplicationDate().substring(6,8) %>일 <%=vo.getApplicationTime().substring(0,2) %>시 <%=vo.getApplicationTime().substring(2,4) %>분</td>
									</tr>
									<tr>
										<th scope="row"><p>카드수령지</p></th>
										<td >[<%=vo.getZipCode1() %>-<%=vo.getZipCode2() %>] <%=vo.getAddrArea() %> <%=vo.getAddrDist() %></td>
									</tr>
									</tbody>
								</table>
							  </div>
						</div>
					</div> 
					 
					<div id="btn-bottom">
						<a href="javascript:backUrl();"><img src="/images/cd/btn_ok_2.gif"   alt="확인" /></a>
						 
					</div>
				</div>
				<!-- e: content -->  
			</div>
		</div>
		<p id="footer">
		<% if("M2".equals(SiteGubun)) {      %>
			<img src="/images/cd/microSite/txt_copyright.png"  alt="Copyright ⓒ 2013 SAMSUNGCARD CO.,Ltd. All Rights Reserved." />
			<img src="/images/cd/microSite/logo_samsungCard.png" class="png24" style="margin:3px 9px 0 0;" alt="삼성카드" /><img src="/images/cd/microSite/logo_samsung.png" class="png24" alt="samsung" />
		<%}else{%>
			<img src="/images/cd/showroom_footer.jpg"  z alt="Copyright (c) 2013 SAMSUNGCARD Corp. All Rights Reserved." />
		<%}%>
		</p>
	</div>
 	<style>

/* Select */

    </style>
   <form name="xecure"><input type="hidden" name="p" /></form>
    <!--nProtect 키보드보안 적용여부 시작--><!-- URL 감시 기능 없음.매 페이지에 들어가야 함. -->
    <script type="text/javascript" language="javascript" src="http://www.samsungcard.com/keycrypt/npkcx.js"></script>
    <!--nProtect 키보드보안 적용여부 끝-->
	<%@ include file="/WEB-INF/jsp/common/cardapp_footer.jsp" %>     
