/* HTML */
BODY	{background-color:#FFFFFF; color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px; margin:0;}

TABLE, TR	{}
TD, TH	{color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px}
IMG	{border:0}



html{height:100%;}
body{
	margin:0px;padding:0px;
	height:100%;
	*word-break:break-all;-ms-word-break:break-all;
}
img{border:0;vertical-align:top;}
a:link {font-family: µ¸¿ò,µ¸¿òÃ¼,verdana,tahoma,arial; text-decoration: none; color:#4D4D4D; }
a:visited {font-family: µ¸¿ò,µ¸¿òÃ¼,verdana,tahoma,arial; text-decoration: none; color:#4D4D4D; }
a:hover {font-family: µ¸¿ò,µ¸¿òÃ¼,verdana,tahoma,arial; text-decoration: underline; color:#3A7AC8; }
a:active {font-family: µ¸¿ò,µ¸¿òÃ¼,verdana,tahoma,arial; text-decoration: none; color:#4D4D4D; }









/* FORM */
SELECT, TEXTAREA	{color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px}
input.radio {height: 15px}
input.checkbox {height: 15px}
input.text  {color:#333333; font-family:µ¸¿ò; font-size:12px}
input.rotext  {color:#333333; font-family:µ¸¿ò; font-size:12px; margin-top:2}
input.itemname  {color:#496BA5; font-family:µ¸¿ò; font-size:12px; margin-top:2}
input.text01    {border:1 solid #C5C5C5; color:#333333; font-family:µ¸¿ò; font-size:12px}
input.item  {border-width:1 0 1 1; border-color:#D9D0C0; border-style:solid; height:19; text-align:center; color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px}
input.item01  {border-width:1 0 1 1; border-color:#DADADA; border-style:solid; height:19; text-align:center; color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px}
input.item02  {border-width:1; border-color:#D9D0C0; border-style:solid; height:19; text-align:center; color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px}
select.calendar    {color:#7A5E30}
input02   {color:#6F7070;font-size:12px;}
/*20070223 Ãß°¡*/
input.item03  {border-width:1; border-color:#F8BC8D; background-color:#FDEFE3; border-style:solid; height:19; text-align:center; color:#333333; font-family:µ¸¿ò; font-size:12px; line-height:17px}
/*20080326 Ãß°¡*/
input.text02  {color:#333333; font-family:µ¸¿ò; font-size:12px; background-color:#F9F1B3}


/* LINK */
a:link, a:visited, a:active	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a:hover	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.linemap01	{color:#A8A8A8; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.linemap01:link, a.linemap01:visited, a.linemap01:active 	{color:#A8A8A8; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.linemap01:hover	{color:#A8A8A8; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}

.linemap02	{color:#7D7D7D; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}

.lmn	{color:#444444; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:18px}
a.lmn:link, a.lmn:visited, a.lmn:active 	{color:#444444; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:18px}
a.lmn:hover		{color:#7CA234; font-family:µ¸¿ò; font-size:11px; text-decoration:underline; line-height:18px;}

td.lmn	{padding:0 0 0 6}

.lmn_elw	{color:#51669F; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.lmn_elw:link, a.lmn_elw:visited, a.lmn_elw:active 	{color:#333333; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.lmn_elw:hover		{color:#51669F; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
td.lmn	{padding:0 0 0 8}2005-11-30

.lmn_s	{color:#7CA234; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:18px}
a.lmn_s:link, a.lmn_s:visited, a.lmn_s:active 	{color:#7CA234; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:18px}
a.lmn_s:hover		{color:#7CA234; font-family:µ¸¿ò; font-size:11px; text-decoration:underline; line-height:18px}

.asia{color:#157ECF; font-family:µ¸¿ò; font-size:11px; text-decoration:none; }
a.asia:link, a:visited, a:active	{color:#157ECF; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.asia:hover	{color:#157ECF; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}


 .mail{color:#221F1E; font-family:µ¸¿ò; font-size:11px; text-decoration:none; }
a.asia:link, a:visited, a:active	{color:#221F1E; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.asia:hover	{color:#221F1E; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

/* TEXT */

.title_num  {background-color:#8BB9CC; color:#FFFFFF; font-family:verdana; font-size:10px; font-weight:bold; padding:0 3 1 2}

.ufo_blue  { color:#3168A1; font-family:µ¸¿ò; font-size:12px;}

.ufo_blue02  { color:#125AB3; font-family:µ¸¿ò; font-size:12px;}

.ufo_blue_b  { color:#125AB3; font-family:µ¸¿ò; font-size:12px; font-weight:bold;}

.ufo_org  { color:#E77326; font-family:µ¸¿ò; font-size:12px;}

.notice_blue  { color:#3071A9; font-family:µ¸¿ò; font-size:12px;}

.cbo_blue { color:#42679D; font-family:µ¸¿ò; font-size:12px;}

.cbo_org { color:#ED6816; font-family:µ¸¿ò; font-size:12px;}

.cbo_org_b { color:#ED6816; font-family:µ¸¿ò; font-size:14px;}

.cbo_brown {color:#8C7960;  font-family:µ¸¿ò; font-size:12px;}

.cbo_b {color:#585858;  font-family:µ¸¿ò; font-size:14px;}

.sms_blue { color:#284275; font-family:µ¸¿ò; font-size:12px;}

.sms_blue02 { color:#103BF4; font-family:µ¸¿ò; font-size:12px;}

.cma_red_b { color:#DB0B0B; font-family:µ¸¿ò; font-size:12px; font-weight:bold;}

.cma_red2_b { color:#D73800; font-family:µ¸¿ò; font-size:14px; font-weight:bold;}

.cma_grey2_b { color:#666666; font-family:µ¸¿ò; font-size:14px; font-weight:bold;}

.cma_blue { color:#3978C1; font-family:µ¸¿ò; font-size:12px; font-weight:bold;}

.cma_blue2 { color:#3A79C0; font-family:µ¸¿ò; font-size:12px;}

.cma_gray { color:#988675; font-family:µ¸¿ò; font-size:12px; font-weight:bold;}


/* °øÅë ÅØ½ºÆ® ÄÃ·¯ */

.txt_s	{font-size:11px}
a.txt_s:link, a.txt_s:visited, txt_s:active {font-size:11px; text-decoration:none;}
a.txt_s:hover {font-size:11px; text-decoration:none;}

.txt_s10	{font-size:10px}

.txt_nr  {letter-spacing:-1}

.txt_7f {color:#666666; font-family:µ¸¿ò}
a.txt_7f:link, a.txt_7f:visited, txt_7f:active {color:#666666; text-decoration:none;}
a.txt_7f:hover {color:#333333; text-decoration:underline;}


.txt_716 {color:#716C5C; font-family:µ¸¿ò; letter-spacing:-1}
a.txt_716:link, a.txt_716:visited, txt_716:active {color:#716C5C; text-decoration:none;}
a.txt_716:hover {color:#716C5C; text-decoration:none;}


.txt_ud_s	{text-align:right; font-size:11px; padding-right:3}

.txt_b  {font-weight:bold}


.els_link {color:#333333; font-family:µ¸¿ò}
a.els_link:link, els_link:active {color:#EC6702; font-weight: bold; text-decoration:none;}
a.els_link:hover {color:#EC6702; font-weight: bold; text-decoration:none;}

.els_link02 {font-color:#EC6702; font-family:µ¸¿ò; font-weight: bold;}
a.els_link02:link,els_link02:visited,els_link02:active {color:#EC6702; font-weight: bold; text-decoration:none;}
a.els_link02:hover {color:#EC6702; font-weight: bold; text-decoration:none;}

.els_other {font-color:#B7A013; font-family:µ¸¿ò; font-weight: bold;}
a.els_other:link,els_other:visited,els_other:active {color:#B7A013; font-weight: bold; text-decoration:none;}
a.els_other:hover {color:#B7A013; font-weight: bold; text-decoration:underline;}

.cst_new {font-color:#666666; font-family:µ¸¿ò; font-weight: normal;}
a.cst_new:link,cst_new:visited,cst_new:active {color:#666666; font-weight: normal; text-decoration:none;}
a.cst_new:hover {color:#ff6600; font-weight: bold; text-decoration:none;}


.txt_b63 {color:#6380C1}

.txt_98 {color:#988675}
a.txt_98:link, a.txt_98:visited, txt_98:active {color:#988675; text-decoration:none;}
a.txt_98:hover {color:#988675; text-decoration:none;}
.txt_66  {color:#666666}
a.txt_66:link, a.txt_66:visited, txt_66:active {color:#666666; text-decoration:none;}
a.txt_66:hover {color:#666666; text-decoration:none;}
.txt_w  {color:#FFFFFF}
.txt_8C   {color:#8C7960}
.txt_78   {color:#785B32}
.txt_8b {color:#8B8478}
.txt_00 {color:#000000}
.txt_51 {color:#515151}
.txt_b3 {color:#B39C69}
.txt_a9 {color:#A98E68}
.txt_22 {color:#223B6C}
.txt_726a {color:#726A63}
.txt_CC {color:#CCCCCC}
.txt_BB {color:#BBBBBB}
.txt_6E {color:#6E6E6E}
.txt_52 {color:#515151; font-size:12px; line-height:16px}

a.txt_6E:link, a.txt_6E:visited, txt_6E:active {color:#6E6E6E; text-decoration:none;}
a.txt_6E:hover {color:#6E6E6E; text-decoration:none;}
.txt_BA {color:#8A8A8A}
a.txt_BA:link, a.txt_BA:visited, txt_BB:active {color:#8A8A8A; text-decoration:none;}
a.txt_BA:hover {color:#8A8A8A; text-decoration:none;}
.txt_42 {color:#42679D}

.txt_p01    {color:#F87B01} /* text point color */
.txt_p02    {color:#428AC6}
.txt_p03    {color:#496BA5}
.txt_p04    {color:#828282}

.txt_msg    {color:#284275}

.txt_m_left	{color:#A88667; font-size:11px}
a.txt_m_left:link, a.txt_m_left:visited, txt_m_left:active {color:#A88667; font-size:11px; text-decoration:none;}
a.txt_m_left:hover {color:#CE6B31; font-size:11px; text-decoration:none;}

.m_link01   {color:#6D6E6E}
a.m_link01:link, a.m_link01:visited, m_link01:active {color:#6D6E6E; text-decoration:none; letter-spacing:-1}
a.m_link01:hover {color:#6D6E6E; text-decoration:none; letter-spacing:-1}


/* IFRAME */
.if_border01	{border:1 solid #CFCFCF}
.if_border02	{border:1 solid #E1E1E1}
.if_border03	{border-width:1 0 1 1; border-style:solid; border-color:#E1E1E1}

/* IMG */
.bu01	{margin:0 5 2 1}
.bu02	{margin:0 0 2 0}
.bu03	{margin:0 0 1 0}
.bu04	{margin:0 5 3 1}
.bu05	{margin:0 1 3 0}
.bu06	{margin:0 1 3 15}
.bu07	{margin:0 0 3 0}
.bu08   {margin:0 0 2 4}
.bu09	{margin:7 0 0 0}
.bu10	{margin:0 6 2 0}
.bu11	{margin:2 0 0 0}
.bu12	{margin:0 3 2 3}
.bu13	{margin:0 0 0 100}


.ebi_txt_01 {color:#7E7E7E}
.ebi_txt_02 {color:#3D659B}


/* ¿Â¶óÀÎ»óÇ° - qhe*/
.brd_01 { color:#42679C; font-weight:bold; }
.brd_txt { color:#666666;}
.brd_txt a.:link { text-decoration: none; color: #666666;}
.brd_txt a.:visited {text-decoration: none; color: #666666;}
.brd_txt a.:hover {text-decoration: none; color: #333333;}


/* my gooi */
.myg_m_txt01	{color:#988675} /* ui */
.myg_m_txt02	{color:#B39C69} /* qna + clipping */
.myg_m_txt03	{padding-left:3; font-size:11px}
.myg_m_txt04	{color:#988675; font-weight:bold}
.myg_m_txt05	{color:#666666; font-weight:bold}

.myg_ml_lnk {color:#666666}
a.myg_ml_lnk:link, a.myg_ml_lnk:visited, a.myg_ml_lnk:active	{color:#666666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.myg_ml_lnk:hover	{color:#8C7960; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}


.txt_mr_lnk	{color:#7f7f7f}
a.txt_mr_lnk:link, a.txt_mr_lnk:visited, txt_mr_lnk:active {color:#7f7f7f; font-size:12px; text-decoration:none; line-height:17px}
a.txt_mr_lnk:hover {color:#8C7960; font-size:12px; text-decoration:underline; line-height:17px}


/* chart */
a.txt_chart_78:link, a.txt_chart_78:visited, a.txt_chart_78:active	{color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.txt_chart_78:hover	{color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.myg_diary  {color:#666666}
a.myg_diary:link, a.myg_diary:visited, a.myg_diary:active  {color:#666666; text-decoration:none; line-height:17px}
a.myg_diary:hover  {color:#8C7960; text-decoration:none}

.myg_iche_arrow {color:#ffffff; font-size:10px}
.myg_iche_txt02 {color:#ffffff; font-size:12px}
td.myg_td01 {background-color:#ffffff; border-style: solid; border-width: 0 1 1 1; border-color: #C7C6C1}
.myg_ac_txt01 {color:#8A8478}
.myg_ac_txt02 {color:#8C7960}
.myg_ac_txt03 {color:#8C7960; font-weight:bold}
.myg_ac_txt04 {color:#738089; font-weight:bold}
td.myg_td06 {background-color:#E5E2DB; text-align:center; color:#8C8479;}
input.myg_in01 {background-color:#ffffff;font-family:µ¸¿ò; font-size:12px; color:#666666; border: 1 solid #BBA691; border-width: 1 0 1 1; height:19}

/* util */
.util_txt_01 {color:#F87B01; font-weight:bold;}
.util_txt_02 {color:#2171B2; font-weight:bold;}
.util_txt_03 {color:#0017C7; font-family:µ¸¿ò}
a.util_txt_03:link, a.util_txt_03:visited, a.util_txt_03:active  {color:#0017C7; text-decoration:underline}
a.util_txt_03:hover  {color:#0017C7; text-decoration:underline}
.util_txt_04 {color:#008000}



/*¹Ù·Î°¡±â ÆË¾÷ ¹Ú½º¾È¿¡ µé¾î°¡´Â... */

a.quick:link, a.quick:visited, a.quick:active	{color:#000099; font-family:µ¸¿ò; font-size:12px; line-height:17px; margin:0 ;text-decoration:underline}
a.quick:hover	{color:#000099; font-family:µ¸¿ò; font-size:12px; line-height:17px; margin:0 ;text-decoration:underline}

a.quick01_01:link, a.quick01_01:visited, a.quick01_01:active	{color:#616E8E; font-family:µ¸¿ò; font-size:11px; line-height:17px; margin:0;letter-spacing:-1}
a.quick01_01:hover	{color:#616E8E; font-family:µ¸¿ò; font-size:11px; line-height:17px; margin:0;letter-spacing:-1}

.quick_01  {color:#616E8E; font-family:µ¸¿ò; font-size:11px; line-height:17px; margin:0;letter-spacing:-1}
.quick_02  {color:#387DD8; font-family:µ¸¿ò; font-size:12px; line-height:17px; margin:0 ;font-weight:bold}
.quick_03  {color:#F87B01; font-family:µ¸¿ò; font-size:12px; line-height:17px; margin:0 ;font-weight:bold}
.quick_04  {color:#000099; font-family:µ¸¿ò; font-size:12px; line-height:17px; margin:0 ;text-decoration:underline}


/*¼±¹°¿É¼Ç-¼±¹°... */

.s_op_01  {color:#F87B01; font-family:µ¸¿ò; font-size:11px; line-height:14px}

.fut_s_txt01  {color:#F87B01; font-family:µ¸¿ò; font-size:11px; line-height:14px}
.fut_s_txt02    {color:#8C7960}

.fut_b_txt03 {color:#88755E;font-weight:bold}
.fut_txt03 {color:#88755E}

.fu01	{margin:6 10 0 0}
.fu02	{margin:6 4 5 0}

.fut_m_01	{color:#B39C69}
.fut_m_02   {color:#988675}
a.fut_m_02:link, a.fut_m_02:visited, a.fut_m_02:active	{color:#988675; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.fut_m_02:hover	{color:#988675; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}


/*¸®¼­Ä¡... */

.rsh_01	{color:#496BA5;font-weight:bold}
.rsh_011	{color:#496BA5}
.rsh_02	{color:#D63028}
.rsh_03	{color:#8B8478;font-weight:bold;line-height:20px}
.rsh_032	{color:#8B8478;font-weight:bold}
.rsh_04	{color:#ff0000}
.rsh_05	{color:#0000ff}

.rsh_03_lnk {color:#666666}
a.rsh_03_lnk:link, a.rsh_03_lnk:visited, a.rsh_03_lnk:active	{color:#666666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.rsh_03_lnk:hover	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}

.rsh_08 {color:#7f7f7f}
a.rsh_08:link, a.rsh_08:visited, a.rsh_08:active	{color:#7f7f7f; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.rsh_08:hover	{color:#7f7f7f; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.rsh_06 {color:#CC6666}
a.rsh_06:link, a.rsh_06:visited, a.rsh_06:active	{color:#CC6666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.rsh_06:hover	{color:#CC6666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.rsh_07 {color:#3399CC}
a.rsh_07:link, a.rsh_07:visited, a.rsh_07:active	{color:#3399CC; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.rsh_07:hover	{color:#3399CC; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

/*È¸»ç¼Ò°³... */
.ir_03_lnk {color:#666666}
a.ir_03_lnk:link, a.ir_03_lnk:visited, a.ir_03_lnk:active	{color:#666666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.ir_03_lnk:hover	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}


/* ÁÖ½Ä */
a.stk_link:link, a.stk_link:visited, a.stk_link:active	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.stk_link:hover	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

a.kosdaq:link, a.kosdaq:visited, a.kosdaq:active	{color:#5E3E95; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.kosdaq:hover	{color:#5E3E95; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

a.future:link, a.future:visited, a.future:active	{color:#2B7279; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.future:hover	{color:#2B7279; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.stk_tbhd01	{color:#785B32; font-weight:bold; text-align:center; padding-top:3px;}
td.stk_tbhd02	{background-color:#C0B5A0; color:#FFFFFF; font-weight:bold; text-align:center}
.stk_tbhd04 {background-color:#E5E2DA; color:#8B8478};
.stk_tbhd06 {background-color:#F0EFEA;font-weight:bold; color:#8B8478};
.stk_tbhd05 {background-color:#F0EFEA; color:#8B8478};
.stk_tbhd07 {background-color:#E5E2DA;font-weight:bold; color:#8B8478};
.stk_tbhd08 {background-color:#EBE7DB;font-weight:bold; color:#8B8478};
.stk_tbhd09 {background-color:#F2F2F2;};
.stk_tbhd10{background-color:#EAE5D6;font-weight:bold; color:#8B8478};

a.stk_sise:link, a.stk_sise:visited, a.stk_sise:active	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.stk_sise:hover	{color:#F87B01; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
.stk_ly	{border-width:2 2 2 0; border-color:#F9D182; border-style:solid; padding:6 0 6 10}

.stk_s_txt01	{color:#515151}
.stk_s_txt02	{color:#666666}
.stk_s_txt03	{color:#785B32}
.stk_s_txt04    {color:#8C7960}
.stk_s_txt05    {color:#8B8478}
.stk_s_txt06    {color:#F87B01}
.stk_s_txt07    {color:#4A6DA7}
.stk_s_txt08    {color:#EDE7D8}
.stk_s_txt09	{color:#785B32;padding-right:5;}
.stk_s_txt10	{color:#586478}
.stk_s_txt11	{color:#728098}


.stk_m_01	{color:#B39C69}
.stk_m_02   {color:#988675}
a.stk_m_02:link, a.stk_m_02:visited, a.stk_m_02:active	{color:#988675; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.stk_m_02:hover	{color:#988675; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.stk_s_txt_link {color:#785B32; text-decoration:none; letter-spacing:0}
a.stk_s_txt_link:link, a.stk_s_txt_link:visited, a.stk_s_txt_link:active {color:#785B32; text-decoration:none; letter-spacing:0}

.stk_s_txt_click {color:#785B32; font-weight:bold; letter-spacing:-1}
a.stk_s_txt_click:link, a.stk_s_txt_click:visited, a.stk_s_txt_click:active {color:#785B32; font-weight:bold; text-decoration:none; letter-spacing:-1}
a.stk_s_txt_click:hover {color:#785B32; font-weight:bold; text-decoration:none; letter-spacing:-1}

.cal01  {font-size:11px; color:#7A5E30; font-family:verdana; cursor:hand}
.cal02  {font-size:11px; color:#FF0000; font-family:verdana; cursor:hand}
.cal03  {font-size:11px; color:#333333; font-family:verdana; cursor:hand}
.cal04  {font-size:11px; color:#0000FF; font-family:verdana; cursor:hand}
.cal05  {font-size:11px; color:#B4B2AA; font-family:verdana; cursor:hand}
td.cal06  {background-color:#C2B49A;font-size:11px; color:#FFFFFF; font-family:verdana; font-weight:bold; cursor:hand}

.txt_msf8	{color:#F87B01; font-size:12px}
a.txt_msf8:link, a.txt_msf8:visited, txt_msf8:active {color:#F87B01; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.txt_msf8:hover {color:#F87B01; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}


.stk_03_lnk {color:#666666}
a.stk_03_lnk:link, a.stk_03_lnk:visited, a.stk_03_lnk:active	{color:#666666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.stk_03_lnk:hover	{color:#333333; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}



/* °øÀÎÀÎÁõ¼¾ÅÍ */

.cert_smn    {color:#666666}
a.cert_smn:link, a.cert_smn:visited, a.cert_smn:active    {color:#666666; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.cert_smn:hover    {color:#EC9632; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}

/* ±âÅ¸¸Þ´º */

.tic_ed {color:#CE6563}
a.tic_ed:link, a.tic_ed:visited, a.tic_ed:active	{color:#CE6563; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.tic_ed:hover	{color:#CE6563; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.tic_mt {color:#319ACE}
a.tic_mt:link, a.tic_mt:visited, a.tic_mt:active	{color:#319ACE; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.tic_mt:hover	{color:#319ACE; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.tic_oth    {color:#666666}
a.tic_oth:link, a.tic_oth:visited, a.tic_oth:active	{color:#666666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.tic_oth:hover	{color:#666666; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

.txt_428	{color:#428AC6; font-size:11px}
a.txt_428:link, a.txt_428:visited, txt_428:active {color:#428AC6; font-size:11px; text-decoration:none;}
a.txt_428:hover {color:#428AC6; font-size:11px; text-decoration:none;}

.txt_mail01    {color:#9476B4}


.myg_acc5  {color:#8C7960; font-size:11px}
a.myg_acc5:link, a.myg_acc5:visited, a.myg_acc5:active {color:#8C7960; text-decoration:none; line-height:17px;;font-size:11px}
a.myg_acc5:hover  {color:#F87B01; text-decoration:none;font-size:11px}



/* ±Â¾ÆÀÌ °Ë»ö¼¾ÅÍ */
.txt_788 {color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:underline}
a.txt_chart_788:link, a.txt_chart_78:visited, a.txt_chart_78:active	{color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}
a.txt_chart_788:hover	{color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}


.txt_63 {color:#636363; font-family:µ¸¿ò; font-size:12px; text-decoration:underline}
a.txt_63:link, a.txt_63:visited, a.txt_63:active	{color:#636363; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}
a.txt_63:hover	{color:#636363; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}

/* ±Â¾ÆÀÌ Ä«µå¾È³» */
.txt_f87 {color:#F87B01; font-family:µ¸¿ò; font-size:12px; text-decoration:underline}
a.txt_f87:link, a.txt_f87:visited, a.txt_f87:active	{color:#F87B01; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}
a.txt_f87:hover	{color:#F87B01; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}

/* ¾ÆÄ«µ¥¹Ì */
.txt_b39	{color:#B39C69; font-size:12px}
a.txt_b39:link, a.txt_b39:visited, txt_b39:active {color:#B39C69; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}
a.txt_b39:hover {color:#B39C69; font-family:µ¸¿ò; font-size:12px; text-decoration:underline; line-height:17px}

.txt_785	{color:#785B32; font-size:12px}
a.txt_785:link, a.txt_785:visited, txt_785:active {color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}
a.txt_785:hover {color:#785B32; font-family:µ¸¿ò; font-size:12px; text-decoration:none; line-height:17px}

/* °í°´Áö¿ø */

.fxmn_off   {color:#666666; font-size:11px}
.fxmn_off a:link, .fxmn_off a:visited, .fxmn_off a:active    {color:#666666; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
.fxmn_off a:hover    {color:#000000; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.fxmn_off:link, a.fxmn_off:visited, a.fxmn_off:active    {color:#666666; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.fxmn_off:hover    {color:#000000; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}

.fxmn_on    {color:#000000; font-size:11px}
a.fxmn_on:link, a.fxmn_on:visited, a.fxmn_on:active    {color:#000000; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.fxmn_on:hover    {color:#000000; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}

/* clinic */
.cli_txt01	{color:#7D6E5C}
.cli_txt02	{color:#F99534}

/* ±Â¾ÆÀÌ¼îÇÎ¸ô */
.shop_txt01	{color:#EF3828}

.txt_shp01 {color:#666666; font-family:µ¸¿ò}
a.txt_shp01:link, a.txt_shp01:visited, txt_shp01:active {color:#666666; text-decoration:none;}
a.txt_shp01:hover {color:#8C7960; text-decoration:underline;}

.txt_mall {color:#686868}
.txt_ifm {color:#7B7563}

/* DIV BOX */
#box {overflow: auto; padding:0px;border:0 solid #ffffff; color: #ffffff;line-height:15pt;font-size:12px;}
DIV
{
scrollbar-face-color:#E6DFC9;
scrollbar-highlight-color:#E6DFC9;
scrollbar-3dlight-color:#E6DFC9;
scrollbar-shadow-color:#E6DFC9;
scrollbar-darkshadow-color:#E6DFC9;
scrollbar-track-color:F1EEE3;
scrollbar-arrow-color:B39D61;
}

.if_body
{
scrollbar-face-color:#E6DFC9;
scrollbar-highlight-color:#E6DFC9;
scrollbar-3dlight-color:#E6DFC9;
scrollbar-shadow-color:#E6DFC9;
scrollbar-darkshadow-color:#E6DFC9;
scrollbar-track-color:F1EEE3;
scrollbar-arrow-color:B39D61;
}

.if_begin
{
    scrollbar-face-color:#E2E2E2;
    scrollbar-highlight-color:#E2E2E2;
    scrollbar-3dlight-color:#E2E2E2;
    scrollbar-shadow-color:#E2E2E2;
    scrollbar-darkshadow-color:#E2E2E2;
    scrollbar-track-color:F6F6F6;
    scrollbar-arrow-color:919191;
}

.if_mall_01
{
    scrollbar-face-color:#D3E2F5;
    scrollbar-highlight-color:#D3E2F5;
    scrollbar-3dlight-color:#D3E2F5;
    scrollbar-shadow-color:#D3E2F5;
    scrollbar-darkshadow-color:#D3E2F5;
    scrollbar-track-color:#F8F9FB;
    scrollbar-arrow-color:#5880BE;
}

.body_01
{
scrollbar-face-color:#CED5E1;
scrollbar-highlight-color:#CED5E1;
scrollbar-3dlight-color:#CED5E1;
scrollbar-shadow-color:#CED5E1;
scrollbar-darkshadow-color:#F3F4F7;
scrollbar-track-color:#F3F4F7;
scrollbar-arrow-color:#6D84A7;
}

a.txt_s66:link, a.txt_s66:visited, txt_s66:active {color:#666666;font-size:11px; text-decoration:none;}



/* °í°´Áö¿ø-½ÅÇÑ±×·ì»óÇ°Ãß°¡ */
.txt_ma01 {color:#666666; line-height:14px}
.txt_ma02 {color:#F9A949;font-weight:bold; line-height:14px;  letter-spacing:-1}
.txt_ma03 {color:#666666; line-height:18px}
.txt_ma04 {color:#F7941C; line-height:14px}
.txt_ma05 {color:#8C7960;font-weight:bold; line-height:16px;}
.fn_bu01	{margin:0 10 0 0}
.txt_ma06 {color:#7A694D;font-weight:bold; line-height:16px;}
.txt_ma07 {color:#A9927C; line-height:14px;  letter-spacing:-1}
.txt_ma08 {color:#E34A2E;font-weight:bold; line-height:16px; }
.txt_ma09 {color:#1B67B2;font-weight:bold; line-height:16px; }
.txt_ma10 {color:#A9927C;}
.txt_ma11 {color:#636363;}
.txt_ma11 {color:#636363;}
.txt_ma12  {color:#0F8185}
.txt_ma13 {color:#666666; line-height:14px letter-spacing:-1}
.txt_ma14 {color:#406196;}
.tops_txt01 {color:#8D7D61; font-weight:bold;background-color:#EAE5D6;}
.tops_txt02 {color:#8D7D61; font-weight:bold;background-color:#F8F4EE;}
.tops_txt22 {color:#666666; background-color:#EAE5D6;font-size:11px}
.tops_txt03 {color:#666666; line-height:14px}
.tops_txt04 {color:#363636; font-size:12px; style-padding:"05 0 0 0"}

/* ¿ö·±Æ®Ãß°¡ */
.txt_wa01 {color:#949494; line-height:15px; font-family:µ¸¿ò; font-size:12px;}
.txt_wa02 {color:#949494; line-height:14px; font-family:µ¸¿ò; font-size:12px;}
.txt_wa03 {color:#1150A0;background-color:#EBF8FF;line-height:24px;letter-spacing:-1}
.txt_wa04 {color:#878378; font-weight:bold;background-color:#F6F3EC;}
.txt_wa05 {color:#666666;  font-family:µ¸¿ò; font-size:12px; line-height:15px}
.txt_wa06 {color:#F7941C;background-color:#F6F3EA;}
.txt_wa07 {color:#1150A0;line-height:24px;letter-spacing:-1;background-color:#FBFBFB;}
.txt_wa08 {color:#8550B2;background-color:#F2ECF7;line-height:24px;letter-spacing:-1} // ÇÎÅ©
.txt_wa09 {color:#8550B2;line-height:24px;letter-spacing:-1;background-color:#FBFBFB;}

.wa01 {margin:20 0 9 13}
.wa02 {margin:0 0 5 0}
.wa03 {margin:0 0 3 0}
.wa04 {padding:0 45 0 0;}
.wa06 {padding:0 0 0 0;color:#ED1B23;}
.wa05 {padding:0 45 0 0;color:#ED1B23;}
.txt_blue01 {color:#2974BA;}
.txt_ora01 {color:#F9951D;}
.bro01 {background-color:#EDE7D8;}
.bro02 {padding:0 8}
.bro03 {background-color:#CFCFCF;}
.bro04{background-color:#F0F0F0;}

.linemap01	{color:#A8A8A8; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.linemap01:link, a.linemap01:visited, a.linemap01:active 	{color:#A8A8A8; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.linemap01:hover	{color:#A8A8A8; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}


a.renew01:link, a.renew01:visited, a.renew01:active 	{color:#898989; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}
a.renew01:hover	{color:#898989; font-family:µ¸¿ò; font-size:11px; text-decoration:none; line-height:17px}

.m_link03   {color:#898989}
a.m_link03:link, a.m_link03:visited, m_link03:active {color:#898989; text-decoration:none; letter-spacing:-1}
a.m_link03:hover {color:#898989; text-decoration:none; letter-spacing:-1}

/*Á¢¼Ó½Ã°£*/
.time11_blue { color:#284275; font-family:µ¸¿ò; font-size:11px;}
.time12_blue { color:#284275; font-family:µ¸¿ò; font-size:12px;}


/* °Ô½ÃÆÇNew */
#newBoard	{width:745px;margin-top:20px;}
#newBoardTitle	{width:685px;height:21px;margin-left:30px;margin-bottom:0px;border-bottom:1px solid #c0c0c0;}
#newBoardSearch	{width:685px;height:50px;margin-left:30px;margin-bottom:0px;padding-top:18px;background:url('/common/img/newBoardBg_search.gif') no-repeat left top;text-align:right;}
#newBoardListAll	{width:685px;margin-left:30px;margin-bottom:15px;border-bottom:2px solid #cfcfcf;}
#newBoardListAll	.boardHD	{margin:0px;}
#newBoardListAll	td	{height:26px;background:url('/common/img/newBoardBg_dot.gif') repeat-x left bottom;color:#666666;text-align:center;}
#newBoardListAll	td.title	{padding-left:13px;text-align:left;}
#newBoardListAll	td.title	a:link,#newBoardListAll	td.title	a:visited,#newBoardListAll	td.title	a:hover	{color:#221f1e;}
#newBoardListAll	td.title	span	{color:#ec6702;}
#newBoardListAll	td.file	 {padding:3px 0px 2px 0px;vertical-align:top;}
#newBoardListAll	td.file	 img	{margin-left:-1px;margin-right:-1px;}
#newBoardListAll	tr.nobg	td	{background:none;}

#newBoardPaging	{text-align:center;margin-bottom:30px;}
#newBoardPaging	a	{margin-left:1px;margin-right:1px;color:#757574;font-weight:bold;}
#newBoardPaging	a.this	 {color:#0fa9e4;}
#newBoardPaging	img	{margin-left:-1px;margin-right:-1px;}

#newBoardRDHD	{width:685px;margin:20px 0px 10px 30px;border:2px solid #0fa9e4;border-bottom:1px solid #0fa9e4;}
#newBoardRDHD	td	{padding:5px 5px 3px 10px;background:url('/common/img/newBoard_line.gif') no-repeat right top;border-bottom:1px solid #0fa9e4;vertical-align:top;color:#666666;}
#newBoardRDHD	td.nobg	{background-image:none;}
#newBoardRDHD	td.title	{color:#333333;}
#newBoardRDHD	td.title	span	{color:#0fa9e4;}
#newBoardRDHD	td.file	 {padding-top:8px;}
#newBoardRDHD	td.file	 a	{margin-right:6px;color:#333333;}
#newBoardRDHD	td.file	 img	{vertical-align:middle;margin-top:-2px;}
#newBoardRDView	{width:685px;height:198px;margin-left:30px;margin-bottom:10px;line-height:17px;overflow-x:auto;}

#newBoardRDSlist	{width:685px;margin-left:30px;margin-bottom:10px;border-top:1px solid #0fa9e4;}
#newBoardRDSlist	th	{border-bottom:1px solid #0fa9e4;}
#newBoardRDSlist	td	{height:26px;padding-top:3px;border-bottom:1px solid #0fa9e4;}
#newBoardRDSlist	td	 a	{color:#333333;}
#newBoardRDSlist	td	span	{color:#0fa9e4;}

#newBoardBtnList	{margin-bottom:20px;text-align:center;}

#btmBtn	{width:100%;margin-top:20px;height:20px;background:#06317b;}
#btmBtn	img	{margin-left:678px;}




/* ¾ßÈÄ-½ÅÇÑ±×·ì»óÇ°Ãß°¡ */
.org{color:#F7941C; }
.infor01 {color:2A7CC5}

.bg01{background-color:#E5E5E5;height:1px;}
.imgbor{border:2px solid #CCCCCC}
.tdy {color:898989}
.tdy  td{color:898989;line-height:19px}

.aca{border-left:1px solid #DCDCDC;border-right:1px solid #D7D7D7;background-color:#F8F8F8;padding:10 0 6 0; line-height:20px}
.bul01{margin:5 6 10 15;}

.top30 {color:636363}
.top30 td{color:636363}
.top30   {color:#636363}
a.top30:link, a.top30:visited, top30:active {color:#636363; text-decoration:none; letter-spacing:-1}
a.top30:hover {color:#636363; text-decoration:none; letter-spacing:-1}

/*¸ð¹ÙÀÏÅ¬·´ Ãß°¡*/
.mobilec_txt01 {color:#5A84A2; font-weight:bold;background-color:#ECF3FA;}
.mobilec_txt02 {color:#707070; background-color:#FFFFFF;}
.mobilec_txt03 {color:#F26521; font-weight:bold;}
.mobilec_txt04 {color:#F7941C;}
.mobilec_txt05 {color:#5A84A2; font-weight:bold;}
.mobilec_txt06 {color:#707070; background-color:#F6F9FD;}

/* ipad event */
.ipadevt{width:700px;text-align:center}
.choicebox{background:url(/event/20101129_ipad/img/ipadevt_bg_choice.gif) no-repeat left top;width:652px;height:228px;margin:0;padding:0}
.choicebox li{text-align:left;padding-top:18px;height:38px}
.choicebox li input{width:45px}
.choicebox li img{vertical-align:middle}
.ipadevt p{margin:0;padding:0}
.ipadevt p.tle{margin:35px 0 13px}
.ipadevt p.btn{margin-top:30px}
.ipadevt p.copyright{margin-top:65px}
table.tblwrite{border-collapse:collapse;width:652px;text-align:left;border-top:2px solid #000}
table.tblwrite th{border-bottom:1px solid #ccc;padding:6px 0 6px 60px}
table.tblwrite td{border-bottom:1px solid #ccc;padding:6px 0}
.ipadappok{background:url('/event/20101129_ipad/img/ipadevt_appok_bg.jpg') no-repeat left top;width:345px;height:265px;}
.ipadappok p.msg{margin:0;padding:102px 0 0 0;text-align:center;}
.ipadappok p.btn{margin:0;padding:25px 0 0 0;text-align:center;}

/* notice table */
table.tbl_result{border-collapse:collapse;border-top:2px solid #4c4c4c;border-bottom:1px solid #4c4c4c;}
table.tbl_result th{padding:5px 0 3px 0;border-left:1px solid #4c4c4c;background-color:#f5f5f5;}
table.tbl_result th.em{border-left:none;color:#0090dd;font-family:µ¸¿ò;font-weight:bold;background-color:#FFF;}
table.tbl_result th .blnone, table.tbl_result td .blnone{border-left:none;}
table.tbl_result td{padding:5px 0 3px 0;text-align:center;border-top:1px solid #4c4c4c;border-left:1px solid #4c4c4c;}

table.tbl_result2{border-collapse:collapse;border-top:1px solid #CCC;border-right:1px solid #CCC;background-color:#f6f6f6;}
table.tbl_result2 th{padding:5px 0 3px 0;border-bottom:1px solid #CCC;border-left:1px solid #CCC;background-color:#f5f5f5;}
table.tbl_result2 td{padding:5px 0 3px 0;text-align:center;border-bottom:1px solid #CCC;border-left:1px solid #CCC;}
table.tbl_result2 td.pnum{background-color:#FFF;}



/*ELS ÀÌ¸ÞÀÏ*/
#elsem {width:750px; background:#fff; padding-bottom:20px;}
#elsem h1 {width:154px; height:28px; padding:20px 0 0 30px;}
#elsem .elsbox {width:672px; margin-left:30px; border-left:4px solid #ced2d5; border-right:4px solid #ced2d5;}
#elsem .elsbox_top {width:680px; margin-left:30px; height:11px; padding:0px; font-size:0px;}
#elsem .elsbox_bottom {width:680px; margin-left:30px; height:11px; padding:0px; font-size:0px;}
#elsem .elsimg {padding:20px 0px 0 0px;}
#elsem .banner_01 {padding-left:35px;}
#elsem .banner_02 {padding:30px 0 0 35px;}
#elsem .notice {padding:30px 0 0 50px;}
#elsem .comment {padding:35px 0 0 35px;}
#elsem .footer {padding:17px 0 25px 35px;}


/*°øÁö»çÇ× ÅÛÇÃ¸´*/
.Nwrap {width:660px; text-align:left; color:#7f7f7f; line-height:18px; margin:30px 0;}
.Nwrap h1 {font-size:14px; letter-spacing:-0.5px; font-weight:bold; color:#06317b; text-align:center; padding-bottom:25px;}
.Nwrap .c {text-align:center; padding:15px 0;}
.Nwrap table {width:98%; margin:0 auto; margin-bottom:25px; border-left:1px solid #CCC;}
.Nwrap table th {border:1px solid #CCC; background:#7cb6d9; font-weight:bold; color:#fff; text-align:center; padding:7px 0 4px 0;}
.Nwrap table td {border-bottom:1px solid #CCC; border-right:1px solid #CCC; text-align:center; padding:5px 0 2px 0; color:#7f7f7f; vertical-align:middle;}
.Nwrap table .dotted {border-bottom:1px dotted #CCC; border-right:1px solid #CCC; text-align:center; padding:4px 0 3px 0; color:#7f7f7f;}
.Nwrap h2 {padding:25px 0 5px 0; font-size:12px; font-weight:normal;}
.Nwrap h3 {padding:0px 0 5px 12px; font-size:12px; font-weight:normal;}
.Nwrap .comment {font-size:11px; color:#e66424; position:relative; top:-22px; left:12px;}
.Nwrap .red {color:#e66424;}
.Nwrap strong {font-weight:bold;}



/*¼³¹®ÀÇ´ÞÀÎ 20111122*/
.ev_surveyExpert02 {position:relative; width:900px; height:404px; background:url(/event/img/ev_surveyExpert02.jpg) no-repeat;}
.ev_surveyExpert02 .table {width:700px; position:absolute; top:178px; left:180px;}
.ev_surveyExpert02 .name {float:left; width:350px;}
.ev_surveyExpert02 .email {float:left; width:350px;}
.ev_surveyExpert02 .btn {clear:both; width:200px; position:absolute; top:250px; left:295px;}

.surveyExpert {width:700px; color:#4c4c4c;}
.surveyExpert .title {padding-top:40px;}

.surveyExpert .blue {color:#16a3db;}
.surveyExpert .red {color:#c50755;}
.surveyExpert .btn {text-align:center; padding:25px 0;}
.surveyExpert .com {text-align:center; padding-bottom:20px;}
.surveyExpert .personal {padding:20px 0 10px 20px;}

.surveyExpert .Q {margin:0 25px; padding:25px 0 20px 0; border-bottom:1px solid #e4e4e4;}
.surveyExpert .last {border-bottom:none;}
.surveyExpert .Q .tit_ico {padding:0 0 10px 15px; font-weight:bold; color:#000; background:url(/event/img/ev_surveyExpert_dot.jpg) no-repeat left 4px;}
.surveyExpert .Q .tit_num {padding:0 0 10px 0px; font-weight:bold; color:#000;}
.surveyExpert .Q .tit_num span {font-weight:normal; color:#000;}

.surveyExpert .Q .choice {padding-left:15px; line-height:30px;}
.surveyExpert .Q .choice label {padding-right:29px;}
.surveyExpert .Q .choice p {padding:0; margin:0; height:20px;}

.surveyExpert .Q .choice .tableC {width:100%;}
.surveyExpert .Q .choice .tableC caption {text-align:left; padding:0; margin:0;}
.surveyExpert .Q .choice .tableC th {font-weight:normal; font-size:11px; color:#4c4c4c;}
.surveyExpert .Q .choice .tableC td {text-align:center; color:#4c4c4c;}
.surveyExpert .Q .choice .tableC .tit {text-align:left; font-weight:bold;}
.surveyExpert .Q .choice .input_none {border:1px solid #FFF;}

.surveyExpert .Q .choice .table {width:100%;}
.surveyExpert .Q .choice .table label {padding:0;}

.surveyExpert .tableBG {width:660px; border-collapse:collapse; margin:0 auto; margin-top:30px; border-top:2px solid #969696; border-bottom:2px solid #969696;}
.surveyExpert .tableBG th {border-top:1px solid #969696; background:#f7f7f7; padding:9px 0 7px 0; vertical-align:top;}
.surveyExpert .tableBG td {border-top:1px solid #969696; color:#d4d4d4; padding:6px 0 5px 15px;}
.surveyExpert .tableBG td input {border:1px solid #d4d4d4; color:#777; padding:4px 0 1px 7px;}
.surveyExpert .tableBG .noline {border-top:none; color:#d4d4d4; padding:1px 0 5px 15px;}

