@charset “utf-8″;

a {color:#666}

#guide_wrap {min-width:1024px;position:relative}
#guide_header {position:fixed;top:0;left:0;padding:30px;width:180px;height:100%;border-right:1px solid #e1e1e1;background:#f9f9f9}
#guide_content {margin-left:240px;padding:30px 50px}

.guide_h1 {font-size:24px;}
.guide_menu {margin-top:20px;line-height:22px}
.guide_menu li {border-bottom:1px solid #e1e1e1;}
.guide_menu li a {display:block; padding:5px;}
.guide_menu li a.on {color:#333; font-weight:bold}

.guide_h2 {font-size:46px;margin-bottom:20px}
.guide_h3 {font-size:24px}
.guide_tit {font-size:16px;margin:30px 0 5px 0;}
.guide_summary {color:#999;margin-top:5px}

.guide_code {background:#eee;color:#666;margin:5px 0 0 0;padding:10px}
.guide_point {color:#bb162b}

/*
a {color:#666}

#guide_wrap {position:relative}
#guide_header {position:fixed;top:0;left:0;padding:20px 30px;width:100%;border-bottom:1px solid #e1e1e1;background:#f9f9f9}
#guide_content {margin-top:100px;padding:30px}

.guide_h1 {font-size:24px;}
.guide_menu {margin-top:5px;}
.guide_menu li {float:left;margin-right:12px}
.guide_menu li a {display:block; padding:5px;}
.guide_menu li a.on {color:#333;font-weight:bold}

.guide_h2 {font-size:36px;margin-bottom:20px}
.guide_h3 {font-size:24px}
.guide_tit {font-size:16px;margin:30px 0 5px 0;}
.guide_summary {color:#999;margin-top:5px}

.guide_code {background:#eee;color:#666;margin:5px 0 0 0;padding:10px}
*/