@charset "EUC-KR";







/* 랭킹 Main */



div#SkipToContents.RankingMain {padding:0 0 0 48px;}





.RankingList {width:800px;overflow:hidden;}

.RankingList .fLeft {width:368px;height:938px;}

.RankingList .fLeft div.pageTitle {height:92px;padding:40px 0 0 0;}

.RankingList .fLeft .ListArea {height:453px;}

.RankingList .fLeft .ListArea .btn a {display:block;width:48px;height:24px;padding:0;margin:0 auto;line-height:0;text-indent:-9999px;}

.RankingList .fLeft .ListArea .btn.prev a {background:url(../img/button/arrow_up.gif) no-repeat 0 0;}

.RankingList .fLeft .ListArea .btn.next a {background:url(../img/button/arrow_down.gif) no-repeat 0 0;}

.RankingList .fLeft .ListArea .btn a:hover {background-position:0 -36px;}

.RankingList .fLeft .rList {height:364px;margin:20px 0;border-bottom:1px solid #ddd;overflow:hidden;position:relative;}

.RankingList .fLeft .rList ul {position:absolute;top:0;left:0;width:100%;}

.RankingList .fLeft .rList li {height:70px;padding:20px 16px 0;border-top:1px solid #ddd;}

.RankingList .fLeft .rList li a {display:block;height:45px;font-size:17px;font-weight:bold;}

.RankingList .fLeft .rList li a span.num {font-size:34px;font-family:Tahoma;}

.RankingList .fLeft .rList li a strong {padding:0;margin:0;font-size:0;line-height:0;color:#fff;text-indent:-9999px;}

.RankingList .fLeft .rList li.rList_01 a {background:url(../img/ranking/rList_01.gif) no-repeat right 5px;}

.RankingList .fLeft .rList li.rList_02 a {background:url(../img/ranking/rList_02.gif) no-repeat right 5px;}

.RankingList .fLeft .rList li.rList_03 a {background:url(../img/ranking/rList_03.gif) no-repeat right 5px;}

.RankingList .fLeft .rList li.rList_04 a {background:url(../img/ranking/rList_04.gif) no-repeat right 5px;}

.RankingList .fLeft .rList li.rList_05 a {background:url(../img/ranking/rList_05.gif) no-repeat right 5px;}

.RankingList .fLeft .rList li.rList_06 a {background:url(../img/ranking/rList_06.gif) no-repeat right 5px;}

.RankingList .fLeft .rList li a:hover,.RankingList .fLeft .rList li.selected a {color:#333;text-decoration:none;background-position:right -55px;}



.RankingList .fRight {width:400px;height:938px;padding:104px 13px 0 17px;background:#f9f9f9;border-left:1px solid #ddd;border-right:1px solid #ddd;}

.RankingList .fRight dl {width:400px;}

.RankingList .fRight dt {color:#333;font-weight:bold;font-size:20px;position:relative;}

.RankingList .fRight dt strong {display:inline-block;margin:0;padding:0;line-height:60px;vertical-align:middle;}

.RankingList .fRight dt strong img {vertical-align:bottom;}

.RankingList .fRight dt strong.num {width:150px;}

.RankingList .fRight dt strong.num span {font-size:40px;line-height:40px;font-family:Tahoma;}

.RankingList .fRight dd dl {margin:10px 0 0 0;*margin:14px 0 0 0;}

.RankingList .fRight dd {position:relative;}
.RankingList .fRight dd ul.scriptAction {width:400px;position:absolute;top:0;left:0;}
.RankingList .fRight dd ul.scriptAction li {background:#f9f9f9;height:45px;margin-top:5px;}

.RankingList .fRight dd li {font-weight:bold;border-bottom:1px solid #ddd;}

.RankingList .fRight dd li a {display:block;height:29px;padding:5px 0 0 0;border:8px solid #f9f9f9;line-hgiht:34px;}

.RankingList .fRight dd li a img {vertical-align:middle;}

.RankingList .fRight dd li a span {display:inline-block;}

.RankingList .fRight dd li a span.num {width:42px;font-size:15px;text-align:center;}

.RankingList .fRight dd li a span.typeName {width:185px;font-size:13px;}

.RankingList .fRight dd li a span.typeName.typeName2 {width:120px;}

.RankingList .fRight dd li a span.typeName span {margin:0 0 0 8px;}

.RankingList .fRight dd li a span.type {width:95px;padding:0 0 0 8px;font-size:13px;}

.RankingList .fRight dd li a span.presentValue {width:77px;font-size:12px;text-align:right;}

.RankingList .fRight dd li a span.fluctuation {width:60px;padding:0 2px 0 0;font-size:12px;text-align:right;}

.RankingList .fRight dd li a:hover {color:#333;border:8px solid #317bcb;background:#fff;text-decoration:none;}

.RankingList .fRight dd li a:hover span {font-size:15px;}





.RankingList .fRight .btn {text-align:right;padding:15px 0 0 0;margin:0;line-height:24px;height:24px;}

.RankingList .fRight .btn a {display:inline-block;width:24px;height:24px;padding:0;margin:0;font-size:0;line-height:0;vertical-align:top;*color:#fff;text-indent:-9999px;}

.RankingList .fRight .btn a.prev {background:url(../img/button/prev_06.gif) no-repeat 0 0;}

.RankingList .fRight .btn a.next {background:url(../img/button/next_06.gif) no-repeat 0 0;}

.RankingList .fRight dt .btn a {position:absolute;top:18px;right:0;background:url(../img/button/more_02.gif) no-repeat 0 0;}

.RankingList .fRight .btn a:hover {background-position:right -44px;}









































