<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<base href="https://www.samsungcard.com" />
<title>월별 포인트 내역 - 삼성카드</title>
<link rel="stylesheet" type="text/css" href="/css/base.css" />
<link rel="stylesheet" type="text/css" href="/css/mh.css" />
<link rel="stylesheet" type="text/css" href="/css/mvint_pop.css" />
</head>
<body>

<div id="pop_wrap">
    <!-- header -->
	<!--
    <div id="pop_header">
        <h1><img src="/images/mh/pop_h1_month_point.png" alt="월별 포인트 내역입니다." /></h1>
        <input type="button" class="btn_close btn_input" onclick="window.close();" title="창닫기" />
    </div>
	-->
	
	<div id="mvint_pheader">
		<h1><img src="/images/mh/pop_h1_month_point.png" alt="월별 포인트 내역입니다." /></h1>
	</div>

    <!-- content -->
    <div id="pop_content" class="h445">
    

        <div class="content_block content_block_card clfix">
            <div class="tab01">
                <ul>
                    <li class="on"><a href="javascript:go_diff('P');">포인트적립내역(매출)</a></li>
                    <li><a href="javascript:go_diff('Q');">포인트적립내역(비매출)</a></li>
                    <li><a href="javascript:go_diff('R');">포인트사용내역</a></li>
                </ul>
            </div>

            <div class="tab02">
                <ul>
                    <li class="on" ><a href="javascript:go_diff('S');">포인트적립내역(매출)</a></li>
                    <li><a href="javascript:go_diff('T');">포인트적립내역(비매출)</a></li>
                    <li><a href="javascript:go_diff('U');">포인트 사용/사후등록 내역</a></li><!-- 120417 수정 -->
                </ul>
            </div>
			
            <table class="dtable01 mt20" summary="매출일자, 적립일자, 이용가맹점, 이용금액, 적립포인트, 적립률, 카드번호로 구성된 월별 포인트 내역을 확인할 수 있는 게시판입니다.">
            <caption>월별 포인트 내역</caption>
            	<colgroup><col width="10%" /><col width="10%" /><col width="24%" /><col width="14%" /><col width="10%" /><col width="10%" /><col width="20%" /></colgroup>
            <thead>
                <tr>
					<th scope="col">매출일자</th>
					<th scope="col">적립일자</th>
					<th scope="col">이용가맹점</th>
					<th scope="col">이용금액</th>
                    <th scope="col">적립포인트</th>
                    <th scope="col">적립률</th>
					<th scope="col">카드번호</th>
			   </tr>
            </thead>
            <tbody>
                       <tr class="nodata"><td colspan="7">상세내역이 존재하지 않습니다.</td></tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td class="t_no cell_r10">0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
            </tbody>
            </table>
		    <%}else{ %>
            <table class="dtable01 mt20" summary="사용일자(또는 적립일자), 사용유형(또는 적립유형), 사용포인트(또는 적립포인트), 카드번호로 구성된 월별 포인트 내역을 확인할 수 있는 게시판입니다.">
            <caption>월별 포인트 내역</caption>
            <colgroup><col width="70" /><col width="320" /><col width="120" />
            <col width="*" /><col width="80" /><col width="130" /></colgroup>
            <thead>
                <tr>
                    <th scope="col" class="cell_l10">0</th>
                    <th scope="col">0</th><th scope="col">사후<br />등록<br />여부</th><th scope="col">이용가맹점</th>
                    <th scope="col" class=" cell_r10">0</th>
                    <th scope="col">취소</th>
                </tr>
            </thead>
            <tbody>
                       <tr class="nodata"><td colspan="5">상세내역이 존재하지 않습니다.</td></tr>
                        <tr>
                            <td class="cell_l10 t_no">0</td>
                            <td  boarder=1>0</td>
                            <td>0</td><!-- 2012.04.20  보너스포인트 사용내역의 경우만 표시 -->
                            <td>0</td>
                            <td class="t_no cell_r10">0</td>
                        </tr>
            </tbody>
            </table>

            <div class="paginate">
                <div class="paging">
                    <a href="javascript:goPage('prePage');" class="btn btn_s_white"><span>이전</span></a>
                    <span> </span><a href="javascript:goPage('nextPage');" class="btn btn_s_white"><span>다음</span></a>
                </div>
            </div>
	
		<%-- 대교 포인트 안내문구 --%>
		<DIV class=line_lgray></DIV>
		<OL class="list_no01 pop_numlist">
			<LI><P>안내 선택하신 해당월의 상세 적립 내역을 조회할 수 있습니다.</P>
			<LI><P>프로모션/기타 : 매출 이외의 적립 건 (프로모션 적립, 마일리지 전환, 보상 적립 등)</P>
			<LI><P>포인트적립/사용일자는 매출표가 카드사로 접수되어 포인트가 적립/사용 처리<br/>
			      된 날을 의미하며 회원님께서 실제로 카드를 이용하신 날과 약 3~5일 정도 차이 날 수 있습니다.</P>
			<LI><P>포인트 사용은 대교제품 결재한 매출표가 카드사로 접수된 날 기적립된 포인트가 차감됩니다.</P></LI>
		</OL>
	
		<%-- 지엠대우  안내문구 --%>
		<div class="line_lgray"></div>
	    <ol class="list_no01 pop_numlist">
	    	<li><p>안내 선택하신 해당월의 상세 적립 내역을 조회할 수 있습니다.</p></li>
	    	<li><p>쉐보레포인트(합산)에 한하여 조회가능 합니다.</p></li>
	        <li><p>프로모션/기타 : 매출 이외의 적립 건 (프로모션 적립, 마일리지 전환, 보상 적립 등)</p></li>
	        <li><p>굿포인트, 페이백서비스, 선포인트서비스 이용회원은 각 서비스 별 화면에서 상세 적립 내역을 확인하시기 바랍니다.<br />
	            (바로가기 : <a class="a_point" href="javascript:opener.tabPageLink('NHPIMSSCMS003');">굿포인트</a>, 
	                       <a class="a_point" href="javascript:opener.tabPageLink('NHPIMSSSBC001M016');">페이백</a>, 
	                       <a class="a_point" href="javascript:opener.tabPageLink('NHPIMSSCMS022');">선포인트</a>)</p>
	        </li>
	    </ol>

		<%-- S포인트  안내문구 --%>
		<div class="line_lgray"></div>
	    <ol class="list_no01 pop_numlist">
	    	<li><p>안내 선택하신 해당월의 상세 적립 내역을 조회할 수 있습니다.</p></li>
			<li><p>프로모션/기타 : 매출 이외의 적립 건 (프로모션 적립, 마일리지 전환, 보상 적립 등)</p></li>
			<li><p>굿포인트, 페이백서비스, 선포인트서비스 이용회원은 각 서비스 별 화면에서 상세 적립 내역을 확인하시기 바랍니다.<br />
				(바로가기 : <a class="a_point" href="javascript:opener.tabPageLink('NHPIMSSCMS003');">굿포인트</a>, 
							<a class="a_point" href="javascript:opener.tabPageLink('NHPIMSSSBC001M016');">페이백</a>, 
							<a class="a_point" href="javascript:opener.tabPageLink('NHPIMSSCMS022');">선포인트</a>, 
							<a class="a_point" href="javascript:opener.tabPageLink('NHPIMMHPIT037S');">S선포인트 한도</a>)</p></li>
			<li><p>포인트적립일자는 매출 표가 카드사로 접수된 날을 의미하며, 회원님께서 실제로 카드를 이용하신 날과 약 3~5일 정도<br />차이날 수 있습니다.</p></li>
	    </ol>
		
	
		<% if(premiumGrade.equals("W") || premiumGrade.equals("V") || 
			premiumGrade.equals("I") || premiumGrade.equals("S") || premiumGrade.equals("P")) { %>
				<cms:include page="/cms_content/hp/im/mh/pit/NHPIMMHPITVIEW001C3.html" flush="false" />
		<% } else { %>
				<cms:include page="/cms_content/hp/im/mh/pit/NHPIMMHPITVIEW001C2.html" flush="false" />
        <% } %>
	<%} %>
        </div>

    </div>

    <!-- footer -->
    <div id="pop_footer"><address class="none">Copyright 2013. SamsungCard. All Rights Reserved.</address><input type="button" class="btn_close btn_input" onClick="window.close();" title="창닫기" /></div>

</div>

</body>
</html>
