<?xml version="1.0" encoding="UTF-8" ?>

<data>
	<item>
		<name><![CDATA[카드]]></name>
		<link><![CDATA[../main/main.html?id=1]]></link>

		
			<item>
				<name><![CDATA[카드신청]]></name>
				<link><![CDATA[../card/card_a.html]]></link>
			</item>
			<item>
				<name><![CDATA[카드 발급상황 조회]]></name>
				<link><![CDATA[../card/inq_step1.html]]></link>
			</item>
			<item>
				<name><![CDATA[카드 사용등록]]></name>
				<link><![CDATA[../card/card_add.html]]></link>
			</item>
			<item>
				<name><![CDATA[모바일카드]]></name>
				<link><![CDATA[../card/m_usim.html]]></link>
			</item>
			<item>
				<name><![CDATA[앱카드]]></name>
				<link><![CDATA[../card/m_app.html]]></link>
			</item>
			<item>
				<name><![CDATA[가족카드]]></name>
				<link><![CDATA[../card/.html]]></link>
					<item>
						<name><![CDATA[이용내역조회]]></name>
						<link><![CDATA[../card/.html]]></link>
					</item>
					<item>
						<name><![CDATA[이용한도조회]]></name>
						<link><![CDATA[../card/.html]]></link>
					</item>
			</item>
			
			<item>
				<name><![CDATA[발급기준 안내]]></name>
				<link><![CDATA[../card/info.html]]></link>
			</item>
			<item>
				<name><![CDATA[삼성Gift카드 잔액 조회]]></name>
				<link><![CDATA[../card/inq_gift.html]]></link>
			</item>
	</item>
	
	<item>
		<name><![CDATA[금융]]></name>
		<link><![CDATA[../main/main.html?id=2]]></link>

			<item>
				<name><![CDATA[현금서비스]]></name>
				<link><![CDATA[../finance/cash.html]]></link>
					<item>
						<name><![CDATA[상품안내]]></name>
						<link><![CDATA[../finance/cash.html]]></link>
					</item>
					<item>
						<name><![CDATA[신청]]></name>
						<link><![CDATA[../finance/cash_step1.html]]></link>
					</item>
					<item>
						<name><![CDATA[이용내역조회]]></name>
						<link><![CDATA[../finance/cash_inq.html]]></link>
					</item>

			</item>
			<item>
				<name><![CDATA[삼성카드론]]></name>
				<link><![CDATA[../finance/cardloan.html]]></link>
					<item>
						<name><![CDATA[상품안내]]></name>
						<link><![CDATA[../finance/cardloan.html]]></link>
					</item>
					<item>
						<name><![CDATA[신청]]></name>
						<link><![CDATA[../finance/cardloan_step1.html]]></link>
					</item>
					<item>
						<name><![CDATA[이용내역조회]]></name>
						<link><![CDATA[../finance/cardloan_inq.html]]></link>
					</item>
			</item>
			<item>
				<name><![CDATA[삼성프라임론]]></name>
				<link><![CDATA[../finance/prime.html]]></link>
					<item>
						<name><![CDATA[상품안내]]></name>
						<link><![CDATA[../finance/prime.html]]></link>
					</item>
					<item>
						<name><![CDATA[한도조회 및 신청]]></name>
						<link><![CDATA[../finance/prime_step1.html]]></link>
					</item>
					<item>
						<name><![CDATA[전화상담신청]]></name>
						<link><![CDATA[../finance/prime_tel.html]]></link>
					</item>
					<item>
						<name><![CDATA[이용내역조회]]></name>
						<link><![CDATA[../finance/prime_inq_step2.html]]></link>
					</item>
			</item>
			<item>
				<name><![CDATA[삼성카드 전세론]]></name>
				<link><![CDATA[../finance/lease.html]]></link>
					<item>
						<name><![CDATA[상품안내]]></name>
						<link><![CDATA[../finance/lease.html]]></link>
					</item>
					<item>
						<name><![CDATA[한도조회 및 신청]]></name>
						<link><![CDATA[../finance/lease_step1.html]]></link>
					</item>
					<item>
						<name><![CDATA[전화상담신청]]></name>
						<link><![CDATA[../finance/lease_tel.html]]></link>
					</item>
					<item>
						<name><![CDATA[이용내역조회]]></name>
						<link><![CDATA[../finance/lease_inq_step2.html]]></link>
					</item>
			</item>
	</item>
	
	<item>
		<name><![CDATA[서비스]]></name>
		<link><![CDATA[../main/main.html?id=3]]></link>
			
			<item>
				<name><![CDATA[프리미엄 S 서비스]]></name>
				<link><![CDATA[../service/premium.html]]></link>
			</item>
			<item>
				<name><![CDATA[포인트 서비스]]></name>
				<link><![CDATA[../service/point_card.html]]></link>
					<item>
						<name><![CDATA[포인트 안내]]></name>
						<link><![CDATA[../service/point_card.html]]></link>
					</item>
					<item>
						<name><![CDATA[세이브 서비스]]></name>
						<link><![CDATA[../service/point_save.html]]></link>
					</item>
					<item>
						<name><![CDATA[멤버십 리워즈 서비스]]></name>
						<link><![CDATA[../service/point_amex.html]]></link>
					</item>
					<item>
						<name><![CDATA[선포인트 서비스]]></name>
						<link><![CDATA[../service/point_first.html]]></link>
					</item>					
					<item>
						<name><![CDATA[S선포인트 서비스]]></name>
						<link><![CDATA[../service/point_sfirst.html]]></link>
					</item>					
					<item>
						<name><![CDATA[U쿠폰 서비스]]></name>
						<link><![CDATA[../service/point_ucoupon.html]]></link>
					</item>	
			</item>
			
			<item>
				<name><![CDATA[휴대폰알림서비스]]></name>
				<link><![CDATA[../service/.html]]></link>
			</item>
			<item>
				<name><![CDATA[우대 서비스]]></name>
				<link><![CDATA[../service/benefit.html]]></link>
			</item>
			<item>
				<name><![CDATA[카드 납부 서비스]]></name>
				<link><![CDATA[../service/payment.html]]></link>
					<item>
						<name><![CDATA[전기요금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[전화요금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>					
					<item>
						<name><![CDATA[정수기렌탈요금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>					
					<item>
						<name><![CDATA[인터넷요금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[도시가스요금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[보안서비스이용요금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[지방세납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[고용.산재보험 납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[대학등록금 납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[국민연금납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>
					<item>
						<name><![CDATA[아파트 관리비 납부]]></name>
						<link><![CDATA[../service/.html]]></link>
					</item>					
			</item>
			<item>
				<name><![CDATA[LifeStyle]]></name>
				<link><![CDATA[../service/lifestyle.html]]></link>
					<item>
						<name><![CDATA[쇼핑]]></name>
						<link><![CDATA[../service/lifeStyle_01.html]]></link>
					</item>
					<item>
						<name><![CDATA[여행]]></name>
						<link><![CDATA[../service/lifeStyle_02.html]]></link>
					</item>					
					<item>
						<name><![CDATA[웨딩]]></name>
						<link><![CDATA[../service/lifeStyle_03.html]]></link>
					</item>					
					<item>
						<name><![CDATA[보험]]></name>
						<link><![CDATA[../service/lifeStyle_04.html]]></link>
					</item>					
			</item>
			<item>
				<name><![CDATA[해외이용 안전서비스]]></name>
				<link><![CDATA[../service/foreign.html]]></link>
			</item>
			<item>
				<name><![CDATA[삼성카드공통서비스 S]]></name>
				<link><![CDATA[../service/s.html]]></link>
			</item>
			<item>
				<name><![CDATA[플레이스 S]]></name>
				<link><![CDATA[../service/zone.html]]></link>
			</item>
			<item>
				<name><![CDATA[현금융통(카드깡)자진신고]]></name>
				<link><![CDATA[../service/.html]]></link>
			</item>
			<item>
				<name><![CDATA[고객보호서비스]]></name>
				<link><![CDATA[../service/.html]]></link>
			</item>
	</item>
	
	<item>
		<name><![CDATA[이벤트]]></name>
		<link><![CDATA[../main/main.html?id=4]]></link>

			<item>
				<name><![CDATA[진행중인 이벤트]]></name>
				<link><![CDATA[../event/ing_list.html]]></link>
			</item>
			<item>
				<name><![CDATA[종료된 이벤트]]></name>
				<link><![CDATA[../event/end_list.html]]></link>
			</item>
			<item>
				<name><![CDATA[이벤트 당첨내역]]></name>
				<link><![CDATA[../event/win_1.html]]></link>
			</item>
			<item>
				<name><![CDATA[쿠폰]]></name>
				<link><![CDATA[../event/coupon_list.html]]></link>
			</item>
	</item>
	
	<item>
		<name><![CDATA[고객센터]]></name>
		<link><![CDATA[../main/main.html?id=5]]></link>

			<item>
				<name><![CDATA[고객 문의]]></name>
				<link><![CDATA[../customer/qna.html]]></link>
			</item>
			<item>
				<name><![CDATA[모바일서비스]]></name>
				<link><![CDATA[../customer/down.html]]></link>
			</item>
			<item>
				<name><![CDATA[삼성카드 지점 안내]]></name>
				<link><![CDATA[../customer/branch_list.html]]></link>
			</item>
			<item>
				<name><![CDATA[뉴스/공지]]></name>
				<link><![CDATA[../customer/news_list.html]]></link>
			</item>
			<item>
				<name><![CDATA[카드 이용 종합 안내]]></name>
				<link><![CDATA[../customer/use_1.html]]></link>
					<item>
						<name><![CDATA[스마트폰 금융거래 10계명]]></name>
						<link><![CDATA[../customer/use_1.html]]></link>
					</item>
					<item>
						<name><![CDATA[결제일별 청구 대상 기간]]></name>
						<link><![CDATA[../customer/use_2.html]]></link>
					</item>
					<item>
						<name><![CDATA[자동이체 안내]]></name>
						<link><![CDATA[../customer/use_3.html]]></link>
					</item>
					<item>
						<name><![CDATA[무통장입금 안내]]></name>
						<link><![CDATA[../customer/use_4.html]]></link>
					</item>
					<item>
						<name><![CDATA[카드대금 결제서비스]]></name>
						<link><![CDATA[../customer/use_5.html]]></link>
					</item>
					<item>
						<name><![CDATA[해외 이용내역 문의]]></name>
						<link><![CDATA[../customer/use_6.html]]></link>
					</item>
			</item>
	</item>
	
	<item>
		<name><![CDATA[마이홈]]></name>
		<link><![CDATA[../main/main.html?id=6]]></link>
			<item>
				<name><![CDATA[명세서]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			<item>
				<name><![CDATA[이용내역조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			<item>
				<name><![CDATA[결제예정금액조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			<item>
				<name><![CDATA[입금내역조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			<item>
				<name><![CDATA[카드할부금액가상조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			<item>
				<name><![CDATA[즉시결제서비스]]></name>
				<link><![CDATA[../myhome/.html]]></link>
					<item>
						<name><![CDATA[이용상품별 즉시결제]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[이번 달 결제금액 즉시결제]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[할부금융회원 즉시결제]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[즉시결제처리결과조회]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
			</item>
			
			<item>
				<name><![CDATA[포인트조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			
			<item>
				<name><![CDATA[개인정보변경]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			
			<item>
				<name><![CDATA[보유카드조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			
			<item>
				<name><![CDATA[결제일&amp;결제계좌변경]]></name>
				<link><![CDATA[../myhome/.html]]></link>
					<item>
						<name><![CDATA[결제일변경]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[결제계좌변경]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[처리결과조회]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[가상계좌 조회 및 신청]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
			</item>
			
			<item>
				<name><![CDATA[한도조회]]></name>
				<link><![CDATA[../myhome/.html]]></link>
			</item>
			
			<item>
				<name><![CDATA[웹회원 비밀번호 변경]]></name>
				<link><![CDATA[../myhome/chpw_step1.html]]></link>
			</item>
			
			<item>
				<name><![CDATA[명세서 수령방법 변경]]></name>
				<link><![CDATA[../myhome/chadd_step1.html]]></link>
			</item>
			
			<item>
				<name><![CDATA[프리미엄S라운지]]></name>
				<link><![CDATA[../myhome/.html]]></link>
					<item>
						<name><![CDATA[프리미엄S 라운지 안내]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[프리미엄 서비스]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[프리미엄 이벤트]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[프리미엄 마이페이지]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
			</item>
			
			<item>
				<name><![CDATA[SFC]]></name>
				<link><![CDATA[../myhome/.html]]></link>
					<item>
						<name><![CDATA[SFC서비스혜택]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
					<item>
						<name><![CDATA[SFC 카드]]></name>
						<link><![CDATA[../myhome/.html]]></link>
					</item>
			</item>
			
	</item>
	
</data>
