strong.txtPointType1 {color:#ed7d0c;}
img.printLogo {margin-top:-38px;margin-left:22px;} /* 팝업하단 로고 */

/* 자산관리 아이콘 */
span.icAssetType1 {background:url(../img/asset/bg_asset_01.gif) left top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 4px 1px 2px;}
span.icAssetType2 {background:url(../img/asset/bg_asset_01.gif) -50px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 4px 1px 2px;}
span.icAssetType3 {background:url(../img/asset/bg_asset_01.gif) -90px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 3px 1px 2px;}
span.icAssetType4 {background:url(../img/asset/bg_asset_01.gif) -118px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 3px 1px 2px;}
span.icAssetType5 {background:url(../img/asset/bg_asset_01.gif) -175px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 4px 1px 2px;}
span.icAssetType6 {background:url(../img/asset/bg_asset_01.gif) -237px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 4px 1px 2px;}
span.icAssetType7 {background:url(../img/asset/bg_asset_01.gif) -287px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 4px 1px 2px;}
span.icAssetType8 {background:url(../img/asset/bg_asset_01.gif) -337px top no-repeat;font-size:11px;color:#fff;letter-spacing:-1px;padding:3px 4px 1px 2px;}

/* banking */
div.designGiroMain {height:240px;background:url(../img/banking/bg_giro_01.jpg) left top no-repeat;position:relative;}
div.designGiroMain div.Link1 {position:absolute;top:125px;left:0px;background:url(../img/banking/bg_giro_03.gif) left top no-repeat;padding-left:50px;}
div.designGiroMain div.Link1 a {background:url(../img/banking/bu_main_01.gif) right 1px no-repeat;padding-right:16px;color:#4d4d4d;}
div.designGiroMain div.Link1 a:hover {color:#16a3db;}
div.designGiroMain div.Link2 {position:absolute;top:125px;left:177px;background:url(../img/banking/bg_giro_04.gif) left top no-repeat;padding-left:59px;}
div.designGiroMain h2 {height:29px;}
div.designGiroMenu {height:169px;background:url(../img/banking/bg_giro_02.gif) left top no-repeat;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;position:relative;}
div.LayOutGiroMain {float:left;width:355px;padding-top:40px;}
div.designGiroMenu a span {display:none;}
div.designGiroMenu a {position:absolute;font-size:11px;color:#9da3a6;}
div.designGiroMenu a:hover {color:#16a3db;}
div.designGiroMenu a.Link1 {width:77px;height:114px;left:56px;top:4px;}
div.designGiroMenu a.Link1:hover {background:url(../img/banking/bg_giro_04.jpg) left top no-repeat;}
div.designGiroMenu a.Link2 {width:64px;height:112px;left:232px;top:6px;}
div.designGiroMenu a.Link2:hover {background:url(../img/banking/bg_giro_05.jpg) left top no-repeat;}
div.designGiroMenu a.Link3 {width:82px;height:113px;left:401px;top:5px;}
div.designGiroMenu a.Link3:hover {background:url(../img/banking/bg_giro_06.jpg) left top no-repeat;}
div.designGiroMenu a.Link4 {height:40px;left:565px;top:0px;padding-left:15px;padding-top:127px;}
div.designGiroMenu a.Link4:hover {width:100px;background:url(../img/banking/bg_giro_07.jpg) 15px top no-repeat;}
div.designGiroMenu a.Link5 {left:571px;top:144px;}
div.designGiroMenu img {position:absolute;left:580px;top:0px;}

p.designPower {height:240px;background:url(../img/banking/img_loan_01.gif) left top no-repeat;}
p.designPower span {display:none;}

div.mycreditUItype1 {float:left;width:220px;}
div.mycreditUItype2 {float:left;width:220px;margin-left:25px;}

div.secBox {height:158px;background:url(../img/banking/bg_sec_01.gif) left 40px no-repeat;padding:80px 0px 0px 224px;} /* 보안카드 번호입력 */
div.secBox span {font-family:Arial;font-size:27px;color:#ed7d0c;font-weight:bold;padding-right:110px;}
div.secBox span.first {padding-right:77px;}
div.secBox input.box {width:27px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #9da3a6;padding:6px 0px;font-size:14px;text-align:center;}
div.secBox input.FocusBox {width:27px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #002664;color:#4d4d4d;padding:6px 0px;font-size:14px;text-align:center;}
div.secBox div.tbCommentBottom {margin-top:4px;}
div.pageEnd {height:100px;}

/* 로그인 */
div.secBox2 {height:122px;background:url(../img/login/bg_sec_01.gif) left top no-repeat;padding:18px 0px 0px 282px; border-top: 1px solid #e8ebec; border-bottom: 1px solid #e8ebec;} /* 보안카드 번호입력 */
div.secBox2 div.name {font-size:15px;color: #16a3db;font-weight:bold;padding-left: 62px; padding-bottom: 18px; }
div.secBox2 span {font-family:Arial;font-size:27px;color:#ed7d0c;font-weight:bold;padding-right:110px;}
div.secBox2 span.first {padding-right:77px;}
div.secBox2 input.box {width:27px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #9da3a6;padding:6px 0px;font-size:14px;text-align:center;}
div.secBox2 input.FocusBox {width:27px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #002664;color:#4d4d4d;padding:6px 0px;font-size:14px;text-align:center;}
div.secBox2 div.tbCommentBottom {margin-top:4px;}

div.otpBox {background:url(../img/banking/bg_otp_01.gif) left 40px no-repeat;padding:90px 0px 40px 200px;} /* otp 번호 입력 */
div.otpBox input.box {width:141px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #9da3a6;padding:3px 8px 2px 8px;font-family:Tahoma;font-size:14px;font-weight:bold;margin-left:24px;}
div.otpBox input.FocusBox {width:141px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #002664;color:#4d4d4d;padding:3px 8px 2px 8px;font-family:Tahoma;font-size:14px;font-weight:bold;margin-left:24px;}
div.otpBox div.tbCommentBottom {margin-left:24px;}
div.otpBox div.line {clear:both;font-size:1px;height:12px;border-bottom:1px solid #e8ebec;}
div.otpBox div.error {padding-top:5px;}
div.otpBox div.error img {margin-left:7px;}
div.otpBox div.errorBox {margin-left:24px;}

div.otpBox2 {background:url(../img/login/bg_otp_01.gif) left top no-repeat;padding:17px 0px 15px 260px; border-top: 1px solid #e8ebec; border-bottom: 1px solid #e8ebec;} /* otp 번호 입력 */
div.otpBox2 div.name {font-size:15px;color: #16a3db;font-weight:bold;padding-left: 84px; padding-bottom: 18px; }
div.otpBox2 input.box {width:141px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #9da3a6;padding:3px 8px 2px 8px;font-family:Tahoma;font-size:14px;font-weight:bold;margin-left:24px;}
div.otpBox2 input.FocusBox {width:141px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #002664;color:#4d4d4d;padding:3px 8px 2px 8px;font-family:Tahoma;font-size:14px;font-weight:bold;margin-left:24px;}
div.otpBox2 div.tbCommentBottom {margin-left:24px;}
div.otpBox2 div.error {padding-top:5px;}
div.otpBox2 div.error img {margin-left:7px;}
div.otpBox2 div.errorBox {margin-left:24px;}

div.ingLogin {background:url(../img/login/bg_ing_01.gif) left top no-repeat;width:646px;height:221px;border:2px solid #16a3db;text-align:center;margin:0px auto;padding-top:150px;}
div.ingLogin p {padding-top:25px;}

div.designLogInfo1 {height:130px;background:url(../img/login/bg_info_01.jpg) left top no-repeat;padding-top:132px;}
div.designLogInfo2 {background:url(../img/login/sstitle_info_01.gif) left top no-repeat;padding-left:90px;padding-bottom:14px;}
div.designLogInfo3 {background:url(../img/login/sstitle_info_02.gif) left top no-repeat;padding-left:90px;}
div.designLogInfo2 h3, div.designLogInfo3 h3 {display:none;}

div.designLogPub1 {height:461px;background:url(../img/login/bg_pub_01.gif) left top no-repeat;position:relative;}
div.designLogPub1 img, div.designLogPub2 img {vertical-align:middle;}
div.designLogPub1 dl {width:190px;}
div.designLogPub1 dl.btn1 {position:absolute;left:20px;top:31px;}
div.designLogPub1 dl.btn2 {position:absolute;left:237px;top:31px;}
div.designLogPub1 dl.btn3 {position:absolute;left:20px;top:171px;}
div.designLogPub1 dl.btn4 {position:absolute;left:237px;top:171px;}
div.designLogPub1 dl.btn5 {position:absolute;left:20px;top:309px;}
div.designLogPub1 dl.btn6 {position:absolute;left:237px;top:309px;}
div.designLogPub1 dl.btn7 {position:absolute;left:502px;top:284px;}
div.designLogPub1 dl.btn7 dt, div.designLogPub1 dl.btn7 dd {display:inline;padding-right:1px;}
div.designLogPub1 dl dt {padding-bottom:6px;}
div.designLogPub1 a {color:#4d4d4d;}
div.designLogPub1 a:hover {color:#16a3db;}
div.designLogPub2 {background:url(../img/login/bg_pub_02.gif) left top no-repeat;padding-left:200px;color:#0d0d0d;}
div.designLogPub2 h2 {height:28px;padding-top:30px;}
div.designLogPub2 h2 a img {margin-top:-2px;}

div.designLogRenew {height:45px;background:url(../img/login/bg_renew_01.jpg) left top no-repeat;padding-top:200px;text-align:right;}
div.designLogDel {height:100px;background:url(../img/login/bg_del_01.jpg) left top no-repeat;padding-top:120px;text-align:right;word-spacing:11px;}
div.designLogSmart {height:39px;background:url(../img/login/bg_smart_01.jpg) left top no-repeat;padding-top:200px;text-align:right;word-spacing:11px;}
div.designLogOtp {height:241px;background:url(../img/login/bg_otp_02.jpg) left top no-repeat;}
div.designLogRenew p, div.designLogDel p, div.designLogSmart p, div.designLogOtp h2, div.designLogOtp p {display:none;}

div.mgtArea01 h2, div.mgtArea01 dt, div.mgtArea02 h2 {display: none;}
div.mgtArea01 dl {float: left; height:270px; position:relative;}
div.mgtArea01 dl dd.btn {position: absolute; left:15px; top:102px;}
div.mgtArea01 dl dd.btn img, div.mgtArea02 dl dd.btn img {margin-right: 2px;}
div.mgtArea01 dl dd.text {position: absolute; left:15px; top:38px; width: 190px; line-height: 18px;}
div.mgtArea01 dl.part1 {width: 240px; background: url(../img/login/bg_mgt_01.gif) no-repeat left top;}
div.mgtArea01 dl.part2 {width: 240px; background: url(../img/login/bg_mgt_02.gif) no-repeat left top;}
div.mgtArea01 dl.part3 {width: 230px; background: url(../img/login/bg_mgt_03.gif) no-repeat left top;}
div.mgtArea02 dl {float: left; position:relative; margin-bottom: 40px;}
div.mgtArea02 dl.part4, div.mgtArea02 dl.part5, div.mgtArea02 dl.part7 {width:240px;}
div.mgtArea02 dl.part6 {width:230px;}
div.mgtArea02 dl dt {height: 33px;}
div.mgtArea02 dl dd.text {width: 217px; line-height: 18px; padding-bottom: 10px;}
div.mgtArea02 dl.part8 dd.text {width: 450px;}

p.designLogin1 span, div.designLogin2 h2 {display:block;width:0px;height:0px;overflow:hidden;padding:0px;margin:0px;}
p.designLogin1 {height:78px;background:url(../img/login/text_login_01.gif) no-repeat left top;}
div.designLogin2 {height: 250px; background: url(../img/login/bg_login_01.gif) no-repeat 0 24px; position: relative; overflow:hidden}
div.designLogin2 div.loginPart1 {position: absolute; left:40px; top:81px; width:275px;}
div.designLogin2 div.loginPart2 {position: absolute; left:395px; top:76px; width:275px;}
div.designLogin2 div.loginPart1 a img {vertical-align: top;}
div.designLogin2 img.mgbtn {margin-left: 2px; margin-right: 24px;}
div.designLogin2 div.smallButton {padding: 11px 0 9px 0; background: url(../img/login/bg_login_02.gif) repeat-x left bottom;}
div.designLogin2 p.tbCommentBottom a {color: #16a3db; text-decoration:underline;}
div.designLogin2 p.tbCommentBottom {margin-top: 10px; padding: 0 0 0 15px; line-height: 15px; font-size: 11px; background: url(../img/common/bu_login_01.gif) no-repeat 0 2px;}
div.designLogin2 div.tab {position: absolute; left:355px; top:0; background:url(../img/common/trans.gif);}
div.designLogin2 div.loginPart2 div.loginCus1, div.designLogin2 div.loginPart2 div.loginCus2 {position: relative;}
div.designLogin2 div.loginPart2 div.loginCus2 {display:none;}
div.designLogin2 div.loginPart2 a.loginBtn {position: absolute; left:180px; top:4px;}
div.designLogin2 div.loginPart2 input.lgBox1 {border: 1px solid #9da3a6; width: 157px; margin-top: 3px; background: url(../img/login/bg_input_01.gif) no-repeat left top; padding:2px 6px 1px 6px;}
div.designLogin2 div.loginPart2 input.lgBox2 {border: 1px solid #9da3a6; width: 157px; margin-top: 3px; background: url(../img/login/bg_input_02.gif) no-repeat left top; padding:2px 6px 1px 6px;}
div.designLogin2 div.loginPart2 input.lgBox3 {border: 1px solid #9da3a6; width: 157px; margin-top: 3px; background: url(../img/login/bg_input_03.gif) no-repeat left top; padding:2px 6px 1px 6px;}
div.designLogin2 div.loginPart2 input.FocusLoginBox {border:1px solid #002664; width: 157px; margin-top: 3px; color:#4d4d4d; background:url(../img/common/bg_search_01.gif) left top no-repeat;padding:2px 6px 1px 6px;}
div.designLogin2 div.loginPart2 input.FocusLoginBox2 {border:1px solid #002664; width: 157px; margin-top: 3px; color:#4d4d4d; background:url(../img/login/bg_input_01.gif) left top no-repeat;padding:2px 6px 1px 6px;}
div.designLogin2 div.loginPart2 input.FocusNone {border:1px solid #9da3a6; width: 157px; margin-top: 3px; background:url(../img/login/bg_inputNone_01.gif) left top no-repeat;padding:2px 6px 1px 6px;}
label.login_mgr {padding-right: 6px;}
span.login_mgr {padding-right: 11px;}

p.designIdAdd1 span, div.designIdAdd2 h2, div.designIdAdd2 p {display:none;}
p.designIdAdd1 {height:112px;background:url(../img/login/text_idreg_01.gif) no-repeat left top;}
div.designIdAdd2 {height: 200px; background: url(../img/login/bg_idreg_01.gif) no-repeat left top; position: relative; overflow:hidden}
div.designIdAdd2 a.idAdd1 {position: absolute; left: 104px; top:129px;}
div.designIdAdd2 a.idAdd2 {position: absolute; left: 459px; top:129px;}

div.LoginBoxType1 {background:url(../img/common/bg_login_01.gif) left bottom no-repeat;padding-bottom:13px;margin-top:13px;}
div.LoginBoxType1 div.inboxType1 {background:url(../img/common/bg_login_02.jpg) left top no-repeat;padding:23px 20px 0px 224px;position:relative;}
div.LoginBoxType1 div.inboxType2 {background:url(../img/common/bg_login_03.jpg) left top no-repeat;padding:23px 20px 0px 224px;position:relative;}
div.LoginBoxType1 div.inboxType3 {background:url(../img/business/bg_loginbx.gif) left top no-repeat;padding:23px 20px 5px 245px;position:relative;}
div.LoginBoxType1 p.id {height:22px;font-size:14px;font-weight:bold;color:#16a3db;background:url(../img/common/text_login_01.gif) left 2px no-repeat;padding-left:57px;}
div.LoginBoxType1 p.id strong {display:none;}
div.LoginBoxType1 input.InputType1 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/common/bg_text_01.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType2 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/common/bg_text_02.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType3 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/common/bg_text_03.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType4 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/login/bg_input_01.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType5 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/login/bg_input_02.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType6 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/common/bg_text_04.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType7 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/business/bg_text_05.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType8 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/business/bg_text_06.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.InputType9 {border:1px solid #9da3a6;width:182px;margin-bottom:4px;background:url(../img/business/bg_text_07.gif) -1px -1px no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.FocusLoginBox {border:1px solid #002664; width:182px;margin-bottom:4px;color:#4d4d4d; background:url(../img/common/bg_search_01.gif) left top no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 input.FocusNone {border:1px solid #9da3a6; width:182px;margin-bottom:4px;background:url(../img/login/bg_inputNone_01.gif) left top no-repeat;padding:2px 6px 1px 6px;}
div.LoginBoxType1 img.txt {margin-bottom:13px;}
div.LoginBoxType1 img.btn1 {position:absolute;left:430px;_left:206px;top:46px;}
div.LoginBoxType1 img.btn2 {position:absolute;left:430px;_left:206px;top:85px;}
div.LoginBoxType1 img.btn3 {position:absolute;left:430px;_left:206px;top:88px;}
div.LoginBoxType1 img.btn4 {position:absolute;left:430px;_left:206px;top:127px;}
div.LoginBoxType1 img.btn5 {position:absolute;left:452px;_left:206px;top:53px;}
div.LoginBoxType1 div.tbCommentBottom {background:url(../img/common/bg_login_03.gif) left top no-repeat;padding-top:7px;color:#4d4d4d;}

div.designLogGuide01 {background:url(../img/login/img_guide_01.jpg) left top no-repeat;padding-top:119px;}
div.designLogGuide01 .tab {margin-top:26px;margin-bottom:15px;}
ol.guideStep01 {margin-top:14px;}
ol.guideStep01 li {padding-left:30px;padding-bottom:25px;}
ol.guideStep01 li.num1 {background:url(../img/login/img_step_num01.gif) left top no-repeat;}
ol.guideStep01 li.num2 {background:url(../img/login/img_step_num02.gif) left top no-repeat;}
ol.guideStep01 li.num3 {background:url(../img/login/img_step_num03.gif) left top no-repeat;}
ol.guideStep01 li.num4 {background:url(../img/login/img_step_num04.gif) left top no-repeat;}
ol.guideStep01 li.num5 {background:url(../img/login/img_step_num05.gif) left top no-repeat;}
ol.guideStep01 li.num6 {background:url(../img/login/img_step_num06.gif) left top no-repeat;}
ol.guideStep01 li.num7 {background:url(../img/login/img_step_num07.gif) left top no-repeat;}
ol.guideStep01 li.num8 {background:url(../img/login/img_step_num08.gif) left top no-repeat;}
ol.guideStep01 li.num9 {background:url(../img/login/img_step_num09.gif) left top no-repeat;}
ol.guideStep01 li img {display:block;margin-top:10px;}
div.guideStep02 {height:66px;}
div.smartStep1 {background:url(../img/login/txt_step_01.gif) left top no-repeat;padding-top:43px;}
div.smartStep2 {background:url(../img/login/txt_step_02.gif) left top no-repeat;padding-top:43px;}
div.smartStep3 {background:url(../img/login/txt_step_03.gif) left top no-repeat;padding-top:43px;}
div.smartStep4 {background:url(../img/login/txt_step_04.gif) left top no-repeat;padding-top:43px;}
div.smartStep5 {background:url(../img/login/txt_step_05.gif) left top no-repeat;padding-top:43px;}
div.smartStep6 {background:url(../img/login/txt_step_06.gif) left top no-repeat;padding-top:43px;}
div.smartStep1 .img, div.smartStep2 .img, div.smartStep3 .img, div.smartStep4 .img, div.smartStep5 .img, div.smartStep6 .img { margin-top:5px;}
div.designLogGuide02 {background:url(../img/login/img_guide_02.jpg) left top no-repeat;padding-top:119px;height:99px;}
div.designLogGuide01 span, div.designLogGuide02 span  {display:none;}

/* 자산관리 */
strong.assetList {display:block;color:#0d0d0d;padding-bottom:6px;}
ul.assetList li {background:url(../img/common/bu_asset_02.gif) left 8px no-repeat;padding:2px 0px 0px 7px;}
ul.assetList li a {color:#4d4d4d;}
ul.assetList li a:hover {color:#16a3db;}
div.designAgree01 {background:url(../img/asset/bg_agree_01.gif) 34px 0 no-repeat;padding-left:142px;}
div.designAgree01 p {padding-bottom:19px;line-height:19px;}
div.designAgree01 p.line {border-top:1px solid #16a4dc; padding-top:22px;}

/* 리서치 */
h1.pdf {padding:20px 0px;}

div.phistory {height:36px;text-align:right;color:#594e43;font-size:11px;margin-top:-36px;}
div.phistory a {background:url(../img/research/icon_his_01.gif) 3px 3px no-repeat;padding-left:11px;color:#9da3a6;}
div.phistory span {background:url(../img/research/icon_his_01.gif) 3px 3px no-repeat;padding-left:11px;color:#4d4d4d;}
table.expResearch tbody tr th {background:url(../img/research/bg_exp_01.gif) left top repeat-y;text-align:left;padding-top:6px; padding-bottom: 6px;}
table.expResearch tbody tr th a {color:#0d0d0d;}
table.expResearch tbody tr th a:hover {color:#16a3db;}
table.expResearch tbody tr th ul li {padding:4px 0px 0px 8px; letter-spacing: -1px;}
table.expResearch tbody tr th ul li.close {background:url(../img/research/icon_close.gif) 23px 6px no-repeat;}
table.expResearch tbody tr th ul li.open {background:url(../img/research/icon_open.gif) 23px 6px no-repeat;}
table.expResearch tbody tr th ul li.open ul li {background:url(../img/research/icon_file.gif) 34px 6px no-repeat;font-weight:normal;padding-left:46px;}
table.expResearch tbody tr th ul li img {margin-right:19px;}
table.expResearch tbody tr td h2 {padding-bottom:12px;color:#002664;font-size:16px;}
table.expResearch tbody tr td div.line {height:18px;background:url(../img/research/img_line_01.gif) right top no-repeat;}
table.expResearch tbody tr td div.bbs_paging {margin-bottom:0px;}

p.designAnalyst1 {height: 36px; background: url(../img/research/img_research_01.gif) no-repeat left top;padding-top:174px;}
p.designAnalyst1 span {display: none;}
h2.analystHead {border-top: 2px solid #6b7073; border-bottom: 1px solid #6b7073; padding: 18px 0 16px 0;}
dl.analystHead {margin-top: 19px; position: relative;}
dl.analystHead dt {width: 178px; float:left;}
dl.analystHead dd.name {position: absolute; left:178px; _left:0px; top:19px;}
dl.analystHead dd.email a {color: #9ea3a7; font-weight:bold; text-decoration:none; position: absolute; left:178px; _left:0px;  top:50px;}
dl.analystHead dd.single {color: #9ea3a7; font-weight:bold; text-decoration:none; position: absolute; left:178px; _left:0px;  top:79px; width: 160px; padding-top: 25px; background: url(../img/research/text_research_02.gif) no-repeat left top;}
dl.analystHead dd.edu {float: right; width: 286px; padding-left: 70px; padding-bottom: 13px; background: url(../img/research/text_research_03.gif) no-repeat left top;}
dl.analystHead dd.career {float: right; width: 286px; padding-left: 70px; padding-bottom: 13px; background: url(../img/research/text_research_04.gif) no-repeat left top;}
dl.analystHead dd.external {float: right; width: 286px; padding-left: 70px; background: url(../img/research/text_research_05.gif) no-repeat left top;}
dl.analystHead dd.edu2 {position: absolute; left:178px; _left:0px; top:80px; padding-top: 20px; background: url(../img/research/text_research_03.gif) no-repeat left top;}
dl.analystHead dd.career2 {position: absolute; left:178px; _left:0px; top:150px; padding-top: 20px; background: url(../img/research/text_research_04.gif) no-repeat left top;}
dl.analystHead dd.book {float: right; width: 356px; padding-top: 20px; padding-bottom:13px; background: url(../img/research/text_research_07.gif) no-repeat left top;}
dl.analystHead dd.data {float: right; width: 356px; padding-top: 20px; background: url(../img/research/text_research_06.gif) no-repeat left top;}
dl.analystHead dd.single span, dl.analystHead dd.edu span, dl.analystHead dd.edu2 span, dl.analystHead dd.career span, dl.analystHead dd.career2 span, dl.analystHead dd.external span, dl.analystHead dd.book span, dl.analystHead dd.data span.tle {display: none;}
/*#anlystPart_1 h2, #anlystPart_2 h2, #anlystPart_3 h2, #anlystPart_4 h2 	{display: none;}
dl.analystPeople {float: left; width: 355px;}
dl.analystPeople dt {float: left; width:121px; padding-bottom: 5px;}
dl.analystPeople dt img {cursor: pointer;}
dl.analystPeople dd {float: right; width:213px; padding-bottom: 1px;}
dl.analystPeople dd a {color: #9ea3a7; text-decoration:none; }
dl.analystPeople dd img {margin-top: 10px;}
dl.analystPeople dd img.btn {margin-top: 13px;}
dl.analystDetail dt {padding-left: 6px; padding-bottom: 12px;}
dl.analystDetail dd {color: #6b7073; padding-left: 7px; padding-top: 3px; background: url(../img/common/bu_dot_03.gif) no-repeat 0px 8px;}
dl.analystDetail dd span {display:block; font-weight:bold; color: #0d0d0d;}
div.layerAnalyst {display: none;}*/

ul.resultType1 {border-bottom: 1px solid #6b7073;}
ul.resultType1 li {color:#9da3a6;padding-bottom:9px;}
ul.resultType1 li.end {padding-bottom:14px;}
ul.resultType1 li strong {color: #4d4d4d;}
ul.resultType1 li img.btn {vertical-align:top;margin-top:-1px;}

div.analystPeople ul {overflow:hidden;}
div.analystPeople ul li {width:355px;height:124px;float:left;}
div.analystPeople ul li img.pic {vertical-align:top;float:left;margin-right:19px;}
div.analystPeople ul li div {float:left;padding-top:10px;}
div.analystPeople ul li div span { display:block;padding-top:8px;height:24px;}
div.analystPeople ul li div span a {color:#9ea3a7;}
div.analystPeople ul li div span a:hover {text-decoration:none;}
div#anlystPart_2, div#anlystPart_3, div#anlystPart_4 {display:none;}

/* 해외주식 */
#LayerGlobal_2, #LayerGlobal_3 {display:none;}
ul.designTGuide {clear:both;}
ul.designTGuide li {float:left;width:60px;height:60px;text-align:center;word-spacing:-4px;}
div.designTfna {background:url(../img/trading/bg_fna_01.jpg) left top no-repeat;padding-top:169px;}
div.designTfna p {display:block;width:0px;height:0px;overflow:hidden;padding:0px;margin:0px;}
dl.designTList {height:62px;border-top:1px solid #ececec;border-bottom:1px solid #ececec;padding:5px 0px 4px 10px;}
dl.designTList dt {float:left;background:url(../img/trading/bg_global_01.gif) right 4px no-repeat;font-weight:bold;color:#002664;padding:2px 8px 1px 0px;}
dl.designTList dd.con {float:left;width:200px;padding:2px 8px 1px 6px;}
dl.designTList dd.con a {color:#4d4d4d;}
dl.designTList dd.date {float:right;width:70px;padding:2px 8px 1px 0px;text-align:right;font-size:11px;color:#9da3a6;}
div.designTusa {background-color:#f1f3f4;}
div.designTusa ul.fl {margin:20px 0px 0px 20px;}
div.designTusa ul.fr {width:280px;margin-top:20px;}
div.designTusa img {vertical-align:top;padding-bottom:16px;}
div.designTusa ul.cDepthBul {margin:-2px 0px 0px 10px;}
div.designTmsci div.fl {width:382px;}
div.designTmsci div.fr {width:220px;}
div.designTmsci div.fr ul {margin-top:5px;}
div.designTmsci div.fr ul li {padding-bottom:8px;}

/* 대출 신용 */
div.designStockPower1 {height:73px;background: url(../img/banking/img_service_00.gif) left top no-repeat;padding-top:167px;}
ul.designStockPower1 li {float: left; width:355px; padding-bottom: 30px;}
ul.designStockPower1 li dt {padding-bottom:11px;}
ul.designStockPower1 li dt img.title {margin-right: 9px;}
ul.designStockPower1 li a .btn {vertical-align: top; margin-top: 2px; margin-left: -2px;}
ul.designStockPower1 li dd {background: url(../img/common/bu_dot_03.gif) no-repeat 0 6px; padding-left: 10px; padding-bottom: 4px;}

div.designDeposit1 h2, div.designDeposit1 p, dl.designDeposit1 dt {display: none;}
div.designDeposit1 {height: 230px; background: url(../img/banking/img_service_01.jpg) no-repeat left top;}
dl.designDeposit1 {width: 100%; padding-top: 39px; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designDeposit1 dd {letter-spacing: -1px;}
dl.designDeposit1 dd.one {float: left; width: 203px; background: url(../img/banking/text_service_01.gif) no-repeat left top; padding: 30px 5px 0 27px;}
dl.designDeposit1 dd.two {float: left; width: 190px; background: url(../img/banking/text_service_02.gif) no-repeat left top; padding: 30px 15px 0 30px;}
dl.designDeposit1 dd.three {float: left; width: 190px; background: url(../img/banking/text_service_03.gif) no-repeat left top; padding: 30px 15px 0 30px;}

div.designSecurity1 h2, div.designSecurity1 p, dl.designSecurity1 dt {display: none;}
div.designSecurity1 {height: 230px; background: url(../img/banking/img_service_02.gif) no-repeat left top;}
dl.designSecurity1 {width: 100%; padding-top: 39px; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designSecurity1 dd {letter-spacing: -1px;}
dl.designSecurity1 dd.one {float: left; width: 300px; background: url(../img/banking/text_service_04.gif) no-repeat left top; padding: 30px 45px 0 27px;}
dl.designSecurity1 dd.two {float: left; width: 275px; background: url(../img/banking/text_service_05.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designSell2 h2, div.designSell2 p, dl.designSell2 dt {display: none;}
div.designSell2 {height: 230px; background: url(../img/banking/img_service_03.gif) no-repeat left top;}
dl.designSell2 {width: 100%; padding-top: 39px; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designSell2 dd {letter-spacing: -1px;}
dl.designSell2 dd.one {float: left; width: 300px; background: url(../img/banking/text_service_06.gif) no-repeat left top; padding: 30px 45px 0 27px;}
dl.designSell2 dd.two {float: left; width: 275px; background: url(../img/banking/text_service_07.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designResale2 h2, div.designResale2 p, dl.designResale2 dt {display: none;}
div.designResale2 {height: 230px; background: url(../img/banking/img_service_04.jpg) no-repeat left top;}
dl.designResale2 {width: 100%; padding-top: 39px; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designResale2 dd.one {float: left; width: 300px; background: url(../img/banking/text_service_08.gif) no-repeat left top; padding: 30px 45px 0 27px;}
dl.designResale2 dd.two {float: left; width: 275px; background: url(../img/banking/text_service_09.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designElsDls2 h2, div.designElsDls2 p, dl.designElsDls2 dt {display: none;}
div.designElsDls2 {height: 230px; background: url(../img/banking/img_service_05.gif) no-repeat left top;}
dl.designElsDls2 {width: 100%; padding-top: 39px; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designElsDls2 dd.one {float: left; width: 300px; background: url(../img/banking/text_service_10.gif) no-repeat left top; padding: 30px 45px 0 27px;}
dl.designElsDls2 dd.two {float: left; width: 275px; background: url(../img/banking/text_service_11.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designCMA3 h2, div.designCMA3 p, dl.designCMA3 dt {display: none;}
div.designCMA3 {height: 160px; background: url(../img/banking/img_service_06.jpg) no-repeat left top;}
dl.designCMA3 {width: 100%; padding-top: 39px; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designCMA3 dd.one {float: left; width: 203px; background: url(../img/banking/text_service_12.gif) no-repeat left top; padding: 30px 5px 0 27px;}
dl.designCMA3 dd.two {float: left; width: 190px; background: url(../img/banking/text_service_13.gif) no-repeat left top; padding: 30px 15px 0 30px;}
dl.designCMA3 dd.three {float: left; width: 190px; background: url(../img/banking/text_service_14.gif) no-repeat left top; padding: 30px 15px 0 30px;}

dl.designCredit1 {height: 205px; background: url(../img/banking/img_credit_01.gif) no-repeat left top; position:relative}
dl.designCredit1 dt, dl.designCredit1 dd span {display:none}
dl.designCredit1 dd.service {position: absolute; left:26px; top: 159px;}
dl.designCredit1 dd.rental {position: absolute; left:382px; top: 159px;}

div.designCredit2 h2, div.designCredit2 p, dl.designCredit2 dt {display: none;}
div.designCredit2 {height: 86px; padding-top: 154px; background: url(../img/banking/img_credit_02.gif) no-repeat left top;}
dl.designCredit2 {width: 100%; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designCredit2 dd.one {float: left; width: 300px; height: 90px; background: url(../img/banking/text_credit_01.gif) no-repeat left top; padding: 30px 45px 0 30px;}
dl.designCredit2 dd.two {float: left; width: 275px; height: 90px; background: url(../img/banking/text_credit_02.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designCredit2 dd.three {float: left; width: 300px; background: url(../img/banking/text_credit_03.gif) no-repeat left top; padding: 30px 45px 0 30px;}
dl.designCredit2 dd.four {float: left; width: 270px; background: url(../img/banking/text_credit_04.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designCredit3 h2, div.designCredit3 p, dl.designCredit3 dt {display: none;}
div.designCredit3 {height: 82px; padding-top: 157px; background: url(../img/banking/img_credit_03.gif) no-repeat left top;}
dl.designCredit3 {width: 100%; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designCredit3 dd.one {float: left; width: 175px; background: url(../img/banking/text_credit_05.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designCredit3 dd.two {float: left; width: 175px; background: url(../img/banking/text_credit_06.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designCredit3 dd.three {float: left; width: 175px; background: url(../img/banking/text_credit_07.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designGoodi1 h2, div.designGoodi1 p, dl.designGoodi1 dt {display: none;}
div.designGoodi1 {height: 80px; padding-top: 195px; background: url(../img/banking/img_goodi_01.gif) no-repeat left top;}
dl.designGoodi1 {width: 100%; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designGoodi1 dd.one {float: left; width: 315px; height: 105px; background: url(../img/banking/text_goodi_01.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designGoodi1 dd.two {float: left; width: 275px; height: 105px; background: url(../img/banking/text_goodi_02.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designGoodi1 dd.three {float: left; width: 300px; background: url(../img/banking/text_goodi_03.gif) no-repeat left top; padding: 30px 45px 0 30px;}
dl.designGoodi1 dd.four {float: left; width: 270px; background: url(../img/banking/text_goodi_04.gif) no-repeat left top; padding: 30px 30px 0 30px;}

div.designJeil1 h2, div.designJeil1 p, dl.designJeil1 dt {display: none;}
div.designJeil1 {height: 87px; padding-top: 173px; padding-left:5px; background: url(../img/banking/img_jeil_01.gif) no-repeat left top;}
dl.designJeil1 {width: 100%; padding-bottom: 35px; border-bottom: 1px solid #e6e8e8; position:relative;}
dl.designJeil1 dd.one {float: left; width: 315px; height: 139px; background: url(../img/banking/text_jeil_01.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designJeil1 dd.two {float: left; width: 275px; height: 139px; background: url(../img/banking/text_jeil_02.gif) no-repeat left top; padding: 30px 30px 0 30px;}
dl.designJeil1 dd.three {float: left; width: 300px; background: url(../img/banking/text_jeil_03.gif) no-repeat left top; padding: 30px 45px 0 30px;}
dl.designJeil1 dd.four {float: left; width: 270px; background: url(../img/banking/text_jeil_04.gif) no-repeat left top; padding: 30px 30px 0 30px;}

/* 퇴직연금 */
#sysLayer_1 {padding:18px 0px 40px 0px;border-bottom:1px solid #e6e6e6;}
#sysLayer_1 h3, #sysLayer_2 h3 {display:block;width:0px;height:0px;overflow:hidden;padding:0px;margin:0px;}
div.designBack1 {background:url(../img/retire/bg_sys_01.gif) left top no-repeat;padding:314px 0px 35px 143px;}
div.designBack2 {background:url(../img/retire/bg_sys_02.gif) left top no-repeat;padding:141px 0px 35px 143px;}
div.designBack3 {background:url(../img/retire/bg_sys_03.gif) left top no-repeat;padding:260px 0px 0px 143px;}
div#sysLayer_2 {background:url(../img/retire/bg_sys_04.gif) left 18px no-repeat;padding:413px 0px 35px 143px;border-bottom:1px solid #e6e6e6;}
div#sysLayer_3 {padding:0px 0px 35px 143px;border-bottom:1px solid #e6e6e6;}
div#sysLayer_3 div.fl, div#sysLayer_3 div.fr {width:255px;}
#sysLayer_4 {padding:18px 0px 40px 143px;border-bottom:1px solid #4d4d4d;}
#sysLayer_1, #sysLayer_2, #sysLayer_3, #sysLayer_4, div.RkindType h3 {display:none;}

table.RkindType tbody tr th {width:93px;background:url(../img/retire/bg_kind_01.gif) left 1px repeat-x;vertical-align:top;text-align:left;font-size:1px;line-height:1px;}
table.RkindType tbody tr td {width:627px;background:url(../img/retire/bg_kind_01.gif) left 1px repeat-x;letter-spacing:-1px;vertical-align:top;padding:8px 0px 3px 0px;}
div.RkindType {height:121px;background:url(../img/retire/bg_kind_02.gif) left top no-repeat;padding:50px 20px 0px 25px;}
div.RkindType ul li.l {float:left;width:220px;}
div.RkindType ul li.r {float:right;width:315px;}
div.RkindType ul li img {margin-bottom:13px;}

div.bgReWorker {height:513px;background:url(../img/retire/bg_worker_01.jpg) left top no-repeat;position:relative;}
div.bgReWorker div.RetireBtn {position:absolute;right:52px;top:92px;word-spacing:8px;}
div.bgReWorker h2.title {padding:15px 0px 0px 11px;}
div.bgReWorker div.contents {width:622px;height:333px;margin-left:36px;overflow:auto;
	scrollbar-face-color: #cdd1d3;
	scrollbar-shadow-color: #cdd1d3;
	scrollbar-highlight-color: #d8dbde;
	scrollbar-3dlight-color: #cdd1d3;
	scrollbar-darkshadow-color: #bec1c4;
	scrollbar-track-color: #f2f2f2;
	scrollbar-arrow-color: #313333;
}
div.bgReWorker .startType1 {margin-top:25px;}
ul.WorkerListType1 li.one {float:left;width:177px;padding-right:29px;}
ul.WorkerListType1 li.two {float:left;width:187px;padding-right:19px;}
ul.WorkerListType1 li.three {float:left;width:188px;padding-bottom:20px;}
ul.WorkerListType1 li.four {float:left;width:345px;padding-right:68px;}
ul.WorkerListType1 li.five {float:left;width:188px;}
ul.WorkerListType1 li img {vertical-align:top;margin-bottom:12px;}
div.bgReWorker h3.fl {width:100px;}
div.bgReWorker h3.txt {color:#002664;padding-bottom:12px;}
div.bgReWorker div.fr {width:500px;}
div.bgReWorker h4 {padding-bottom:9px;}
ul.RownerList li {float:left;width:200px;}
ul.RownerList li.end {padding-bottom:40px;}
ul.RownerList li.end2 {padding-bottom:70px;}
ul.RownerList li span {display:block;padding:8px 10px 0px 28px;}

div.RetireLeft {float:left;width:355px;}
div.RetireRight {float:right;width:355px;height:716px;background:url(../img/retire/bg_effect_01.gif) left top no-repeat;}
div.RetireRight2 {float:right;width:355px;height:530px;background:url(../img/retire/bg_mgt_01.gif) left top no-repeat;}
div.RetireLeft h3 {padding:30px 0px 14px 0px;}
div.RetireLeft ul, div.RetireLeft p {padding-right:20px;}
div.RetireLeft ol li.one {background:url(../img/retire/num_type1_1.gif) 3px 24px no-repeat;padding:36px 0px 26px 33px;}
div.RetireLeft ol li.one img {vertical-align:top;margin:-4px 0px 0px 4px;}
div.RetireLeft ol li.two {background:url(../img/retire/num_type1_2.gif) left top no-repeat;padding:12px 0px 27px 33px;}
div.RetireLeft ol li.three {background:url(../img/retire/num_type1_3.gif) left top no-repeat;padding:12px 0px 36px 33px;}
div.RetireLeft ol li.four {background:url(../img/retire/num_type1_4.gif) left top no-repeat;padding:12px 0px 8px 33px;}
div.RetireLeft ol li.five {background:url(../img/retire/num_type1_5.gif) left top no-repeat;padding:12px 0px 9px 33px;}
div.RetireLeft ol li.six {background:url(../img/retire/num_type1_6.gif) left top no-repeat;padding:12px 0px 18px 33px;}
div.RetireLeft ol li.seven {background:url(../img/retire/num_type1_7.gif) left top no-repeat;padding:12px 0px 9px 33px;}
div.RetireLeft ol li.eight {background:url(../img/retire/num_type1_8.gif) left top no-repeat;padding:12px 0px 0px 33px;}
div.RetireRight h3 {padding:30px 0px 14px 20px;}
div.RetireRight ul, div.RetireRight p {margin-left:20px;}
div.RetireRight2 ol li.one {background:url(../img/retire/num_type2_1.gif) 24px 24px no-repeat;padding:36px 0px 26px 54px;}
div.RetireRight2 ol li.two {background:url(../img/retire/num_type2_2.gif) 21px top no-repeat;padding:12px 0px 27px 54px;}
div.RetireRight2 ol li.three {background:url(../img/retire/num_type2_3.gif) 21px top no-repeat;padding:12px 0px 0px 54px;}
div.RetireRight2 ol li.four {background:url(../img/retire/num_type2_4.gif) 21px top no-repeat;padding:12px 0px 8px 54px;}
div.RetireRight2 ol li.five {background:url(../img/retire/num_type2_5.gif) 21px top no-repeat;padding:12px 0px 27px 54px;}
div.RetireRight2 ol li.six {background:url(../img/retire/num_type2_6.gif) 21px top no-repeat;padding:12px 0px 0px 54px;}

div.uiRSysLeft {float:left;width:175px;}
div.uiRSysMid {float:left;width:195px;padding:0px 40px 0px 60px;}
div.uiRSysRight {float:left;width:215px;}
ol.RSysProcess li.one {float:left;width:182px;height:93px;background:url(../img/retire/text_sys_08.gif) left top no-repeat;padding:32px 0px 0px 21px;}
ol.RSysProcess li.two {float:left;width:140px;height:93px;background:url(../img/retire/text_sys_09.gif) left top no-repeat;padding:32px 0px 0px 61px;}
ol.RSysProcess li.three {float:left;width:185px;height:93px;background:url(../img/retire/text_sys_10.gif) 36px top no-repeat;padding:32px 0px 0px 97px;}
ol.RSysProcess li.four {float:left;width:182px;background:url(../img/retire/text_sys_11.gif) left top no-repeat;padding:32px 0px 0px 21px;}
ol.RSysProcess li.five {float:left;width:160px;background:url(../img/retire/text_sys_12.gif) left top no-repeat;padding:32px 0px 0px 61px;}

fieldset.SearchFund {height:31px;background:url(../img/retire/bg_search_01.gif) left top no-repeat;padding:11px 15px 0px 15px;}
fieldset.SearchFund label {padding-right:4px;}
fieldset.SearchFund label.bar {border-right:1px solid #e2e2e2;padding-right:20px;margin-right:15px;}
fieldset.SearchFund input.box {width:140px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #9da3a6;padding:2px 8px 1px 8px;}
fieldset.SearchFund input.FocusBox {width:140px;background:url(../img/common/bg_search_01.gif) left top no-repeat;border:1px solid #002664;color:#4d4d4d;padding:2px 8px 1px 8px;}
fieldset.SearchFund img {vertical-align:top;margin-left:6px;}
fieldset.SearchFund div.fl {padding-top:3px;}

div.designRmgtInfo {height:243px;background:url(../img/retire/bg_mgt_01.jpg) 31px 29px no-repeat;}

div.ReProListType1 {background:url(../img/retire/bg_rec_02.gif) right bottom no-repeat;padding:0px 2px 2px 0px;}
div.ReProListType1 ul {border-left:1px solid #dfdfdf;border-top:1px solid #f0f0f0;}
div.ReProListType1 ul li {height:115px;position:relative;margin-bottom:0px;}
div.ReProListType1 ul li.list1 {background:url(../img/retire/icon_rec_01.jpg) left top no-repeat;}
div.ReProListType1 ul li.list2 {background:url(../img/retire/icon_rec_02.jpg) left top no-repeat;}
div.ReProListType1 ul li.list3 {background:url(../img/retire/icon_rec_03.jpg) left top no-repeat;}
div.ReProListType1 ul li.list4 {background:url(../img/retire/icon_rec_04.jpg) left top no-repeat;}
div.ReProListType1 ul li.list5 {background:url(../img/retire/icon_rec_05.jpg) left top no-repeat;}
div.ReProListType1 ul li.list6 {background:url(../img/retire/icon_new_01.jpg) left top no-repeat;}
div.ReProListType1 ul li.list7 {background:url(../img/retire/icon_new_02.jpg) left top no-repeat;}
div.ReProListType1 ul li.list8 {background:url(../img/retire/icon_new_03.jpg) left top no-repeat;}
div.ReProListType1 ul li img {vertical-align:top;}
div.ReProListType1 ul li dl {position:absolute;left:204px;top:17px;}
div.ReProListType1 ul li dl dt {padding-bottom:7px;}
div.ReProListType1 ul li dl dd {padding-bottom:3px;}
div.ReProListType1 ul li img.btn {float:right;margin:49px 49px 0px 0px;}

div.designReEdu {height:290px;background:url(../img/retire/bg_edu_01.jpg) left 30px no-repeat;position:relative;}
div.designReEdu ul {display:none;}
div.designReEdu img.btn1 {position:absolute;left:375px;top:48px;}
div.designReEdu img.btn2 {position:absolute;left:375px;top:152px;}

div.designWhy {background:url(../img/retire/bg_why_01.gif) left 19px no-repeat;padding:10px 0px 0px 414px;}
div.designWhy2 {height:239px;background:url(../img/retire/bg_why_02.jpg) left top no-repeat;}
div.designWhy3 {background:url(../img/retire/bg_why_03.jpg) right bottom no-repeat;padding:5px 0px 70px 0px;}
div.designWhy3 table thead {display:none;}
div.designWhy3 table tbody tr th {text-align:left;vertical-align:top;padding:25px 0px}
div.designWhy3 table tbody tr td {text-align:left;vertical-align:top;padding-bottom:3px;}
div.designWhy3 table tbody tr td.start {padding-top:25px;}
div.designWhy3 table tbody tr td.end {padding-bottom:21px;background:url(../img/retire/dot_why_01.gif) left bottom repeat-x;}
div.designWhy3 table tbody tr td img {margin-top:2px;}
div.designWhy4 {height:240px;background:url(../img/retire/bg_why_04.gif) left top no-repeat;}
div.designWhy5 {background:url(../img/retire/img_why_02.jpg) 14px bottom no-repeat;padding-left:186px;}
div.designWhy6 {height:240px;background:url(../img/retire/bg_why_05.jpg) left top no-repeat;}
div.designWhy7 {height:240px;background:url(../img/retire/bg_why_06.jpg) left top no-repeat;}

div.designWhy2 p, div.designWhy4 p, div.designWhy6 p, div.designWhy7 p, div.designRmgtInfo p {display:none;}

dl.designTerm1 {border-bottom: 1px solid #6b7073;}
dl.designTerm1 dt {padding: 8px 20px 4px 10px; font-size: 14px; font-weight: bold; color: #002664; border-top: 1px solid #d2d7d9;cursor:pointer;}
dl.designTerm1 dt.fst {border-top: 1px solid #6b7073;}
dl.designTerm1 dd {padding: 11px 20px 9px 10px; line-height: 21px; background: url(../img/retire/img_dotline_01.gif) repeat-x left top;display:none;}

div.designRQna {height:160px;background:url(../img/retire/bg_qna_01.gif) left 6px no-repeat;position:relative;}
div.designRQna img.btn1 {position:absolute;left:233px;top:75px;}
div.designRQna img.btn2 {position:absolute;left:586px;top:75px;}

/* 기업금융 */
div.businessVirtue { background: url(../img/business/bg_cb_01.jpg) repeat-x left bottom; border-top: 1px solid #e6e9ea; border-left: 1px solid #e6e9ea; border-bottom: 1px solid #b7bbbd; border-right: 1px solid #b7bbbd; margin-bottom:11px; position: relative;}
div.businessVirtue h3 { position:absolute; left:57px; top:23px;}
div.businessVirtue div { padding: 54px 0 24px 55px;}
div.businessVirtue div.no1 { background: url(../img/business/bg_num_01.gif) no-repeat 17px 23px;}
div.businessVirtue div.no2 { background: url(../img/business/bg_num_02.gif) no-repeat 17px 23px;}
div.businessVirtue div.no3 { background: url(../img/business/bg_num_03.gif) no-repeat 17px 23px;}
div.businessVirtue div.no4 { background: url(../img/business/bg_num_04.gif) no-repeat 17px 23px;}
ul.businessServices {background:url(../img/business/bg_services_01.jpg) no-repeat 78px top; height:540px;text-align:center}
ul.businessServices li {width:116px;margin-top:46px;height:70px;line-height:18px;}
ul.businessServices li.l2 {padding-top:15px;height:55px;}
ul.businessServices li.l3 {padding-top:8px;height:62px;}
ul.businessServices li.l5 {margin-top:35px;height:81px;line-height:17px;}
ul.businessServices li.left {float:left;padding-left:100px;margin-top:118px;}
ul.businessServices li.right {float:right;padding-right:111px;margin-top:118px;}
ul.businessServices li.bottom {clear:both;margin-top:117px;}

div.designIpo01 {background: url(../img/business/img_ipo_02.gif) no-repeat left top; padding-left:230px; height:320px; padding-top:24px;}
div.designIpo01 h3 {display: none;}
div.designIpo01 ul {margin-bottom:60px;}
div.designIpo01 ul li {line-height:20px;}

div.designIpo02 {border: 1px solid #d2d7d9; background:url(../img/business/img_ipo_01.gif) no-repeat 27px 22px; height: 245px; padding-top:194px; padding-left:28px; }
div.designIpo02 ul li strong, div.designIpo02 ul li p {display:none;}
div.designIpo02 ul li {float:left;}
div.designIpo02 ul li ul.con {width:108px;font-size:11px; letter-spacing:-1px; }
div.designIpo02 ul li ul.con li {float:none;background:url(../img/common/bu_box_03.gif) no-repeat left 5px; padding:0px 5px 14px 7px; line-height:15px; }
div.designIpo02 ul li ul.con li ul li {float:none;background:url(../img/common/bu_table_02.gif) left 5px no-repeat;padding-bottom:0px; }

div.designIpo03 {height:400px;background:url(../img/business/bg_ipo_01.gif) 7px bottom no-repeat;padding-left:33px;}
div.designIpo03 h2 {height:36px;}
div.designIpo03 div.left {float:left;width:170px;padding:294px 50px 0px 0px;}
div.designIpo03 div.mid {float:left;width:235px;padding:237px 44px 0px 0px;}
div.designIpo03 div.right {float:left;width:175px;padding-top:165px;}
div.designIpo03 div.right ul li {padding-right:20px;}

div.bgTypeipo01 {background:url(../img/business/img_company_02.gif) no-repeat 27px 22px; height:80px;  padding-top:147px; }
div.bgTypeipo02 {background:url(../img/business/img_pe_03.gif) no-repeat 27px 22px; height:235px;  padding-top:147px;}

ul.ipoDataType li {background: url(../img/common/bu_box_03.gif) no-repeat left 6px; letter-spacing:-1px; padding-left:8px; }

div.designAipo1 {height:409px;background:url(../img/business/img_ipo_03.gif) left top no-repeat;padding:0px 40px 0px 360px;}
div.designAipo1 h2 {padding:37px 0px 10px 0px;}
div.designAipo1 ul {margin-bottom:3px;}

ul.designCost li {float:left;width:160px;height:98px;padding:166px 10px 0px 17px;}
ul.designCost li.list1 {background:#f6f7f7 url(../img/business/bg_cost_01.gif) left top no-repeat;margin-right:30px;}
ul.designCost li.list2 {background:#f6f7f7 url(../img/business/bg_cost_02.gif) left top no-repeat;margin-right:30px;}
ul.designCost li.list3 {background:#f6f7f7 url(../img/business/bg_cost_03.gif) left top no-repeat;}
ul.designCost li strong {display:none;}
ul.designCost li span {font-weight:bold;}

div.BizBoxType01 {background:url(../img/business/bg_box_01.gif) right top repeat-y;padding:0px 20px;border:1px solid #d2d7d9;}
div.BizBoxType01 table tbody tr th {background:url(../img/business/bg_spac_01.gif) right center no-repeat;text-align:left;padding:30px 0px 30px 3px;}
div.BizBoxType01 table tbody tr td {padding:28px 3px 27px 0px;}
div.BizBoxType01 table tbody tr th.line, div.BizBoxType01 table tbody tr td.line {border-bottom:1px solid #dddddd;}
div.BizBoxType01 table tbody tr td.r {text-align:right;vertical-align:top;padding-bottom:15px;padding-right:23px;}
div.BizBoxType01 table tbody tr td.noBp {padding-bottom:15px;}
div.BizBoxType01 table tbody tr td.noTp {padding-top:0px;}

div.BizBoxType02 {background:url(../img/business/bg_box_01.gif) right top repeat-y;padding:0px 0px 10px 13px;border:1px solid #d2d7d9;margin-bottom:20px;}

dl.designSoc01 {background:url(../img/business/img_soc_01.jpg) no-repeat left top;height:194px;padding-left:208px; }
dl.designSoc01 dt {display:none;}
dl.designSoc01 dd {color:#0d0d0d;line-height:17px;padding:20px 0 18px 0; }

div.ipo_con01 {background:url(../img/business/bg_ipo_01.jpg) no-repeat 424px top;}
div.ipo_con02 {background:url(../img/business/bg_ipo_02.jpg) no-repeat 485px top;}
div.ipo_con03 {background:url(../img/business/bg_ipo_03.jpg) no-repeat 449px top;}

/* 교육센터 */
div.eduMenuList {width:710px;border-top:1px solid #18a4dc;padding-top:17px;}
div.eduMenuList ul {clear:both;border:1px solid #FFF;}
div.eduMenuList ul li {float:left;width:340px;height:22px;padding-left:10px;}
div.eduMenuList a {color:#4d4d4d;}
div.eduMenuList a:hover {color:#16a3db;}
div.eduMenuList a.sel {font-weight:bold;color:#16a3db;}
div.eduMenuClose {height:50px;clear:both;text-align:center;padding-top:13px;background:url(../img/edu/bg_edu_02.gif) left 13px repeat-x;}
div.eduMenuOpen {height:50px;clear:both;text-align:center;display:none;background:url(../img/edu/bg_edu_02.gif) left top repeat-x;}
div.eduMenuClose img, div.eduMenuOpen img {cursor:pointer;vertical-align:top;}

div.designEdu1 {background:url(../img/edu/bg_edu_01.gif) left 10px no-repeat;padding:10px 0px 35px 70px;color:#826d59;font-size:11px;}
div.designEdu1 img {display:block;vertical-align:top;margin-bottom:9px;}
div.stepEdu1 {text-align:right;padding:20px 0px 10px 0px;}
div.stepEdu1 img {vertical-align:top;}
div.designEdu2 {width:640px;background:url(../img/edu/bg_edu_03.gif) left bottom no-repeat;border-top:1px solid #d2d7d9;padding:15px 0px 14px 20px;color:#0d0d0d;margin:10px 0px;}
div.designEdu2 strong {color:#16a3db;}

div.designEdu3 {height:240px;background:url(../img/edu/bg_elw_01.jpg) left top no-repeat;}
div.designEdu3 p, div.designEdu3 ul {display:none;}

div.elwFeature1 {position:relative;width:710px;height:111px;background:url(../img/edu/bg_elw_01.gif) no-repeat left top;}
div.elwFeature1 h2 {display:none;}
div.elwFeature1 ul {position:absolute;left:150px;top:19px;width:560px;}
div.elwFeature1 ul li {float:left;display:inline;width:280px;padding-bottom:10px;}

div.aniBlock {float:left; width:240px;}
div.aniBlockLast {width:230px;}
div.aniBlock p {width:229px; background:url(../img/edu/bg_anibox01_top.gif) left top no-repeat; text-align:center; padding:15px 0;}
div.aniBlock ul {width:229px; background:url(../img/edu/bg_anibox01_btm.gif) left bottom no-repeat; padding-bottom:5px;}
div.aniBlock ul li {width:214px; background:url(../img/edu/bg_anidot_02.gif) 15px 0px no-repeat; padding:8px 0px 5px 15px; color:#6b7073;}
div.aniBlock ul li.last {background:url(../img/edu/bg_anidot_02.gif) 15px 1px no-repeat;}
div.aniBlock ul.open li {background:url(../img/edu/bg_anidot_01.gif) 15px 0px no-repeat; cursor:pointer;}
div.aniBlock ul.open li.last {background:url(../img/edu/bg_anidot_01.gif) 15px 1px no-repeat;}
div.aniBlock ul li a {color:#6b7073;}
div.aniBlock ul li a:hover {color:#16a3db;}
div.aniBlock ul li ol {margin:13px 0px 18px 0px; display:none;}
div.aniBlock ul li ol li, div.aniBlock ul.open li ol li {width:180px; color:#16a3db; background:none;cursor:default; padding:3px 0px 2px 18px; text-indent:-14px;}
div.aniBlock ul li ol li a {color:#16a3db;}

ul.beginnerBlock {width:710px;}
ul.beginnerBlock li {float:left; width:144px; height:159px; background:url(../img/edu/bg_beginnerbox_01.gif) left top no-repeat;}
ul.beginnerBlock li.last {width:133px;}
ul.beginnerBlock li p {width:133px; height:100px; margin:6px 0px 10px 0px; text-align:center;}
ul.beginnerBlock li span {display:block; width:120px; padding:0px 0px 0px 6px; color:#6b7073;}
ul.beginnerBlock li a {color:#6b7073;}
ul.beginnerBlock li a:hover {color:#16a3db;}

fieldset.calendarSelect {width:708px; border-left:1px solid #bdc1c3;border-right:1px solid #bdc1c3;border-top:1px solid #bdc1c3; padding:14px 0px 14px 0px;}
fieldset.calendarSelect div.fl {padding-left:15px;}
fieldset.calendarSelect div.fr {padding:2px 15px 0px 0px;}
fieldset.calendarSelect img.num {vertical-align:top; margin:0px -2px 0px 0px;}
fieldset.calendarSelect img.yleft {vertical-align:top; margin:9px 10px 0px 0px;}
fieldset.calendarSelect img.yright {vertical-align:top; margin:9px 14px 0px 12px;}
fieldset.calendarSelect img.mleft {vertical-align:top; margin:9px 10px 0px 0px;}
fieldset.calendarSelect img.mright {vertical-align:top; margin:9px 5px 0px 12px;}
fieldset.calendarSelect img.this {vertical-align:top; margin:5px 0px 0px 0px;}
table.calendar {border-left:1px solid #bdc1c3;border-right:1px solid #bdc1c3;border-bottom:1px solid #bdc1c3; font-size:11px;}
table.calendar th {background:url(../img/edu/bg_calendar_th.gif) right top no-repeat; color:#0d0d0d; padding:5px 0 4px 0; border-right:1px solid #adb8c9;}
table.calendar th.last {background:url(../img/edu/bg_calendar_th.gif) left top no-repeat;}
table.calendar td {height:88px; vertical-align:top; border-right:1px solid #e8edf0;border-bottom:1px solid #e8edf0; padding:3px 5px 6px 5px;}
table.calendar td strong {color:#6b7073; display:block;}
table.calendar td strong.next {color:#d2d7d9;}
table.calendar th.sun, table.calendar td strong.sun {color:#d93021;}
table.calendar td.close {background-color:#f3f3f3;}
table.calendar td dl.schedule {line-height:15px;}
table.calendar td dl.schedule dd.icon {margin-bottom:2px;}
table.calendar td dl.schedule dd.icon input.radio {margin:0px -5px 2px -2px;}
table.calendar td dl.schedule dd.icon img {margin-right:-2px;}
table.calendar td dl.schedule, table.calendar td dl.schedule a {color:#6b7073;}
table.calendar td dl.schedule a:hover {color:#16a3db;}
table.calendar td dl.schedule strong {color:#4d4d4d;}
table.calendar td.close dl.schedule {color:#9da3a6;}
table.calendar td.close dl.schedule strong {color:#9da3a6; font-weight:normal;}

div.designColum {height:192px;background:url(../img/edu/img_column_01.jpg) left top no-repeat;}
div.designColum p, div.designColum h2 {display:none;}
div.columnList {border-top:1px solid #4d4d4d;margin-top:8px;}

div.eduOutBox {background:url(../img/edu/bg_edu_04.jpg) right top no-repeat;padding-top:10px;}
div.eduOutBox p.text {padding-bottom:60px;}