<!--<%@ page contentType="text/html; charset=euc-kr"%>-->
<!--<%@page import="java.sql.*,  javax.sql.*,java.io.*, java.util.*,java.util.Date, javax.naming.*, java.text.*" %>
<%@ include file="../etc/Usr_function.jsp" %>
<%@ include file="/sql/part9/part3_list.jsp" %>

<%
response.setHeader("Pragma", "No-cache");
response.setDateHeader("Expires", 0);
response.setHeader("Cache-Control", "no-cache");

//네비게이션 관련 변수 초기화 시작
int ListPage = 0;					//게시물 페이지 번호
int TotalList = 0;					//전체 리스트 수
int ListPerPage = 10;				//페이지 당 출력할 리스트 수
int TotalPage = 1;					//전체 페이지 수
int idx = 0;

if (request.getParameter("ListPage") != null)
{
	ListPage = Integer.parseInt(request.getParameter("ListPage"));
}
else
{
	ListPage = 1;
}

int seq = 0;
String title	= null;
String writer	= null;
String regdate	= null;
int cnt = 0;

Connection			conn		= null;
PreparedStatement	pstmtCnt	= null;
PreparedStatement	pstmtLst	= null;
ResultSet			rsCnt		= null;
ResultSet			rsLst		= null;

try
{	
	conn = openDBcon();
	SimpleDateFormat formatter = new SimpleDateFormat ("yyyy-MM-dd");

	pstmtCnt = conn.prepareStatement(getQuery(11), ResultSet.TYPE_SCROLL_INSENSITIVE , ResultSet.CONCUR_READ_ONLY);
	pstmtLst = conn.prepareStatement(getQuery(12), ResultSet.TYPE_SCROLL_INSENSITIVE , ResultSet.CONCUR_READ_ONLY);

	rsCnt = pstmtCnt.executeQuery();

	//보여줄 리스트 위치 찾기
	if (rsCnt.next())
	{
		TotalList = Integer.parseInt(rsCnt.getString(1));	//전체 메시지 수

		if (TotalList % ListPerPage > 0)
		{
			TotalPage = TotalList / ListPerPage + 1;		//전체 페이지 계산
		}
		else
		{
			TotalPage = TotalList / ListPerPage;
		}

		pstmtLst.setMaxRows(ListPage*ListPerPage);
		rsLst = pstmtLst.executeQuery() ;

		if (ListPage > 1)
		{
			rsLst.absolute((ListPage-1)*ListPerPage);		//시작 인덱스 레코드로 이동
		}
		else
		{
		    rsLst.beforeFirst();
		}

		idx = TotalList - (ListPage - 1) * ListPerPage;
	}
%>
-->
<!--<%@ include file="../../inc/hd.jsp"%>-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>한국가스공사</title>
<script type="text/javascript" src="../../js/common.js"></script>   
<link rel="stylesheet" type="text/css" href="../../css/base.css" />
<link rel="stylesheet" type="text/css" href="../../css/content.css" />
<link rel="stylesheet" type="text/css" href="../../css/etc.css" />
</head>
<body id="m_wrap"  onload="window.scrollTo(1, 0)">
<div class="wrap">

	<div class="header">
		<div class="headSect">
			<h1><a href="#"><img src="../../images/mv_img_logo.gif" alt="KOGAS" style="width:110px"></a></h1>
			<a href="#" onclick="allmW('on');" class="menu"><img src="../../images/img_allmenu.gif" alt="전체메뉴" style="width:28px"></a>
			
			<!-- 전체메뉴 Start -->
			<div id="allmenuH" class="allmenu" style="display: none;">
				<div class="allmenuIn">
					<strong>전체메뉴<a href="#" onclick="allmW('off');"><img src="../../images/btn_allmenu_close.gif" alt="전체메뉴닫기" style="width:20px"></a></strong>
					
					<ul>
						<li>
							<a href="#" class="bgm">KOGAS 소개</a>
							<ul>
								<li><a href="#">소개</a></li>
								<li><a href="#">인사말</a></li>
								<li><a href="#">비전</a></li>
								<li><a href="#">사업분야</a></li>
								<li><a href="#">핵심가치</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu2">가스정보</a>
							<ul>
								<li><a href="#">천연가스 소재</a></li>
								<li><a href="#">이용산업</a></li>
								<li><a href="#">열량정보</a></li>
								<li><a href="#">천연가스 용어사전</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu3">고객지원</a>
							<ul>
								<li><a href="#">고객의 소리</a></li>
								<li><a href="#">고객현장</a></li>
								<li><a href="#">비리신고</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu4">홍보활동</a>
							<ul>
								<li><a href="#">사회공헌 소개</a></li>
								<li><a href="#">활동분야</a></li>
								<li><a href="#">KOGAS 봉사단</a></li>
								<li><a href="#">태권도단</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu5">정보마당</a>
							<ul>
								<li><a href="#">요금정보</a></li>
								<li><a href="#">주식정보</a></li>
								<li><a href="#">통계정보</a></li>
								<li><a href="#">열량조회</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu6">열림마당</a>
							<ul>
								<li><a href="#">공지사항</a></li>
								<li><a href="#">보도자료</a></li>
								<li><a href="#">입찰정보</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu7">채용정보</a>
							<ul>
								<li><a href="#">Why KOGAS</a></li>
								<li><a href="#">인사제도</a></li>
								<li><a href="#">입사지원</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu8">열린경영</a>
							<ul>
								<li><a href="#">지속가능 경영</a></li>
								<li><a href="#">저탄소경영</a></li>
								<li><a href="#">윤리경영</a></li>
								<li><a href="#">안전,환경경영(EHSQ)</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="bgm menu9">경영공시</a>
							<ul>
								<li><a href="#">IR정보</a></li>
								<li><a href="#">재무정보</a></li>
								<li><a href="#">공고</a></li>
								<li><a href="#">경영공시</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- //전체메뉴 end-->
		</div>


		<div class="hd_md">
			<ul class="smenu">
				<li><a href="part1_list.html"><img src="../../images/stit9_1_off.png" alt="IR정보"></a></li>			
				<li><a href="part2_1.html"><img src="../../images/stit9_2_off.png" alt="재무정보"></a></li>				
				<li class="over"><a href="part3_list.html"><img src="../../images/stit9_3_on.png" alt="공고"></a></li>  
                <li><a href="part4_1.html"><img src="../../images/stit9_4_off.png" alt="경영공시"></a></li>
			</ul>
		</div>
		<div class="hd_bt">
			<h3>공고</h3>
		</div>		
	</div>
	
	<div class="cont_pn"> 
		<ul class="liT02">
		
		    <li>  
				<a href="part3_view.jsp?idx=731&amp;ListPage=1">한국가스공사 일반공모 청약안내 </a>
				<ul class="liT03"> 			
				    <li>2013-10-23</li>
				    <li>조회 342</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=729&amp;ListPage=1">공공기관 고객만족도조사 관련 개인정보.... </a>
				<ul class="liT03"> 			
				    <li>2013-10-21</li>
				    <li>조회 163</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=728&amp;ListPage=1">발행가액 확정 공고 </a>
				<ul class="liT03"> 			
				    <li>2013-10-16</li>
				    <li>조회 221</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=654&amp;ListPage=1">청렴도 측정을 위한 개인정보 제3자 .... </a>
				<ul class="liT03"> 			
				    <li>2013-08-19</li>
				    <li>조회 272</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=649&amp;ListPage=1">주주명부의 폐쇄 및 기준일 공고 </a>
				<ul class="liT03"> 			
				    <li>2013-08-13</li>
				    <li>조회 378</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=648&amp;ListPage=1">신주발행공고 </a>
				<ul class="liT03"> 			
				    <li>2013-08-13</li>
				    <li>조회 465</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=507&amp;ListPage=1">2013년 제1차 임시주주총회 소집공.... </a>
				<ul class="liT03"> 			
				    <li>2013-06-10</li>
				    <li>조회 498</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=506&amp;ListPage=1">2013년 제 1차 임시주주총회 소집.... </a>
				<ul class="liT03"> 			
				    <li>2013-06-10</li>
				    <li>조회 369</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=500&amp;ListPage=1">주주명부의 폐쇄와 기준일의 공고 </a>
				<ul class="liT03"> 			
				    <li>2013-05-09</li>
				    <li>조회 479</li>
				</ul>
		    </li>
		
		    <li>  
				<a href="part3_view.jsp?idx=489&amp;ListPage=1">제11차 장기 천연가스 수급계획 </a>
				<ul class="liT03"> 			
				    <li>2013-04-30</li>
				    <li>조회 885</li>
				</ul>
		    </li>
		
		</ul>
		<!--ul class="liT02">
		<% if(TotalList < 1) { %>
			<li class="nolist">  
			등록된 글이 없습니다.	 	    
		    </li>
		<%
		} else { 
			for (int i = 0; i < ListPerPage; i ++ ) {
				if (rsLst.next()) {
					seq = rsLst.getInt("SEQ");
					regdate = formatter.format(rsLst.getTimestamp("REG_DATE"));
					cnt = rsLst.getInt("S_VIEW_CNT");
					
					//XSS 역변환
					title = viewXssCheck(rsLst.getString("S_TITLE"));
					
					if (title.length() > 20)
					{
						title = title.substring(0, 20) + "....";
					}
		%>
		    <li>  
				<a href="part3_view.jsp?idx=<%=seq%>&ListPage=<%=ListPage%>"><%=title %> </a>
				<ul class="liT03"> 			
				    <li><%=regdate %></li>
				    <li>조회 <%=cnt%></li>
				</ul>
		    </li>
		<%
				}
				idx = idx - 1;
			}
		}
		%>
		</ul-->	 
		<!--div class="btn">
			<%
				if (ListPage > 1) {
			%>
			<a href="?ListPage=1"><img src="../../images/btn_pre1.gif" alt="처음으로 페이지 이동"/></a>
			<a href="?ListPage=<%=ListPage-1%>"><img src="../../images/btn_pre.gif" alt="이전 페이지 이동"/></a>
			<%  } %>
			
			<span><em><%=ListPage%></em> / <%=TotalPage%></span>
			
			<%
				if (ListPage < TotalPage) {
			%>
			<a href="?ListPage=<%=ListPage+1%>"><img src="../../images/btn_nx.gif" alt="다음 페이지 이동"/></a>
			<a href="?ListPage=<%=TotalPage%>"><img src="../../images/btn_nx1.gif" alt="마지막 페이지 이동"></a>
			<%	} %>
		</div-->
		<div class="btn">
			
			
			<span><em>1</em> / 3</span>
			
			
			<a href="?ListPage=2"><img src="../../images/btn_nx.gif" alt="다음 페이지 이동"></a>
			<a href="?ListPage=3"><img src="../../images/btn_nx1.gif" alt="마지막 페이지 이동"></a>
			
		</div>

	</div>

	<!--<%@ include file="../../inc/footer.jsp"%>-->
<div class="foot">
		<a href="http://www.kogas.or.kr/kogas_kr/html/about/about_submain.jsp" target="_blank">PC버전</a>
		<a href="#">오시는 길</a>
		<a href="http://twitter.com/kogastweets" target="_blank" title="새창"><span>트위터</span></a>
		<a href="#" target="_blank" title="새창"><span>페이스북</span></a>
		<span><a href="#m_wrap" class="topbtn"><img src="../../images/btn_top.png" alt="맨위로" style="width:50px;"></a></span>
		
		<p> ⓒ KOREA GAS CORPORATION. ALL RIGHTS RESERVED.</p>
	</div></div>
</body>
</html>
<%
	rsCnt.close();
	rsLst.close();

	pstmtCnt.close();
	pstmtLst.close();

	conn.close();
}
catch(Exception e)
{
	throw e;
}
finally
{
	try {
	    if (rsCnt != null) {
		    rsCnt.close();
		}
	}catch(Exception ee) {}
	try {
	    if (rsLst != null) {
		    rsLst.close();
		}
	}catch(Exception ee) {}
	try {
	    if (pstmtCnt != null) {
		    pstmtCnt.close();
		}
	}catch(Exception ee) {}
	try {
	    if (pstmtLst != null) {
		    pstmtLst.close();
		}
	}catch(Exception ee) {}
	try {
	    if (conn != null) {
		    conn.close();
		}
	}catch(Exception ee) {}
}
%>