@charset 'euc-kr';

/* 기술이전대상 게시판 상세 */
.basicview .viewdown.reserch2 .fl {width:300px}
.basicview .viewdown.reserch2 .fr {padding-top:0}

/* 냉방 열병합 장려금신청 */
.numtxt_box {text-align:center; background-color:#fbfbfb; border-top:2px solid #00a8e8; border-bottom:1px solid #bfbfbf; padding:20px 0 }
.numtxt_box strong {color:#444; margin-right:20px}
.numtxt_box p {margin:10px 0 0 195px;text-align:left}

.cooling_heat {overflow:hidden;margin:25px 0 0 0}
.cooling_heat li {float:left;text-align:center; margin-left:15px;background:url(../images/business/bg_step01.gif) no-repeat left 22px;width:86px; color:#444; font-size:13px}
.cooling_heat li:first-child {margin-left:0}
.cooling_heat span {display:block; font-size:12px; margin-bottom:100px}

.ch_apply {background:url(../images/business/bg_coolheat01.gif) no-repeat left top;width:340px;height:165px;text-align:center;padding:30px 0 0 0; margin-bottom:20px}
.ch_apply strong {color:#444;font-family:'NGB';display:block;margin-bottom:10px; font-size:15px}
.ch_apply .txtLink {color:#0094e1;text-decoration:underline}
.ch_apply div {margin-top:60px}
.ch_applytxt {padding-left:20px;background:url(../images/business/bul_exmark01.gif) no-repeat left 2px; margin:0 0 20px 15px;}

/* 사업안내 팝업 신청안내 하단 */
.pop_introbtm {margin-top:20px;text-align:center}
.pop_introbtm p {text-align:left;}
.pop_introbtm strong {font-size:26px;display:block;clear:both; color:#222; padding-top:50px}
.pop_introbtm > em {float:right; font-size:16px}
.pop_introbtm > span {display:block; margin-top:20px;font-size:16px}
.pop_introbtm .rightSect {float:right; text-align:right; margin-top:20px; font-size:16px}

.applyBlank01 {display:inline-block; width:20px !important}
.applyBlank02 {display:inline-block; width:40px !important}
.applyBlank03 {display:inline-block; width:60px !important}
.applyBlank04 {display:inline-block; width:80px !important}
.applyBlank05 {display:inline-block; width:120px !important}

.natural01_top {overflow:hidden;padding-left:17px;margin-top:20px}
.natural01_top span {float:left;margin-right:20px}
.natural01_top ul li {margin-bottom:15px;font-size:12px}
.natural01_top ul li img{vertical-align:bottom;margin:0 10px -1px 0}
.natural01_cent {overflow:hidden;padding-left:17px;}
.natural01_cent > span {float:left;width:300px}
.natural01_cent div {float:left;width:380px;}
.natural01_cent p {line-height:20px; padding-bottom:30px; border-bottom:1px solid #bcbcbc;  margin-bottom:20px}
.natural01_cent ul {overflow:hidden}
.natural01_cent ul li {float:left; margin-bottom:15px; font-size:12px}
.natural01_cent ul li.wid1 {width:140px}
.natural01_cent ul li.wid2 {width:130px}
.natural01_cent ul li img{vertical-align:bottom;margin:0 10px -2px 0}

.natur_jolist {overflow:hidden}
.natur_jolist li {float:left; margin-left:20px}
.natur_jolist li:first-child {margin-left:0}
.natur_jolist li+li+li+li {margin-top:30px}
.natur_jolist02 {width:670px; margin:0 auto;}
.natur_jolist02 li {margin-top:30px}
.natur_jolist02 li:first-child {margin-top:15px}

.oseas_list01 {margin:30px 0 0 0}
.oseas_list01 > li {background:url(../images/common/bg_resultline.gif) repeat-x left bottom; overflow:hidden; padding:30px 0;}
.oseas_list01 li span {float:left; margin-right:17px}
.oseas_list01 > li > div {float:left; width:463px}
.oseas_list01 li div strong { font-family:'NGB'; font-size:16px; color:#009aea}
.oseas_list01 li div ul {margin:18px 0 0 -7px;}
.oseas_list01 li div ul li {padding-bottom:4px}
.oseas_list01 li div ul li .ml_blank {padding-left:100px}
.oseas_list01 li div ul li .ml_blank2 {padding-left:30px}
.oseas_list01 li div ul li .ml_blank3 {padding-left:50px}
.oseas_list01 li div ul li .ml_blank4 {padding-left:90px}
.oseas_list01 li div ul li .ml_blank5 {padding-left:70px}
.oseas_list01 li div ul li .ml_blank6 {padding-left:220px}

.rech_imgbox {margin:20px 0 0 40px;}
.rech_imgbox2 {margin:0 0 0 25px;}
.rech_imgbox img:first-child,.rech_imgbox2 img:first-child {margin-right:20px}
.rech_imgbox3 {margin-left:-15px}
.rech_imgbox3 img {margin-left:15px}
.rech_imgbox3 img:first-child {margin-left:0}
.bl_sublist.sctype,.sub_con.sctype {overflow:hidden}
.bl_sublist.sctype li,.sub_con.sctype li {float:left;width:320px;}

.re06_cont {position:relative;}
.re06_cont .re06_cont_intop {width:350px;}
.re06_cont .tbtype01 {position:absolute;right:0;top:0;width:320px}
.re06_cont02 {overflow:hidden; padding:30px 0 0 0}
.re06_cont02 span {float:left;width:240px;}
.re06_cont02 div {float:left;width:460px}
.institu_cont01 {margin-top:40px; font-size:12px}
.institu_cont01 strong {color:#555;}
.institu_cont01 ol {margin:5px 0 0 20px}
.institu_cont01 ol li {list-style:outside decimal;line-height:24px}
.institu_cont02 {margin:5px 0 0 20px}
.institu_cont02 > li {list-style:outside decimal;line-height:24px;margin-bottom:5px}
.institu_cont02 li ul{margin-top:0 !important}

.gtlskill {padding:15px 0; margin-left:-17px;}
