@charset 'euc-kr';

/* author : HYJ */
.con_txtb {font-size:17px; color:#444; font-family:'NGB'; line-height:24px;}
.con_txt {margin-top:10px; line-height:24px;}

.selectArea {*zoom:1;}
.selectArea:after {content:""; clear:both; display:block;}
.selectArea .searchcon {float:left;}
.selectArea .btn01 {float:right;}

.disclosure {*width:719px; margin:50px 0 0 -19px; *zoom:1;}
.disclosure:after {content:""; clear:both; display:block;}
.disclosure [class*=linkbox] {width:340px; float:left; margin:0 0 20px 19px; background:url(../images/disclosure/bg_box_bottom.png) 0 bottom no-repeat;}
.disclosure [class*=linkbox] .inbox {background:url(../images/disclosure/bg_box_top.gif) 0 top no-repeat; padding:18px 21px 21px 21px;}
.disclosure [class*=linkbox] .inbox h4 a {color:#222;}
.disclosure [class*=linkbox] .inbox ul {margin-top:10px; background-position:right bottom; background-repeat:no-repeat;}
.disclosure .linkbox1 ul {background-image:url(../images/disclosure/bg_guidemap01.gif); min-height:360px;}
.disclosure .linkbox2 ul {background-image:url(../images/disclosure/bg_guidemap02.gif); min-height:360px;}
.disclosure .linkbox3 ul {background-image:url(../images/disclosure/bg_guidemap03.gif); min-height:210px;}
.disclosure .linkbox4 ul {background-image:url(../images/disclosure/bg_guidemap04.gif); min-height:210px;}
.disclosure .linkbox5 ul {background-image:url(../images/disclosure/bg_guidemap05.gif); min-height:160px;}
.disclosure .linkbox6 ul {min-height:150px;}
.disclosure .linkbox6 {background:#f1faff url(../images/disclosure/bg_box_bottom.png) 0 bottom no-repeat;}

.bizinfo {margin-top:50px; position:relative; padding-right:320px; text-align:justify;}
.bizinfo .logo_down {width:280px; position:absolute; top:50px; right:0; text-align:center;}
.bizinfo .logo_down .logo {margin-bottom:25px;}

.account {border:3px solid #eee; padding:25px; text-align:center; margin-top:30px;}
.account .office {margin-top:20px; color:#000; font-size:16px;}

.government {margin-top:10px;}
.government .year {background:url(../images/disclosure/icon_paper.gif) 0 0 no-repeat; padding-left:68px; font-size:34px; line-height:53px; color:#444; font-family:'NGB';}
.government .down {color:#222;}
.government .bl_sublist {margin-top:20px;}

.directorate {margin-top:50px; position:relative; padding-right:240px; text-align:justify;}
.directorate .down {position:absolute; top:45px; right:0; text-align:center; background:url(../images/disclosure/bg_directorate.gif) center 0 no-repeat; padding-top:160px;}
.director {margin-top:15px;}
.director > li {background-position:20px 0; background-repeat:no-repeat; padding-left:160px; margin-bottom:25px;}
.director > li h5 {float:left; margin-right:10px;}
.director > li .academic {background:url(../images/common/bg_stick.gif) 0 center no-repeat; padding-left:11px; overflow:hidden; color:#222;}
.director > li .bl_sublist {clear:both; color:#222;}
.director > li .bl_sublist .sub_con {color:#777;}
.director li.p1 {background-image:url(../images/disclosure/pic_directorate01.jpg);}
.director li.p2 {background-image:url(../images/disclosure/pic_directorate02.jpg);}
.director li.p3 {background-image:url(../images/disclosure/pic_directorate03.jpg);}
.director li.p4 {background-image:url(../images/disclosure/pic_directorate04.jpg);}
.director li.p5 {background-image:url(../images/disclosure/pic_directorate05.jpg);}
.director li.p6 {background-image:url(../images/disclosure/pic_directorate06.jpg);}
.director li.p7 {background-image:url(../images/disclosure/pic_directorate07.jpg);}
.director li.p8 {background-image:url(../images/disclosure/pic_directorate08.jpg);}
.director li.p9 {background-image:url(../images/disclosure/pic_directorate09.jpg);}
.director li.p10 {background-image:url(../images/disclosure/pic_directorate10.jpg);}


/* author : KYR */

.titArea{*zoom:1}
.titArea:after{content:"";display:block;clear:both}
.titArea .bl_tit{margin-top:8px}
.tbtype01 tfoot td.last{border-right:0 none}
