@charset 'euc-kr';

.guidebody {width:1280px;height:100%;background: url(../images/guide/guide_line.gif) repeat-y 250px 0;}
.mt35 {margin-top:35px;}
#guidewrap {padding:40px 0 30px;}
#guidegnb {position:absolute;left:0;top:0;margin:0;padding:0;width:250px;font-family:Verdana;}
#guidegnb h1 {font-size:20px;padding:0 0 0 24px;}
.guidemmb h2 {padding:20px 0 10px 24px;color:#9cb9ca;font-size:16px;}
.guidemmb ul {margin-left:20px;}
.guidemmb ul li {width:124px;padding:4px 0 4px 24px;border-bottom:1px solid #eee;font-size:11px;}
.guidemmb ul li.list a {color:#ff7979;font-weight:bold;}
.guidemmb ul li.list a:hover {color:#ff0000;} 
.guidemmb ul li a:hover {text-decoration:none;color:#aaa;}
.guidemmb ul li a.on {color:#000;font-weight:bold;}

.guidecon {width:900px;margin-left:300px;}
.guidecon h2 {padding:0 0 30px;font-size:36px;font-weight:bold;letter-spacing:-1px;color:#000;}

.guideex {clear:both;}
.guideex dt {font-size:20px;font-weight:bold;letter-spacing:-1px;color:#000;}
.guideex dd {padding:10px 0 30px;color:#aaa;}

