@charset 'euc-kr';

/* location */
.location_map {height:448px;margin-bottom:30px;border:1px solid #e6e6e6}
.introAdd {position:relative}
.introAdd span {position:absolute;top:-4px;padding-left:10px}

.introTop1 {background:url(../images/intro/bg_intro01.jpg) no-repeat right top; margin:60px 0 30px 0; padding-right:335px; height:243px}
.introTop1 strong { font-size:24px; color:#444; white-space:nowrap;}

.hist_list {overflow:hidden;background:url(../images/common/bg_resultline.gif) repeat-x left bottom; padding:25px 0 30px 0}
.hist_list > strong {float:left;font-size:24px; width:150px; color:#00a8e8}
.hist_list ul {float:left; margin-top:10px;width:540px}
.hist_list ul li {line-height:24px}
.hist_list ul li strong {width:50px; color:#444; float:left;}
.hist_list ul li p {float:left;width:490px}
.hist_list.hislno {background:none}

.cip_cont1 {padding-left:15px;overflow:hidden}
.cip_cont1 p {float:left;width:360px;line-height:24px}
.cip_cont1 div {float:right;width:325px;text-align:center}
.cip_cont1 div span {display:block;margin-bottom:25px}
.cip_cont2 {padding-left:15px;overflow:hidden;background:url(../images/intro/bg_linecip.gif) no-repeat center 93px;}
.cip_cont2 p {line-height:24px;margin-bottom:50px}
.cip_cont2 div {float:left;width:336px;text-align:center}
.cip_cont2 div span {display:block;margin-bottom:35px}
.cip_cont3 {text-align:center; margin-bottom:50px}
.cip_cont3 p {padding-left:15px;line-height:24px;margin-bottom:20px;text-align:left}
.cip_cont3 span {margin-bottom:25px;display:inline-block}
.cip_cont4 {float:left;width:325px;text-align:center}
.cip_cont4 p {text-align:left;line-height:24px;margin:0 0 30px 15px}
.cip_cont4 span {margin-bottom:30px;display:inline-block}
.cip_cont4 span.sigimg {padding-top:25px}

.ceo_top {margin:60px 0 30px 0; padding-right:350px;background:url(../images/intro/bg_ceo01.jpg) no-repeat right top; height:316px; font-family:'NGB'}
.ceo_top strong {font-size:24px;color:#444}
.ceo_top p {margin:20px 0 40px 0;line-height:24px}
.ceo_top span {display:block;position:relative;width:240px}
.ceo_top span img {position:absolute;right:0;top:-12px}
.ceo_top2 strong {font-size:20px;color:#009aea}
.ceo_top2 p {margin:20px 0; line-height:24px; font-family:'NGB'}
.ceo_hist {background:url(../images/common/bg_resultline.gif) repeat-x left top; margin:80px 0 0 0; overflow:hidden; position:relative}
.ceo_hist dt {position:absolute;left:0;top:30px;font-family:'NGB'}
.ceo_hist dt strong {display:block;font-size:20px;color:#444;}
.ceo_hist dt span {display:block;margin-bottom:20px;color:#444;}
.ceo_hist dd {margin-left:172px;background:url(../images/common/bg_resultline.gif) repeat-x left top; padding:30px 0; overflow:hidden; font-family:'NGB'}
.ceo_hist dd:first-child {background:none}
.ceo_hist dd strong {float:left;font-family:'NGB';color:#444;width:85px}
.ceo_hist dd ul {float:left}
.ceo_hist dd ul li {margin-top:10px;}
.ceo_hist dd ul li:first-child {margin-top:0}
.ceo_hist dd ul li span {width:185px; display:inline-block}

.operation_cont {margin:60px 0 0 0}
.operation_cont > strong {color:#444;font-family:'NGB';font-size:24px; display:block; margin-bottom:20px}
.operation_cont p {line-height:24px}
.operation_cont .oper_in {margin:0 0 0 0}
.operation_cont .oper_in strong {font-family:'NGB';color:#444;display:block;margin-bottom:15px}
.operation_cont .oper_in strong span {display:block;color:#009aea;font-size:20px;margin-bottom:15px}
.operation_cont .inbg1 {background:url(../images/intro/bg_ceo02.jpg) no-repeat left top;padding:22px 0 0 370px; margin-top:40px}
.operation_cont .inbg2 {background:url(../images/intro/bg_ceo03.jpg) no-repeat right 66px;margin-top:25px; padding-right:370px;}
.operation_cont .inbg3 {background:url(../images/intro/bg_ceo04.jpg) no-repeat left 65px;margin-top:30px;padding-left:370px;}

.charter_list {overflow:hidden;margin-top:30px}
.charter_list li {background:url(../images/intro/bg_charter_list.gif) no-repeat left top; padding:6px 0 0 70px; height:47px; float:left; width:271px; }
.charter_list li+li+li {margin-top:16px}
.charter_list li strong{display:block; color:#444;font-family:'NGB'}
.charter_list02 { overflow:hidden; margin-top:30px}
.charter_list02 li{background-image:url(../images/intro/charter_list2_01.jpg); width:180px; background-repeat:no-repeat; background-position:center top; float:left; padding:158px 0 0 0; text-align:center; margin-left:50px;}
.charter_list02 li:first-child {margin-left:65px}
.charter_list02 li+li {background-image:url(../images/intro/charter_list2_02.jpg); width:160px}
.charter_list02 li+li+li {background-image:url(../images/intro/charter_list2_03.jpg);}
.charter_list02 li strong {font-size:16px; color:#444; display:block; margin-bottom:15px; font-family:'NGB'}
.whytop_cont {margin-top:50px; line-height:20px}
.whytop_cont strong {display:block; color:#009aea; font-size:17px; margin-bottom:15px}

.bl_sub_p {padding:0 0 8px 17px;background:url(../images/common/bl_sublist.gif) no-repeat 10px 9px;line-height:22px;}

.job_in02_top {margin-top:20px; text-align:center; position:relative; padding-top:60px}
.job_in02_top a {position:absolute; right:0; top:0}
.job_in02_top strong {font-size:24px; color:#444; font-family:'NGB';}
.job_in02_top strong em {color:#009aea}
.job_in03_cont {padding:50px 234px 0 0;background:url(../images/intro/bg_jobs01.gif) no-repeat right 50px; position:relative; line-height:22px}
.job_in03_cont a {position:absolute; bottom:0; right:0}
.job_in03_cont strong {display:block; font-size:17px; color:#444; margin-bottom:18px;font-family:'NGB';}
.job_in03_cont strong em {color:#009aea}
.job_in03_cont p {padding-left:15px}
.job_in04_top {margin:50px 0; line-height:22px}
.job_in04_top strong {font-size:18px; color:#444;font-family:'NGB'; display:block; margin-bottom:15px}
.job_in04_top em {color:#009aea;}

.bspace_list {border-bottom:1px solid #e6e6e6; overflow:hidden;}
.bspace_list li {float:left;background-image:url(../images/intro/bg_bluelist01.jpg);padding:0 0 25px 0; background-repeat:no-repeat; background-position:center 0; text-align:left;  font-size:11px; margin-top:20px;}
.bspace_list li+li {background-image:url(../images/intro/bg_bluelist02.jpg);}
.bspace_list li+li+li {background-image:url(../images/intro/bg_bluelist03.jpg);}
.bspace_list li+li+li+li {background-image:url(../images/intro/bg_bluelist04.jpg);}
.bspace_list li+li+li+li+li {background-image:url(../images/intro/bg_bluelist05.jpg);}
.bspace_list li+li+li+li+li+li {background-image:url(../images/intro/bg_bluelist06.jpg);}
.bspace_list li+li+li+li+li+li+li {background-image:url(../images/intro/bg_bluelist07.jpg);}
.bspace_list li a {display:block;padding:76px 18px 0 17px; line-height:16px;color:#444;background:url(../images/intro/bg_line_bluelist.gif) no-repeat left bottom}
.bspace_list li:first-child a { background:none}
.bspace_list li strong {display:block; font-size:14px; margin-bottom:3px}
.bspace_list li a:hover,.bspace_list li.on a {color:#009aea; text-decoration:none}

.bspace_info {position:relative; padding:50px 0 50px 240px;background:url(../images/common/bg_resultline.gif) repeat-x left bottom;}
.bspace_info span {position:absolute;left:45px;top:0}
.bspace_info h4 {color:#222; font-size:16px;}
.bspace_info em {color:#444; font-size:14px; display:block; margin:18px 0 14px 0;}

.bspace_haru {padding:0 0 30px 0;}
.bspace_haru div {background-repeat:no-repeat;background-position:10px top; padding-left:235px; min-height:125px; margin-bottom:20px}
.bspace_haru div:first-child {margin-top:50px}
.bspace_haru.bgh01 div {background-image:url(../images/intro/bg_bluelist01_01.jpg)}
.bspace_haru.bgh01 div+div {background-image:url(../images/intro/bg_bluelist01_02.jpg)}
.bspace_haru.bgh01 div+div+div {background-image:url(../images/intro/bg_bluelist01_03.jpg)}
.bspace_haru.bgh01 div+div+div+div {background-image:url(../images/intro/bg_bluelist01_04.jpg)}
.bspace_haru.bgh02 div {background-image:url(../images/intro/bg_bluelist02_01.jpg)}
.bspace_haru.bgh02 div+div {background-image:url(../images/intro/bg_bluelist02_02.jpg)}
.bspace_haru.bgh02 div+div+div {background-image:url(../images/intro/bg_bluelist02_03.jpg)}
.bspace_haru.bgh02 div+div+div+div {background-image:url(../images/intro/bg_bluelist02_04.jpg)}
.bspace_haru.bgh03 div {background-image:url(../images/intro/bg_bluelist03_01.jpg)}
.bspace_haru.bgh03 div+div {background-image:url(../images/intro/bg_bluelist03_02.jpg)}
.bspace_haru.bgh03 div+div+div {background-image:url(../images/intro/bg_bluelist03_03.jpg)}
.bspace_haru.bgh03 div+div+div+div {background-image:url(../images/intro/bg_bluelist03_04.jpg)}
.bspace_haru.bgh04 div {background-image:url(../images/intro/bg_bluelist04_01.jpg)}
.bspace_haru.bgh04 div+div {background-image:url(../images/intro/bg_bluelist04_02.jpg)}
.bspace_haru.bgh04 div+div+div {background-image:url(../images/intro/bg_bluelist04_03.jpg)}
.bspace_haru.bgh04 div+div+div+div {background-image:url(../images/intro/bg_bluelist04_04.jpg)}
.bspace_haru.bgh04 div+div+div+div+div {background-image:url(../images/intro/bg_bluelist04_05.jpg)}
.bspace_haru.bgh05 div {background-image:url(../images/intro/bg_bluelist05_01.jpg)}
.bspace_haru.bgh05 div+div {background-image:url(../images/intro/bg_bluelist05_02.jpg)}
.bspace_haru.bgh05 div+div+div {background-image:url(../images/intro/bg_bluelist05_03.jpg)}
.bspace_haru.bgh05 div+div+div+div {background-image:url(../images/intro/bg_bluelist05_04.jpg)}
.bspace_haru.bgh06 div {background-image:url(../images/intro/bg_bluelist06_01.jpg)}
.bspace_haru.bgh06 div+div {background-image:url(../images/intro/bg_bluelist06_02.jpg)}
.bspace_haru.bgh06 div+div+div {background-image:url(../images/intro/bg_bluelist06_03.jpg)}
.bspace_haru.bgh06 div+div+div+div {background-image:url(../images/intro/bg_bluelist06_04.jpg)}
.bspace_haru.bgh07 div {background-image:url(../images/intro/bg_bluelist07_01.jpg)}
.bspace_haru.bgh07 div+div {background-image:url(../images/intro/bg_bluelist07_02.jpg)}
.bspace_haru.bgh07 div+div+div {background-image:url(../images/intro/bg_bluelist07_03.jpg)}
.bspace_haru.bgh07 div+div+div+div {background-image:url(../images/intro/bg_bluelist07_04.jpg)}