@charset 'euc-kr';

/* author : HYJ */
.imgArr {margin:0 auto;overflow:hidden;}
.imgArr li {float:left;margin-left:80px}
.imgArr li:first-child {margin-left:90px;}
.imgArr li em {display:block;margin-top:15px; text-align:center}

/* author : KYR */
.mt20{margin-top:20px!important}
.multiStage{*zoom:1}
.multiStage:after{content:"";display:block;clear:both}
.imgCen{text-align:center}
.imgCen span{display:inline-block}

/*지속가능경영*/
.report{}
.report div{float:left;position:relative;width:340px;min-height:198px;background:url(../images/manageinfo/bg_reporttop.gif) no-repeat 0 0}
.report div h4{padding:20px;font-size:14px;font-family:'NGB';color:#fff;line-height:100%}
.report div h4 a{position:absolute;top:17px;right:20px}
.report div .bl_sublist{margin-top:8px;padding:0 0 15px 11px;background:url(../images/manageinfo/bg_reportbtm.gif) no-repeat 0 100%}
.report div .bl_sublist li{padding-bottom:2px}
.report div .bl_sublist li img {vertical-align:middle;}
.report div.alldown{background:url(../images/manageinfo/bg_report.gif) no-repeat 0 0}
.report div.alldown h4{color:#444}
.report div.alldown p{text-align:center}

/*저탄소경영*/
.infocon .tit{padding-bottom:5px;font-size:12px;font-family:'NGB';color:#555;}
.infocon p.txt{font-size:12px;line-height:18px;}

/*안전환경경영*/
.hTxt .tit{font:normal 17px/25px 'NGB';color:#009aea}
.hTxt p{margin-top:10px;color:#444}
.txtWrap p{padding-top:20px;line-height:20px;}
.txtWrap p:first-child{padding-top:0}
.ehsq02{padding-left:240px;background:url(../images/manageinfo/bg_ehsq02.gif) no-repeat 50px 0}
.ehsq02 .hTxt ol li{position:relative;padding:0 0 8px 25px;line-height:20px}
.ehsq02 .hTxt ol li em{position:absolute;top:0;*top:-2px;left:0;color:#444;font-family:'NGB'}
.ehsq04{padding-left:250px;min-height:160px;background:url(../images/manageinfo/bg_ehsq04_11.jpg) no-repeat 0 0}
.tab031{background:url(../images/manageinfo/bg_ehsq04_31.jpg) no-repeat 0 0}
.tab033{background:url(../images/manageinfo/bg_ehsq04_33.jpg) no-repeat 0 0}
.tab034{background:url(../images/manageinfo/bg_ehsq04_34.jpg) no-repeat 0 0}
.downWrap{overflow:hidden;position:relative;background:url(../images/manageinfo/bg_downwrapl.gif) no-repeat 0 0}
.downInner{height:73px;background:url(../images/manageinfo/bg_downwrapr.gif) no-repeat 100% 0}
.downWrap strong{position:absolute;top:17px;left:26px;font-weight:normal;font-family:'NGB';color:#fff;line-height:20px}
.downWrap .downBtn{padding:19px 0 0 220px}
.downWrap .downBtn li{display:inline;letter-spacing:-1px}
.imgList li{position:relative;padding:0 0 5px 22px;line-height:20px}
.imgList li img{position:absolute;top:1px;*top:-1px;left:0}

/*윤리경영*/
.ethics{position:relative;padding-right:255px;background:url(../images/manageinfo/bg_ethics.gif) no-repeat 100% 0}
.ethics .btn02{position:absolute;top:168px;right:0;}

/*주식정보*/
.ir02_tab01{background:url(../images/manageinfo/bg_ir02_11.gif) no-repeat 100% 0}
.ir02_tab01 h4.tit{font:normal 24px/33px 'NGB';color:#009aea}
.ir02_tab01 p.txt{color:#444;line-height:25px;}
.ir02_tab01 h5{font-size:17px;color:#444}