@charset 'euc-kr';

.searchBox {background:url(../images/common/bg_searchtop.gif) repeat-x left top;height:174px; padding:20px 0 0 30px; margin-top:60px}
.searchBox .searchBoxT {*margin-top:-15px;}
.searchBox .searchBoxT .keyword {background:url(../images/common/bg_inputsearch.png) no-repeat left top;width:230px}
.searchBox .searchBoxT .keyword input {width:210px}
.searchBox .relation_list {margin:13px 0 0 160px; font-size:12px}
.searchBox .relation_list strong {margin-right:20px}
.searchBox .relation_list a {padding-right:10px; margin-right:8px;background:url(../images/common/bg_bbsdetailline.gif) no-repeat right 2px;}
.searchBox .relation_list a.last {background:none;}
.searchBox .recheck {vertical-align:top;margin:10px 8px; color:#444; display:inline-block; *margin-top:5px; position:relative}
.searchBox .recheck label {margin-top:-7px;*margin-top:-4px;display:inline-block}
.searchBox  .btn02small {margin-top:6px}
.searchBox .searchBoxB {text-align:left; margin-top:40px}
.searchBox .searchBoxB strong {margin-right:20px; color:#444;}
.sh_result {font-size:16px;color:#222;text-align:center;margin:50px 0 60px 0; font-family:'NGB'}
.sh_result span {color:#fb8a04}
.sh_result.nosult {background:url(../images/common/bg_searchno.gif) no-repeat center top;padding-top:180px;margin-top:80px}
.infocon02.se_result2 {padding:0 30px 20px 15px;width:660px;color:#444;overflow:hidden}
.infocon02.se_result2 strong {background:url(../images/common/bl_sublist.gif) no-repeat left 7px; padding-left:8px; float:left}
.result_list li {overflow:hidden;padding:20px 0;background:url(../images/common/bg_resultline.gif) repeat-x left bottom;}
.result_list li > strong {float:left; color:#444}
.result_list strong.dictionary span {background:url(../images/common/bg_bbsdetailline.gif) no-repeat right 2px;padding-right:15px; margin-right:13px;}
.result_list strong.dictionary span.last{background:none}
.result_list .rigSect {float:right}
.result_list .rigSect > span {margin-right:15px; padding-bottom:5px}
.result_list p {padding:20px 0; line-height:20px; clear:both; *margin-top:-20px}



