@charset 'euc-kr';

.mt20{margin-top:20px!important}
.colorRed{color:#f00!important}
.colorOrg{color:#fb8a04!important}

.bl_sublist li .btn02small span{padding-top:0px;padding-bottom:3px}
.dashList li{padding:0 0 5px 8px;background:url(../images/common/bl_sub_con.gif) no-repeat 0 8px;}

.sp_tit{color:#222;font-family:'NGB';font-size:14px;font-weight:bold}
.topDotline{margin-top:30px;padding-top:20px;background:url(../images/promotion/bg_dotline.gif) repeat-x 0 0}

.multiStage{*zoom:1}
.multiStage:after{content:"";display:block;clear:both}

.linkpoint{text-decoration:underline;}

/*뷰어다운로드*/
.programList{padding-top:50px}
.programList li{margin-top:60px;padding-left:200px;background:no-repeat 40px 0}
.programList li:first-child{margin-top:0}
.programList li.han{background-image:url(../images/service/bg_han.gif)}
.programList li.acrobat{background-image:url(../images/service/bg_acrobat.gif)}
.programList li.excel{background-image:url(../images/service/bg_excel.gif)}
.programList li.pp{background-image:url(../images/service/bg_pp.gif)}
.programList li.word{background-image:url(../images/service/bg_word.gif)}
.programList li.openOffice{background-image:url(../images/service/bg_openOffice.gif)}
.programList li .btn{display:block;padding:15px 0 0 17px}

/*개인정보처리방침*/
.privacy{}
.privacy h4{padding-top:30px;color:#222;font-family:'NGB';font-size:14px;font-weight:bold}
.privacy h4:first-child{padding-top:0}
.privacy p,.privacy div{margin-top:20px}
.privacy .dashList li{margin-top:5px;padding:0 0 0 10px;background:url(../images/common/bl_sub_con.gif) no-repeat 0 8px;}
.privacy .dashList li p{margin-top:5px}
.privacy .dashList .decimalList li{padding:0}
.privacy .decimalList li{margin-top:5px;background:none;}
.privacy .decimalList li p{margin:5px 0 0 15px}
.privacy .charList li{padding:0 0 5px 0}
.privacy .charList li p{margin:5px 0 0 20px}
.privacy .charList .dashList{margin-top:10px}
.privacy .charList .dashList li{margin:5px 0 0 10px;padding:0 0 0 10px;background:url(../images/common/bl_sub_con.gif) no-repeat 0 8px;}
.privacy ul li:first-child,.privacy ol li:first-child{margin-top:0}

/*이메일주소무단수집거부*/
.email{margin-right:50px;padding-right:210px;background:url(../images/service/bg_email.gif) no-repeat 100% 0}

/*사이트 맵*/
.sitemap{}
.sitemap dl{float:left;width:220px}
.sitemap dl+dl{margin-left:20px}
.sitemap dl+dl+dl+dl{margin-left:0}
.sitemap dl+dl+dl+dl+dl{margin-left:20px}
.sitemap dl+dl+dl+dl+dl+dl+dl{margin-left:0}
.sitemap dl+dl+dl+dl+dl+dl+dl+dl{margin-left:20px}
.sitemap dt{padding:13px 0 12px 14px;font-size:18px;color:#09427d;font-family:'NGB';border-top:2px solid #00a8e8}
.sitemap dd{border-bottom:1px solid #bfbfbf}
.sitemap dd > ul{background:url(../images/common/bg_tableline.gif) repeat-x 0 0;}
.sitemap dd ul li{padding:14px 0 13px 14px;border-top:1px solid #e3e8e9;}
.sitemap dd ul li a{font-size:14px;color:#009aea;}
.sitemap dd ul li:first-child{border:0 none}
.sitemap dd ul li ul{padding-top:3px}
.sitemap dd ul li ul li{margin-top:2px;padding:0 0 0 8px;border:0 none;background:url(../images/common/bl_sublist.gif) no-repeat 1px 10px;line-height:22px;}
.sitemap dd ul li ul li a{font-size:12px;color:#777;}
.sitemap .clear{*display:inline-block;padding-top:50px}
/*메뉴컨텐츠가길어2단이될경우*/
.sitemap dl.long{width:460px}
.sitemap dl.long .multiStage .fl{width:220px}
.sitemap dl.long .multiStage .fl+.fl{margin-left:20px}
.sitemap dl.long .multiStage{border-bottom:0 none}
.sitemap dl.long .multiStage > ul{border-bottom:1px solid #bfbfbf}