@charset 'utf-8';

#maincon {overflow:hidden;width:960px;padding-top:75px;}

.section01 {overflow:hidden;width:960px;}
.section01 .entopinfo {float:left;width:668px;height:266px;padding:45px 0 0 50px;background:url(../images/main/bg_entopinfo.jpg) no-repeat left top;color:#fff;line-height:20px;}
.section01 .entopinfo h2 {padding-bottom:25px;font-size:38px;color:#fff;font-weight:bold;}
.section01 .division {float:right;width:234px;height:311px;background:url(../images/main/bg_division.gif) no-repeat left top;}
.section01 .division a {display:block;width:184px;height:271px;padding:20px 25px;text-align:center;color:#444;}
.section01 .division a strong {display:block;margin-bottom:195px;text-align:left;font-size:14px;color:#222;}

.section02 {clear:both;overflow:hidden;width:960px;margin-top:8px;}
.section02 .bbs {position:relative;overflow:hidden;float:left;width:326px;height:198px;margin-right:8px;padding:25px 25px 10px;background:url(../images/main/bg_bbs.gif) no-repeat left top;}
.section02 .bbs strong {display:block;margin-bottom:27px;font-size:14px;color:#222;}
.section02 .bbs ul li {overflow:hidden;clear:both;width:327px;margin-bottom:17px;*margin-bottom:14px;}
.section02 .bbs ul li span {float:right;font-family:Tahoma;font-size:11px;color:#888;}
.section02 .bbs ul li a {float:left;overflow:hidden;width:263px;height:16px;padding-left:10px;background:url(../images/main/bl_bbs.gif) no-repeat left 7px;color:#666;}
.section02 .bbs ul li a:hover,.section02 .bbs ul li a.on {color:#009aea;}
.section02 .bbs .btnmore {position:absolute;top:22px;right:25px;color:#888;}
.section02 .management {float:left;width:334px;height:233px;margin-right:8px;background:url(../images/main/bg_management.gif) no-repeat left top;}
.section02 .management strong {display:block;margin:25px 0 20px 25px;font-size:14px;color:#222;}
.section02 .management a {float:left;margin-left:35px;color:#444;}
.section02 .management .report01 {width:120px;height:25px;padding:120px 0 0;background:url(../images/main/bg_iconreport01.gif) no-repeat center top;text-align:center;}
.section02 .management .report01 span {padding-right:15px;background:url(../images/main/icon_pdf.gif) no-repeat right top;*background-position:100px 16px;}
.section02 .management .report02 {width:100px;height:25px;padding:120px 0 0;background:url(../images/main/bg_iconreport02.gif) no-repeat center top;text-align:center;}
.section02 .shares {float:left;width:234px;height:233px;background:url(../images/main/bg_shares.gif) no-repeat left top;}
.section02 .shares a {display:block;width:184px;height:183px;padding:25px;color:#fff;text-decoration:none;}
.section02 .shares .sinfo {display:block;letter-spacing:-1px;font-size:14px;font-weight:bold;text-align:center;}
.section02 .shares .sinfo span {padding:0 5px 0 10px;background:url(../images/main/bg_sharesline.gif) no-repeat left 4px;}
.section02 .shares .sinfo span:first-child {background:none;font-weight:normal;}
.section02 .shares .snum {display:block;margin:86px 0 15px;text-align:center;}
.section02 .shares .snum .total {display:block;margin-bottom:5px;font-size:20px;}
.section02 .shares .snum .numcon {padding:0 10px 0 13px;}
.section02 .shares .snum .numcon.up {background:url(../images/main/bg_up.gif) no-repeat left 6px;}
.section02 .shares .snum .numcon.down {background:url(../images/main/bg_down.gif) no-repeat left 6px;}
.section02 .shares .snum .numcon02 {padding-left:10px;background:url(../images/main/bg_sharesline.gif) no-repeat left 4px;}
.section02 .sinfo02 {display:block;}
.section02 .sinfo02 span {display:block;margin-bottom:5px;text-align:left;}
.section02 .sinfo02 span em {display:inline-block;width:55px;color:#00ffff;font-weight:bold;}

.section03 {clear:both;overflow:hidden;width:960px;margin-top:8px;}
.section03 .kogastour {float:left;width:376px;height:173px;margin-right:8px;background:url(../images/main/bg_kogastour.gif) no-repeat left top;}
.section03 .kogastour strong {display:block;margin:25px 0 20px 25px;font-size:14px;color:#222;}
.section03 .kogastour ul {margin-left:154px;}
.section03 .kogastour ul li {margin-bottom:17px;padding-left:10px;background:url(../images/main/bl_bbs.gif) no-repeat left 7px;}
.section03 .kogastour ul li.annnualdown a {padding-right:18px;background:url(../images/main/icon_pdf.gif) no-repeat right top;*background-position:150px 21px;line-height:20px;}
.section03 .kogastour ul li a em {color:#009aea;}
.section03 .ethics {float:left;width:332px;height:173px;margin-right:8px;background:url(../images/main/bg_ethics.gif) no-repeat left top;}
.section03 .ethics a {display:block;width:282px;height:123px;padding:25px;line-height:20px;}
.section03 .ethics strong {display:block;margin-bottom:20px;font-size:14px;color:#222;}
.section03 .bidding {float:left;width:235px;height:173px;background:url(../images/main/bg_bidding.gif) no-repeat left top}
.section03 .bidding a {display:block;width:185px;height:123px;padding:25px;line-height:20px;text-align:center;}
.section03 .bidding strong {display:block;margin-bottom:70px;font-size:14px;color:#222;text-align:left;}