<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<base href="https://www.samsungcard.com" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/cs_main.css" />
	<link rel="stylesheet" type="text/css" href="/css/mv_submain.css" />
	<link rel="stylesheet" type="text/css" href="/css/ms_login.css" />
	<link rel="stylesheet" type="text/css" href="/css/ss.css" />
</head>

<body>

<div class="tabbrowse_content">
<!-- 여기부터 시작 -->

<!-- top_visual -->
<div class="top_visual">
	<h1 class="none">S.TravelCare 서비스</h1>
	<div class="h1_desc"><img src="/cms_content/lifecare/fbsvc/4522_IMG_1.jpg" alt="<%=result.getDescription() %>" /></div>
	<a href="javascript:goTabPage('NHPIMSSSTC001M003', true);" class="mv_h1_btn"><img src="/images/ss/vis_btn_entry.png" alt="서비스 신청하기" /></a>
</div>

<!-- content_block -->
<div class="content_block content_block_tab2 clfix">
	<!-- tab_area -->
	<div class="tab02 w810">
		<ul>
			<li><a href="javascript:goTabPage('NHPIMSSSTC001M001', true);">서비스소개</a></li>
			<li><a href="javascript:goTabPage('NHPIMSSSTC001M002', true);">지원 및 사례</a></li>
			<li><a href="javascript:goTabPage('NHPIMSSSTC001M003', true);">서비스 신청하기</a></li>
			<li class="on"><a href="javascript:goTabPage('NHPIMSSSTC001M004', true);"><span class="none">현재탭</span>가입현황 조회</a></li>
			<li><a href="javascript:goTabPage('NHPIMSSSTC001M005', true);">여행자보험</a></li>
			<li><a href="javascript:goTabPage('NHPIMSSSTC001M006', true);">FAQ</a></li>
			<!-- 
			<li><a href="javascript:tabSubmit('/hp/im/ss/stc/nhpimssstc001.do', null);">서비스소개</a></li>
			<li><a href="javascript:tabSubmit('/hp/im/ss/stc/nhpimssstc002.do', null);">지원 및 사례</a></li>
			<li><a href="javascript:tabSubmit('/hp/im/ss/stc.do?method=selectFlightPayList', null);">서비스 신청하기</a></li>
			<li class="on"><span class="none">현재탭</span><a href="javascript:tabSubmit('/hp/im/ss/stc.do?method=inquiryServiceApply', null);">가입현황 조회</a></li>
			<li><a href="javascript:tabSubmit('/hp/im/ss/stc.do?method=selectInsuApplicableList', null);">여행자보험</a></li>
			<li><a href="javascript:tabSubmit('/hp/im/ss/stc/nhpimssstc007.do', null);">FAQ</a></li>
			-->
		</ul>
	</div>
</div>




<!-- content_block -->
<div class="content_block first_none clfix">
<form name="form">
	<fileTag:pagingParameter cPage="<%= vos.getcPage() %>" pageSize="<%= vos.getPageSize() %>" srchFg="N" />
	
	<h2><img src="/images/ss/h2_stravelcard_join01.png" alt="S.Travel Care 가입현황 입니다" /></h2>
	<div class="content_block_inner pos_rel">

		<table class="dtable01" summary="접수번호, 가입일자, 가입인원, 출국일자, 입국일자, 목적지, 가입채널로 구성된 S.Travel Care 가입현황을 확인하실 수 있는 게시판입니다." >
		<caption>.Travel Care 가입현황</caption>
		<colgroup><col width="16%" /><col width="10%" /><col width="10%" /><col width="10%" /><col width="11%" /><col width="19%" /><col width="11%" /></colgroup>
		<thead>
			<tr>
				<th scope="col" class="cell_l10">접수번호</th>
				<th scope="col">가입일자</th>
				<th scope="col">가입인원</th>
				<th scope="col">출국일자</th>
				<th scope="col">입국일자</th>
				<th scope="col">목적지</th>
				<th scope="col">가입채널</th>
			</tr>
		</thead>
		<tbody>
			<!-- loop -->
			<tr>
				<td class="cell_l10 t_no">0</td>
				<td class="t_no">0</td>
				<td class="t_no">0</td>
				<td class="t_no">0</td>
				<td class="t_no">0</td>
				<td>0</td>
				<td>전화상담</td>
				</tr>
		</tbody>
		</table>
		<!-- paginate -->
		<div class="paginate">
			${_page}
		</div>
		
		<br /><br /><br />
		<p class="ml10 mt15 t_desc04">S.TravelCare전용상담센터(<span class="t_gray t_no">1688-2400</span> 내선 <span class="t_gray t_no">8</span>번)에서 서비스를 가입하면 홈페이지에서는 내용 수정이 불가능 합니다.<br />죄송하지만 전용상담센터를 이용해 주세요. (<span class="t_gray t_no">1688-2400</span>)</p>
	</div>
</form>
</div>
<!--// 여기까지 끝 -->
</div>
</body>
</html>
