

html, body, table, input, textarea, select, h1, h2, h3, h4 {font-size:12px;font-family:Dotum,Sans-serif;color:#666;}

html, body {width:100%;height:100%;margin:0px;padding:0px;}

html {overflow-y:scroll}



form, div, span, ul, ol, li, dl, dt, dd, textarea, h1, h2, h3, h4, h5, h6, p, blockquote,fieldset {margin:0px;padding:0px;}

table {width:100%;padding:0;border-spacing:0px;border:0;border-collapse:collapse;table-layout:fixed;}

th, td {padding:0;}

ul, ol {list-style:none;}

img,fieldset {border:0px;vertical-align:top;}

label {margin:0;padding:0;font-size:12px;}



#accessibility {display:block;width:0px;height:0px;overflow:hidden;padding:0px;margin:0px;}



caption, hr, legend { display:none}

input, select {vertical-align:middle;}



a {color:#666;text-decoration:none;}

a:hover {color:#2b6aaf;text-decoration:underline;}



/* Alignment */

.fLeft {float:left;}

.fRight {float:right;}



/* Font */

.up {color:#e43535 !important;}

.down {color:#317bcb !important;}

.up img, .down img {vertical-align:middle;margin-top:-2px;}
.stxt {color:#999;font-weight:normal;}



/* Clear */

div.ClearBlock {clear:both;height:1px;}



div.Vspace10 {clear:both;height:10px;}

div.Vspace15 {clear:both;height:15px;}

div.Vspace30 {clear:both;height:30px;}

div.Vspace40 {clear:both;height:40px;}



/* Layout Selector */

#wrap {width:100%;}



#header {height:56px;border-bottom:3px solid #2b6aaf;}

#header img {vertical-align:middle;}

#header .header_con {position:relative;width:960px;padding:16px 0 0 0;}

h1 {display:inline;padding:0 22px 0 24px;}

.admin {padding:0 15px 0 0;text-decoration:underline;color:#333;}

.util {position:absolute;top:23px;right:0;}

.util a {margin:0 0 0 20px;padding:0 0 0 7px;background:url(../img/bul_01.gif) no-repeat 0 2px;font-size:11px;color:#999;}



#container {width:936px;padding:32px 0 0 24px;}

.lnb {float:left;width:165px;margin:0 35px 0 0;border-top:2px solid #777;border-bottom:1px solid #aaa;}

.lnb li {width:165px;}

.lnb li strong {font-weight:normal;}

.lnb li a {display:block;height:22px;padding:10px 0 0 8px;border-bottom:1px solid #ddd;color:#333;}

.lnb li a:hover,.lnb li strong.seleted a {background:url(../img/bul_lnb.gif) no-repeat 129px 12px;color:#2b6aaf;font-weight:bold;text-decoration:none;}

.lnb li ul {padding:10px 0;background:#f6f6f4;border-bottom:1px solid #ddd;}

.lnb li ul li a {height:18px;padding:6px 0 0 16px;background:url(../img/bul_lnbs_off.gif) no-repeat 8px 10px;border:0;color:#666;}

.lnb li ul li a:hover,.lnb li ul li.seleted a {background:#347fd1 url(../img/bul_lnbs_on.gif) no-repeat 8px 10px;color:#fff;font-weight:normal;}



#content {float:left;width:736px;padding:0 0 60px 0;}

.path {padding:0 0 24px 0;font-size:11px;color:#999;} 

.path strong {color:#666;}

h2 {padding:0 0 10px 0;margin:0 0 40px 0;font-size:26px;color:#333;border-bottom:2px solid #555;}

h3 {padding:0 0 10px 0;font-size:16px;color:#333;}
h3 span {color:#999;}

fieldset div.search {margin:0;padding:20px 0px 15px 17px;border:5px solid #ccc;overflow:hidden;}
fieldset div.search label input {margin:0 0 4px 0;}
fieldset div.search img {vertical-align:middle;}
fieldset div.search dl dt {float:left;width:100px;height:24px;margin:0 0 10px 0;padding:0 0 0 0;font-weight:bold;color:#333;line-height:24px;}
fieldset div.search dl dd {float:left;width:585px;height:24px;margin:0 0 10px 0;}
fieldset div.search dl dd .fRight a {text-decoration:underline;}
fieldset div.search div.btn {text-align:center;}

.box1 {padding:20px 0px 15px 17px;border:5px solid #ccc;}


/* table */
.tableType1 {border-top:1px solid #777;}

.tableType1 input {margin:0 0 4px 0;}

.tableType1 thead th {padding:10px 0 6px;background:#f6f6f4;border-bottom:1px solid #ddd;font-size:11px;color:#333;}

.tableType1 tbody td {padding:10px 8px 8px 8px;border-bottom:1px solid #ddd;text-align:right;font-size:11px;}
.tableType1 tbody td.line {border-left:1px solid #ddd;}

.tableType1 tbody td.l {text-align:left;}

.tableType1 tbody td.c {text-align:center;}

.table_info {float:right;margin:0 0 5px 0;padding:0 0 0 7px;background:url(../img/bul_02.gif) no-repeat 0 4px;}
.table_info2 {float:right;margin:10px 0 0 0;padding:0 0 0 7px;background:url(../img/bul_02.gif) no-repeat 0 4px;}


.tableType2 {border-top:1px solid #777;}

.tableType2 a {text-decoration:none;}
.tableType2 img {vertical-align:middle;}

.tableType2 input {margin:0 0 4px 0;vertical-align:center;}

.tableType2 tbody th {padding:8px 8px 4px 15px;background:#f6f6f4;border-bottom:1px solid #ddd;font-size:11px;color:#333;text-align:left;vertical-align:middle;}
.tableType2 tbody th.top {vertical-align:top;}

.tableType2 tbody td {padding:8px 8px 4px 15px;border-bottom:1px solid #ddd;text-align:left;vertical-align:middle;font-size:11px;}

.tableType2 tbody td input {vertical-align:middle;padding:2px 4px 0 4px;}

.tableType2 tbody td textarea {width:560px;}

.tableType2 tbody td.qna {padding:0;}

td.qna dl {padding:23px 0;overflow:hidden;}

td.qna dt {float:left;width:36px;color:#317bcb;font-size:14px;font-weight:bold;text-align:center;}

td.qna dd {float:left;width:680px;padding:0 20px 0 0;line-height:18px;}

td.qna dl.answer {background:#f4faff;}

td.qna dl.answer a.btnType3 {line-height:15px;}

div.txt1 {margin:15px 0 0 0;}
p.txt2 {background:#f4f4f4;border:1px solid #ddd;margin:0 0 2px 0;padding:4px 0 0 0;}

/* btns */

div.btns {padding:10px 0 0 0;text-align:center;}

div.btns a {text-decoration:none;}

a.btnType1 {display:inline-block;height:24px;background:url(../img/bg_btnType1_01.gif) no-repeat left 0;color:#666;}

a.btnType1 span {display:inline-block;height:18px;margin:0 0 0 2px;padding:6px 10px 0 8px;background:url(../img/bg_btnType1_02.gif) no-repeat right 0;font-weight:bold;}



a.btnType2 {display:inline-block;height:24px;background:url(../img/bg_btnType2_01.gif) no-repeat left 0;color:#fff;}

a.btnType2 span {display:inline-block;height:18px;margin:0 0 0 2px;padding:6px 10px 0 8px;background:url(../img/bg_btnType2_02.gif) no-repeat right 0;font-weight:bold;}



a.btnType3 {display:inline-block;height:20px;background:url(../img/bg_btnType3_01.gif) no-repeat left 0;color:#666;font-size:11px;vertical-align:top;}

a.btnType3 span {display:inline-block;height:15px;margin:0 0 0 2px;padding:5px 10px 0 8px;background:url(../img/bg_btnType3_02.gif) no-repeat right 0;}



/* ∆‰¿Ã¬° */

div.paging {text-align:center;font-weight:bold;padding-top:20px;}

div.paging a {background:url(../img/bg_paging_01.gif) no-repeat right 0px;padding:0 12px 0 8px;}

div.paging a.sel {color:#2b6aaf;font-size:14px;background:url(../img/bg_paging_01.gif) no-repeat right 2px;}

div.paging a.noBar {background:none;}

div.paging a.start {background:none;padding:0;}

div.paging a.prev {background:none;padding:0;margin:0 4px 0 0;}

div.paging a.next {background:none;padding:0;margin:0 0 0 2px;}

div.paging a.end {background:none;padding:0;}

div.paging img {vertical-align:middle;margin-top:-1px;}