<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<base href="https://www.samsungcard.com" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/cs_main.css" />
	<link rel="stylesheet" type="text/css" href="/css/mv_submain.css" />
	<link rel="stylesheet" type="text/css" href="/css/ms_login.css" />
	<link rel="stylesheet" type="text/css" href="/css/mh.css" />
</head>

<body>

<div class="tabbrowse_content">
<!-- 여기부터 시작 -->
				<!-- top_visual -->
				<div class="top_visual">
					<h1><img src="/images/mh/h1_agreement01.png" alt="선택적 수집 및 이용약관 동의변경 정보를 변경해주세요." /></h1>
				</div>

				<!-- content_block -->
				<form name="frm1" method="post" >
				<div class="content_block content_block_m0 clfix">	
					<h2 class="cross_tit">
						<p class="tit"><img src="/images/mh/h2_agreement02.png" alt="선택적 수집 및 이용약관 동의 변경 정보를 변경해주세요." /></p>
					</h2>


					<div class="content_block_inner">
                    <div class="tb_exp  clfix">	<!-- 100316 -->
							<span class="fl_left">마케팅관련 수집 및 이용약관 동의 변경을 원하시면 <span class="t_point">변경</span>을 클릭해주십시오.</span><!-- 120510 수정  -->	
							<span class="ab_tr "><a href="javascript:popup();"  class="btn_link" title="새창">약관자세히보기</a></span>
						</div>
 

						<table class="dtable02 dtable_inputfield" summary="선택적 수집 및 이용약관 동의 변경 정보를 변경 선택하는 게시판입니다.">
						<caption>선택적 수집 및 이용약관 동의 변경 정보 변경</caption>
						<colgroup><col width="10%" /><col width="20%" /><col width="10%" /><col width="*" /></colgroup>
						<tbody>
							<tr>
								<th scope="row"><p><label for="label_region" class="mr10"><input type="radio" class="rdo" id="label_region" name="BLUE_OPTION" title="동의(수신)" value="Y" <% if(blueOption.equals("Y")){%> checked="checked" <% } %>/></label></p></th>
								<td><p>동의(수신)</p></td>
								<th scope="row"><p><label for="label_region02"><input type="radio" class="rdo" id="label_region02" name="BLUE_OPTION" title="동의철회(수신거부)" value="N" <% if(blueOption.equals("N")){%> checked="checked" <% } %>/> </label></p></th>
								<td><p>동의철회(수신거부)</p></td>
							</tr>
						</tbody>
						</table>

						<!-- btn -->
                        <div class="btnset">
                         <p class="btnl t_desc04">인터넷멤버쉽 기본약관에 대한 동의 정보는 변경하실 수 없습니다.</p>
                        <p class="btnr"><a href="javascript:go();" class="btn btn_blue"><span>변경</span></a></p>
						</div>

					</div>
				</div>
				</form>
				<!-- footer_layer -->
				
<!--// 여기까지 끝 -->
</div>
</body>
</html>
