@charset "utf-8";

/*** 공통 ***/
.hidden {position:absolute;visibility:hidden;top:-9999px;left:-9999px;}
.mainWrap {overflow:hidden;position:relative;width:100%;}
.mainCon01 {position:relative;background:#fff;z-index:1;padding:10px 0px 0 12px;}
.mainCon02 {position:relative;background:#fff;padding:10px 0px 0 0px;}
.associate {padding:10px 10px 0 10px; }
/** 컨텐츠 하단 3개 리스트 **/
.etc_list {clear:both;overflow:hidden;margin-top:4px;}
.etc_list li {float:left;width:33%;}
.etc_list li:last-child {width:34%;}
.etc_list li a {display:block;height:55px;padding:10px 12px;border-radius:4px;border:1px solid #aaa;background-color:#fff;background-size:14px 14px;font-size:14px;font-weight:bold;}/* 0225 수정 */
.etc_list li a span {display:block;height:55px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
.etc_list li:first-child a {margin-right:4px;}
.etc_list li:last-child a {margin-left:4px;}
/** 뉴스 **/
.m_bbs {clear:both;position:relative;margin:14px 10px 20px 10px;font-size:17px;color:#222;}
.m_bbs ul {margin-top:6px;}
.m_bbs ul li {clear:both;width:100%;overflow:hidden;}
.m_bbs ul li a {position:relative;overflow:hidden;display:block;padding:5px 13px 1px 10px;font-size:14px;color:#888;background:url(../../images/mw/v2.0/main/newsbullet.png) no-repeat 3px 10px;background-size:4px 4px;}
.m_bbs ul li a span {position:absolute;top:3px;right:0;}
.m_bbs ul li a span img {width:14px;height:14px;}
.m_bbs ul li a em {float:left;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;display:block;}
.m_bbs .more {position:absolute;top:5px;right:0;width:42px;font-size:13px;color:#888;background:url(../../images/mw/v2.0/main/bg_mainlist.png) no-repeat right 3px;background-size:5px 8px;}
/** 이전화면 다음화면 버튼 **/
.btn_view a {overflow:hidden;display:block;position:fixed;top:50%;width:28px;height:70px;font-size:0;line-height:0;text-indent:-5000px;z-index:20;background-size:28px 70px;background-repeat:no-repeat;}
.btn_view.next a{right:0;background-image:url(../../images/mw/v2.0/main/bg_plinquick01.png);}
.btn_view.before a{left:0;background-image:url(../../images/mw/v2.0/main/bg_plinquick02.png);}

/*** 로그인 전 ***/
/** 로그인 전 첫 번째 화면 **/
.m_top {position:relative;overflow:hidden;}
/* 수정 20140328 start */
/*.HomeEvent {overflow:hidden;float:left;position:relative;width:68%;}
.HomeEvent ul {height:192px;}
.HomeEvent ul li {position:absolute;top:0;left:0;width:100%;height:192px;text-align:center;}
.HomeEvent ul li a {display:block;overflow:hidden;height:190px;margin-right:4px;border:1px solid #aaa;border-radius:4px;}
.HomeEvent ul li a img {width:188px;height:191px;}*/
.m_banner {overflow:hidden;float:left;width:68%;height:192px;}
.HomeEvent {position:relative;overflow:hidden;height:190px;margin-right:4px;border:1px solid #aaa;border-radius:4px;z-index:1;}
.HomeEvent ul {height:189px;margin-top:2px;text-align:center;}
.HomeEvent ul li {position:absolute;top:0;left:0;width:100%;}
.HomeEvent ul li a {display:block;height:191px;}
.HomeEvent ul li a img {width:188px;height:187px;}
/* 수정 20140328 end */
.HomeEvent .btn {position:absolute;width:100%;bottom:10px;text-align:center;}
.HomeEvent .btn a {display:inline-block;font-size:0;line-height:0;width:11px;height:11px;margin:0 2px;background:url(../../images/mw/v2.0/main/bg_btnbanner.png) no-repeat -15px 0;background-size:26px 11px;text-indent:-500000px;}
.HomeEvent .btn a.on {background-position:0 0;}

.benefits {float:left;width:32%;}
.benefits .con01 a {display:block;height:51px;padding:12px;border:1px solid #aeb4bf;border-radius:4px;font-size:15px;color:#fff;background-color:#aeb4bf}/* 0225 수정 */
.benefits .con01 a strong {display:block;height:51px;background:url(../../images/mw/v2.0/main/bg_mainbtn.png) no-repeat right bottom;background-size:14px 14px;}
.benefits .con02 {margin-top:4px;}
.benefits .con02 a {display:block;height:85px;padding:12px;border:1px solid #55b9bd;border-radius:4px;font-size:12px;color:#fff;background-color:#55b9bd;}
.benefits .con02 a strong {display:block;height:85px;background:url(../../images/mw/v2.0/main/bg_mainbtn.png) no-repeat right bottom;background-size:14px 14px;}
.benefits .con02 a em {display:block;font-size:15px;}/* 0225 수정 */

.card_indent {clear:both;overflow:hidden;width:100%;margin-top:4px;}
.card_indent .indentcon {cursor:pointer;overflow:hidden;position:relative;height:100px;padding:12px 160px 12px 12px;border-radius:4px;background:#fff;border:1px solid #aaa;}
.card_indent .con {width:100%;margin-right:80px;} 
.card_indent .con strong {font-size:18px;color:#222;}
.card_indent .con .txt {display:block;overflow:hidden;height:29px;margin:10px 0;font-size:12px;color:#888;}
.card_indent .con a.btn {display:block;width:68px;padding:7px 0;}
.card_indent .con a.btnOrange {border:1px solid #f49e5f;color:#fff;background:#f49e5f;display:inline-block;border-radius:4px;padding:5px 5px;text-align:center;}
.card_indent .card_img {position:absolute;top:23%;right:12px;}
.card_indent .card_img img {width:109px;}
/** 로그인 전 두번째 화면 **/
.finace {float:left;width:50%;}
.finace ul {overflow:hidden;margin-right:4px;/*height:191px;*/border-radius:4px;border:1px solid #aaa;}
.finace ul li a {display:block;height:32px;padding:15px 0 0 12px;border-bottom:1px solid #d4d4d4;font-size:15px;color:#222;background:#fff url(../../images/mw/v2.0/main/bg_mainlist.png) no-repeat 90% center;background-size:5px 8px;font-weight:bold;}
.finace ul li:last-child a {height:31px;border-bottom:none;border-radius:0 0 5px 5px}
.finace ul li:first-child a {border-radius:5px 5px 0 0}
.linkarea {float:left;overflow:hidden;width:50%;}
.linkarea .con01 {width:100%;}
.linkarea .con01 a {display:block;height:68px;padding:12px;border:1px solid #adc382;border-radius:4px;font-size:15px;color:#fff;background:#adc382 url(../../images/mw/v2.0/main/bg_opensharing.png) no-repeat 90% 90%;background-size:39px 48px;}/* 0225 수정 */
.linkarea .con01 a em {font-size:13px;display:block;margin-top:1px;text-indent:2px;color:#d6e9b6;background:url(../../images/mw/v2.0/main/bg_mainlistnew.png) no-repeat 49px 4px;background-size:5px 8px;}
.linkarea .con02 {width:100%;margin-top:4px;}
.linkarea .con02 a {display:block;height:68px;padding:12px;border:1px solid #aeb4bf;border-radius:4px;font-size:15px;color:#fff;background:#aeb4bf url(../../images/mw/v2.0/main/bg_card.png) no-repeat 90% 75%;background-size:51px 46px;}/* 0225 수정 */

.clopplays {clear:both;overflow:hidden;}
.clopplays > div {float:left;width:50%;margin-top:4px;}
.clopplays a {display:block;height:100px;padding:12px;border-radius:4px;border:1px solid #aaa;font-size:14px;color:#222;font-weight:bold;}
.clopplays strong {display:block;font-size:22px;margin:10px 0 0;}
.clopplays span {display:block;background:url(../../images/mw/v2.0/main/bg_mainlist.png) no-repeat 43px 3px;margin-left:2px;font-size:12px;color:#888;background-size:5px 8px;}
.clopplays .clop a {margin-right:4px; background-color:#7db5e3; color:#fff;border:1px solid #7db5e3}
.clopplays .clop a strong {color:#fff;}
.clopplays .clop a span {color:#dcefff;background:url(../../images/mw/v2.0/main/bg_mobileapp02.png) no-repeat 43px 3px;background-size:5px 8px;}
.clopplays .plays a strong {color:#d87777;}



/*** 로그인 후 ***/
/** 로그인 후 마이홈 첫번째 화면 **/
.myhome .class {overflow:hidden;border-radius:4px;padding:12px;border:1px solid #c7dff2;background:#f6fafd;}
.myhome .class span {float:left;color:#245fb3;font-size:12px;}
.myhome .class a {display:none;float:right;padding-right:8px;font-size:13px;color:#af846f;background:url(../../images/mw/v2.0/main/bg_mainlist02.png) no-repeat right 4px;background-size:5px 8px;}
.myhome .class.memberclass {border:1px solid #e6d5cd;background:#faf7f5;}
.myhome .class.memberclass span {color:#af846f;font-size:13px;}
.myhome .class.memberclass a {display:block;color:#7a4a33;}

.home_con {overflow:hidden;margin-top:4px;}
.specsspand {float:left;width:66%;}
.specon {margin-right:4px;border-radius:4px;border:1px solid #aaa;}
.specs {height:176px;padding:12px;border-bottom:1px solid #d4d4d4;}
.specs strong {color:#222;font-size:17px;}
.specs strong em {margin-right:4px;font-size:16px;color:#a48d69;}
.specs span {display:block;margin:45px 0 4px 0;text-align:right;font-size:25px;font-weight:bold;color:#222;letter-spacing:-2px;}
.specs span em {display:inline-block;margin-left:4px;font-size:12px;}
.specs a {clear:both;float:right;display:block;width:120px;padding:5px 10px 5px 0;text-align:right;color:#888;font-size:13px;background:url(../../images/mw/v2.0/main/bg_mainlist.png) no-repeat right 9px;color:#888;background-size:5px 8px;}
.spading {clear:both;}
.spading a {display:block;height:96px;padding:12px;}
.spading strong {color:#222;font-size:17px;}
.spading strong em {font-size:16px;color:#a48d69;}
.spading span {display:block;margin-top:20px;text-align:right;font-size:25px;font-weight:bold;color:#222;letter-spacing:-2px;}
.spading span em {display:inline-block;margin-left:4px;font-size:12px;}
.speetc_list {clear:both;overflow:hidden;margin-top:4px;}
.speetc_list li {float:left;width:50%;}
.speetc_list li a {display:block;height:55px;padding:10px 12px;border-radius:4px;border:1px solid #aaa;background-color:#fff;font-size:14px;font-weight:bold;}
.speetc_list li a span {display:block;height:55px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
.speetc_list li:first-child a {margin-right:4px;}
.speetc_list li:last-child a {margin-right:4px;}

.crpoint {float:left;width:34%;}
.crpoint .clop {border:1px solid #77bbbe;border-radius:4px;background:#77bbbe;font-size:14px;color:#fff;}
.crpoint .clop a {display:block;height:66px;padding:12px;}
.crpoint .clop a strong {font-size:15px;color:#fff;}
.crpoint .clop a span {display:block;margin-top:15px;font-size:30px;letter-spacing:-2px;color:#fff;}
.crpoint .clop a span em {display:inline-block;margin-left:4px;font-size:14px;letter-spacing:-1px;}
.crpoint .plays {border:1px solid #77bbbe;border-radius:4px;background:#77bbbe;font-size:14px;color:#fff;}
.crpoint .plays a {display:block;height:66px;padding:12px;}
.crpoint .plays a strong {font-size:15px;color:#fff;display:block;height:66px;background:url(../../images/mw/v2.0/main/bg_mainbtn.png) no-repeat right bottom;background-size:14px 14px;}
.crpoint .report {margin:4px 0;border:1px solid #aeb4bf;border-radius:4px;background:#aeb4bf;font-size:14px;color:#fff;}
.crpoint .report a {display:block;height:116px;padding:12px;color:#fff;}
.crpoint .report a strong {font-size:15px;color:#fff;}
.crpoint .report a > span {display:block;margin-top:60px;font-weight:bold;color:#fff;}
.crpoint .report a span em {display:block;margin-top:5px;font-size:16px;}
.crpoint .report a span em span {margin-left:2px;font-size:12px}
.crpoint .point {border-radius:4px;border:1px solid #aaa;background:#fff;}
.crpoint .point a {display:block;height:55px;padding:12px;color:#222;font-size:15px;}
.crpoint .point a span {display:block;margin-top:20px;color:#f7960c;font-weight:bold;font-size:16px;}
.crpoint .card_lost a {display:block;height:55px;margin-top:4px;padding:10px 12px;border-radius:4px;border:1px solid #aaa;background-color:#fff;font-size:14px;font-weight:bold;}
.crpoint .card_lost a span {display:block;height:55px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
@media all and (max-width:320px) {	/* 320이하일 경우*/
	.crpoint .clop a span {margin-top:0}
}

/* sfc 회원일경우 마이홈 */
.crpoint .familyClub {display:none}
.crpoint .familyClub a {display:block;height:45px;margin-top:4px;padding:10px 12px;border-radius:4px;border:1px solid #aaa;background-color:#fff;font-size:14px;font-weight:bold;}
.crpoint .familyClub a span {display:block;height:45px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
.crpoint.sfcmem .familyClub {display:block}
.crpoint.sfcmem .report a {height:55px;}
.crpoint.sfcmem .report a > span {margin-top:20px}
.crpoint.sfcmem .point a {height:45px}
.crpoint.sfcmem .point a span {margin-top:10px}

/** 로그인 후 마이홈 두번째 화면 **/
.cardlisttop {overflow:hidden;}
.card_use {float:left;width:60%;}
.usecon {margin-right:4px;border-radius:4px;border:1px solid #aaa;}
.availcon01 a {display:block;height:111px;padding:12px;border-bottom:1px solid #d4d4d4;}
.availcon01 strong {color:#222;font-size:16px;}
.availcon01 span.num {display:block;margin-top:38px;text-align:right;font-size:23px;font-weight:bold;color:#222;letter-spacing:-2px;}
.availcon01 span.num em {display:inline-block;margin-left:4px;font-size:12px;}
.availcon01 span.txt {display:block;color:#888;font-size:12px;float:right;display:block;width:120px;padding:5px 10px 5px 0;text-align:right;background:url(../../images/mw/v2.0/main/bg_mainlist.png) no-repeat right 9px;font-size:13px;color:#888;background-size:5px 8px;}
.availcon02 {clear:both;height:85px;padding:12px;}
.availcon02 strong {color:#222;font-size:16px;}
.availcon02 strong em {font-size:17px;color:#a48d69;}
.availcon02 span {display:block;margin-top:35px;text-align:right;font-size:23px;font-weight:bold;color:#ccc;letter-spacing:-2px;}
.availcon02 span em {display:inline-block;margin-left:4px;font-size:12px;}

.etccard_list {float:left;width:40%;}
.etccard_list .service a {display:block;height:43px;padding:10px 12px;border-radius:4px;border:1px solid #aaa;background-color:#fff;font-size:15px;font-weight:bold;}
.etccard_list .service a span {display:block;height:43px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
.etccard_list .cardron a {display:block;height:43px;margin-top:4px;padding:10px 12px;border-radius:4px;border:1px solid #aaa;background:#fff;background-size:14px 14px;font-size:15px;font-weight:bold;}
.etccard_list .cardron a span {display:block;height:43px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
.etccard_list .appcard a {display:block;height:87px;margin-top:4px;padding:10px 12px;border-radius:4px;border:1px solid #adc382;background:#adc382 url(../../images/mw/v2.0/main/bg_appcard.png) no-repeat 80% 85%;background-size:44px 40px;color:#fff;font-size:15px;font-weight:bold;}

/* 수정 20140321 start  */
/*.m_homebanner {overflow:hidden;position:relative;width:100%;margin-top:4px;}
.m_homebanner ul {clear:both;height:118px;}
.m_homebanner ul li {position:absolute;top:0;left:0;width:100%;height:116px;text-align:left;background-color:#fcfbf5;}
.m_homebanner ul li a {display:block;overflow:hidden;height:96px;padding:10px 12px;border:1px solid #aaa;border-radius:4px;}*/
.m_homebanner {overflow:hidden;position:relative;height:116px;margin-top:4px;border:1px solid #aaa;border-radius:4px;background-color:#fcfbf5;}
.m_homebanner ul li {position:absolute;top:0;left:0;width:100%;height:118px;text-align:left;}
.m_homebanner ul li a {display:block;overflow:hidden;height:96px;padding:10px 12px;}
/* 수정 20140321 end */
.m_homebanner ul li a strong {display:block;font-size:16px;color:#222;}
.m_homebanner ul li a span {display:block;}
.m_homebanner ul li a span.con {margin-right:100px;}
.m_homebanner ul li a span.con span.name {margin-top:10px;font-weight:bold;color:#4c99cf;font-size:17px;}
.m_homebanner ul li a span.img_event {position:absolute;top:10%;right:10px;}
.m_homebanner ul li a span.img_event img {width:100px;height:104px;}
.m_homebanner .btn {position:absolute;width:100%;bottom:10px;text-align:center;}
.m_homebanner .btn a {display:inline-block;font-size:0;line-height:0;width:11px;height:11px;margin:0 2px;background:url(../../images/mw/v2.0/main/bg_btnbanner.png) no-repeat -15px 0;background-size:26px 11px;text-indent:-500000px;}
.m_homebanner .btn a.on {background-position:0 0;}

/** 준회원_마이홈 **/
.membertop {overflow:hidden;margin-bottom:4px;}
.membergo {float:left;width:68%;font-size:14px;color:#888;background-color:#fff;}
.membergo span {display:block;height:139px;margin-right:4px;padding:12px;border-radius:4px;border:1px solid #aaa;background:url(../../images/mw/v2.0/main/bg_member.gif) no-repeat 90% 90%;background-size:99px 94px;}
.membergo strong {font-size:16px;color:#222;}
.membergo em {display:block;margin-top:8px;}
.memberlink {float:left;width:32%;}
.memberlink .con01 a {display:block;height:58px;padding:12px;border:1px solid #7db5e3;border-radius:4px;font-size:15px;color:#fff;background:#7db5e3}
.memberlink .con01 a strong {display:block;height:58px;background:url(../../images/mw/v2.0/main/bg_mainbtn.png) no-repeat right bottom;background-size:14px 14px;}
.memberlink .con02 {margin-top:4px;}
.memberlink .con02 a {display:block;height:51px;padding:12px;border:1px solid #aaa;border-radius:4px;font-size:12px;color:#888;background:#fff;}
.memberlink .con02 a strong {display:block;height:51px;background:url(../../images/mw/v2.0/main/bg_mainbtn02.png) no-repeat right bottom;background-size:14px 14px;}
.memberlink .con02 a em {display:block;font-size:15px;}
.member_benefit {clear:both;padding:12px;border:1px solid #aaa;border-radius:4px;background:#fcfbf5;}
.member_benefit strong {color:#222;font-size:16px;}
.member_benefit strong em {color:#4c99cf;}
.member_benefit ol {margin:10px 0 0 0;text-indent:0;}
.member_benefit ol li {margin-top:3px;font-size:13px;color:#888;list-style:none;padding-left:0;font-weight:bold;}
.member_benefit ol li span {color:#f7960c;}
.m_homebanner.associbanner {background:#fff;}
.m_homebanner ul.m_recomcard li a span.con span.name {margin-top:5px;color:#888;font-size:13px;}
.m_homebanner ul.m_recomcard li a span.con span.name em {font-size:12px;font-weight:normal;display:block;background:url(../../images/mw/v2.0/main/newsbullet.png) no-repeat 4px 7px;background-size:2px 2px; padding:2px 0 0 12px;}
.m_homebanner ul.m_recomcard li a span.con span.name em:first-child {margin-top:3px}
.m_homebanner ul.m_recomcard li a span.img_card {position:absolute;top:25%;right:10px;}
.m_homebanner ul.m_recomcard li a span.img_card img {width:91px;height:58px;}



/*** 전체메뉴 가로모드 ***/
@media all and (min-width:320px) and (max-width:359px) {
	.total_mn li a {width:50px;height:27px;padding:13px 0 0 30px;background-size:16px 16px;background-position:10% 48%;text-align:left;}
	.total_mn li:first-child a {background-size:24px 24px;}
}
/*** 퀵메뉴 width 480이상 부터 767이하까지의 가로모드 ***/
@media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) { 
	.quick .quickcon {height:180px;}
	.quickscroll {position:absolute;top:0;left:0;bottom:0;height:180px;overflow-y:auto;-webkit-overflow-scrolling:touch;}
}
/*** 테블릿 가로모드 경우 ***/
@media all and (min-width:1023px) {
	.btn_view {display:none;}
	.mainCon01 {float:left;width:50%;padding:10px 0 20px 0;}
	.mainCon02 {float:left;width:50%;padding:10px 0 20px 0;}
	.mainCon01 .login_ago, .mainCon01 .login_to {margin:0 4px 0 10px;}
	.mainCon02 .login_ago, .mainCon02 .login_to {margin:0 10px 0 0;}

	.availcon01 a {height:113px;}
	.availcon02 a {height:83px;}
	.m_homebanner ul.rollcon {height:116px;}
	.m_homebanner ul.rollcon li {height:116px;}
	.m_homebanner ul.rollcon li a {overflow:hidden;height:94px;padding:10px 12px;}	
	}