@charset "utf-8";

#header2 {border-bottom:1px solid #e6e6e6;margin-bottom:10px;height:auto}
#header2 p{height:23px;padding:12px 0px 0px 10px;font-size:0;line-height:0}
#header2 h1{position:absolute;top:12px;left:142px;height:23px;padding:0;font-size:20px;line-height:20px;color:#333}
.statNav ul{position:static !important;text-align:center}
.statNav ul li{display:inline-block;width:32% !important;position:static !important;font-size:16px;;background:url(../../images/mw/v1.0/main/bg_nav_1.gif) no-repeat right 5px;}
.statNav ul li:last-child{background:none}
.selectBox{text-align:right}
.selectBox select{ background-color:#fff}
.payInfoTop{background:#fff;border:1px solid #aaa;margin-top:10px;border-radius:5px;}

/* 2013.09.12 수정 */
.payInfoTop p {padding:15px 10px 15px 15px;margin:5px 5px 0 0;min-height:50px;background:url(../../images/mw/v1.0/main/bg_myhome_1.gif) no-repeat 100% 0;background-size:75px;}
.payInfoTop p.vip{background:url(../../images/mw/v1.0/main/bg_myhome_2.gif) no-repeat 100% 0;background-size:57px;}
.payInfoTop p.vip span{font-size:18px;color:#9e850f;font-weight:bold} /* 2013.09.12 수정 */
.payInfoTop p strong{font-size:20px;color:#333}
/* // 2013.09.12 수정 */
.payInfoTop ul{background:#fcfbf5;border-top:1px solid #d8d7d3;border-radius:0 0 5px 5px;padding:15px}
.payInfoTop ul strong{display:inline-block;text-align:justify;position:absolute;left:10px}
.payInfoTop ul span{display:inline-block;}
.payInfoTop ul li{padding:0 0 5px 65px;position:relative;display:block;width:auto}


.payInfoBox{margin:10px 0 0}
.payInfoBox div.inner2 dl{border-radius:0}
.payInfoBox div:first-child dl{border-radius:5px 5px 0 0;border-bottom:none}
.payInfoBox dl{background:#fff;border:1px solid #aaabbb;border-radius:5px;padding:15px}
.payInfoBox dl dt{color:#333;font-size:18px;font-weight:bold}
.payInfoBox dl dt a{display:block;text-align:right;color:#245fb3;background:url(../../images/mw/v1.0/bul_arrow2.gif) no-repeat 100% 20px;background-size:14px;padding:5px 20px 0 0}
.payInfoBox dl dt a.bgNone {background:none;padding-right:0} /* 2013.09.12 추가 */
.payInfoBox dl dt a strong{font-size:28px;letter-spacing:-2px;padding-right:3px}
.payInfoBox dl dt em{display:block;font-size:16px;padding:14px 0 0 10px}
.payInfoBox dl dt a.mg{margin-top:-30px}
.payInfoBox dl.on dt a{background:url(../../images/mw/v1.0/bul_arrow3.gif) no-repeat 100% 20px;background-size:14px}
.payInfoBox dl dd{display:none}
.payInfoBox ul{margin-top:10px}
.payInfoBox .inner dl.last{border-radius:0 0 5px 5px;border-top:none;margin-top:0}
.payInfoBox .roundBox{padding:15px;margin-top:10px}
.payInfoBox .subject{display:block;margin-top:22px;font-weight:bold;color:#333}

.tableType2{width:100%;border-top:1px solid #e6e6e6;margin-top:10px}
.tableType2 th{background:#fafafa;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;text-align:left;padding:7px 10px;font-weight:normal;color:#333}
.tableType2 th:first-child{border-left:none}
.tableType2 td{background:#fff;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:7px 10px;text-align:right}
.tableType2 tr.last td, .tableType2 tr.last th{color:#245fb3}
.tableType2 td:last-child{border-right:none}/*20130820*/

/* 추가 */
.tableType.wicle tbody th{border-left:1px solid #ececec;font-weight:normal;background:#fafafa;color:#333;padding-left:10px}
.tableType.wicle tbody th:first-child{border-left:none}/*20130820*/

.tableType tr th.lineB{border-bottom:1px solid #ececec}
.tableType tr th.lineL{border-left:1px solid #e6e6e6}
.tableType tfoot th, .tableType tbody tr.sum th,.tableType2 tfoot th{color:#245fb3;font-weight:normal;text-align:center;border-bottom:1px solid #ececec;padding:10px 5px 10px 5px; background-color:#fff} /* 2013.09.06 수정 */
.tableType tfoot td, .tableType tbody tr.sum td{text-align:right;border-left:1px solid #ececec;border-bottom:1px solid #ececec;padding:10px 5px 10px 5px;word-break:break-all;color:#245fb3}/* 2013.09.06 수정 */
.tableType tfoot.tfoot th, .tableType tfoot.tfoot td{color:#333;font-weight:bold}
.tableType tbody tr.sum td:first-child {border-left:none; text-align:center}
.boundsInfo{background:#fafafa;border-radius:0;overflow:hidden;border-top:1px solid #ccc;border-bottom:1px solid #ccc;width:100%;margin-top:10px}
.boundsInfo td, .boundsInfo th{border-top:1px solid #ececec;color:#333;padding:6px 10px}
.boundsInfo th{text-align:left;font-weight:normal}
.boundsInfo th a{margin-left:3px}
.boundsInfo td{text-align:right}
.boundsInfo tr:first-child td, .boundsInfo tr:first-child th{border-top:none}

.titDep6{font-size:18px;color:#333}
.titDep7{color:#333;margin-top:20px}/*20130820*/


.btnBlue2{border:1px solid #2256b1;color:#fff;background: -moz-linear-gradient(top,#477ecb 0%,#366ab3);background: -webkit-gradient(linear, left top, left bottom, from(#477ecb),to(#366ab3));display:inline-block;border-radius:4px;padding:0 10px;height:28px;text-align:center;line-height:28px}

.payInfoBox2 p.text{background:#fff;border:1px solid #aaa;border-bottom:none;border-radius:5px 5px 0 0;padding:15px;margin-top:10px}
.payInfoBox2 p.text strong{color:#333;font-size:20px}
.payInfoBox2 ul.round{border:1px solid #aaa;border-top:none;border-radius:0 0 5px 5px}
.payInfoBox2 ul.round li{background:#fcfbf5;border:none;border-top:1px solid #eeede7;padding:0 15px;margin-top:0;border-radius:0}
.payInfoBox2 ul.round li a{display:block;padding:15px 0;color:#333;background:url(../../images/mw/v1.0/bul_arrow4.gif) no-repeat 100% 50%;background-size:5px;font-size:14;font-weight:normal}
.payInfoBox2 ul.round li a.btnGray_s{padding:0 10px;display:inline-block;line-height:24px;height:24px;color:#545454;background-image:none}
.payInfoBox2 ul.round li.conts{padding:15px}
.payInfoBox2 ul.round li.conts strong{font-weight:normal;color:#333;display:block;padding:0}
.payInfoBox2 ul.round li ul{margin-top:10px}
.payInfoBox2 ul.round li ul li{background:url(../../images/mw/v1.0/bul_disc.gif) no-repeat 0 10px;background-size:4px;padding:0 0 8px 10px;border:none;margin-top:0}
.payInfoBox2 ul.round li:last-child{border-radius:0 0 5px 5px}

.txtGrade{overflow:hidden;margin-top:20px}
.txtGrade h3{float:left;margin-top:0 !important}
.txtGrade p{float:left;margin-left:6px}

.payInfoBox3 p.text{margin-top:20px;padding:0;background:none;border:none}
.payInfoBox3 p.text strong{color:#333;font-size:20px}
.payInfoBox3 dl{border:1px solid #aaa;border-radius:5px;margin-top:10px;background:#fff;padding:0}
.payInfoBox3 dl dt a{display:block;border-bottom:1px solid #efefed;font-weight:bold;color:#245fb3;background:#fcfbf5 url(../../images/mw/v1.0/bul_arrow6.gif) no-repeat 100% 50%;background-size:27.5px;font-size:16px;padding:15px;border-radius:5px}
.payInfoBox3 a.arrowBtn{display:block;border:1px solid #aaa;font-weight:bold;color:#245fb3;background:#fcfbf5 url(../../images/mw/v1.0/bul_arrow6.gif) no-repeat 100% 50%;background-size:27.5px;font-size:16px;padding:15px;border-radius:5px;margin-top:10px}
.payInfoBox3 dl.on dt a{border-bottom:1px solid #efefed;background:#fcfbf5 url(../../images/mw/v1.0/bul_arrow5.gif) no-repeat 100% 50%;background-size:27.5px;border-radius:5px 5px 0 0}
.payInfoBox3 dl dd{padding:15px}
.payInfoBox3 dl dt.inner{display:block;border-bottom:1px solid #efefed;font-weight:bold;color:#245fb3;background:#fcfbf5;font-size:16px;padding:15px;border-radius:5px}
.payInfoBox3 dl a.btnGray_s{padding:0 10px;display:inline-block;line-height:24px;height:24px;color:#545454;background-image:none;border:1px solid #bababa;font-size:12px;border-top:1px solid #d4d8db;border-left:1px solid #d4d8db;font-weight:normal;margin-left:10px;background:#fff}
.payInfoBox3 dl dd.inner ul li{background:none;padding:0;margin-top:0;display:inline-block;width:49%}
.payInfoBox3 dl dd.inner ul li span{background:url(../../images/mw/v1.0/bul_disc.gif) no-repeat 0 9px;background-size:4px;padding:0 0 8px 10px;border:none;display:block}
.payInfoBox3 .roundBox{padding:15px}
.payInfoBox3 h3{color:#333;font-size:16px;margin-top:20px}
.payInfoBox3 h3:first-child{margin-top:0} /*//20130820*/

.payInfoBox3 dl dt a.clopbtn {border-bottom:0; color:#fff;background:#7db5e3 url(../../images/mw/v2.0/bul_arrow_whi_on.gif) no-repeat 96% 50%;background-size:15px;}
.payInfoBox3 dl.on dt a.clopbtn { background-image:url(../../images/mw/v2.0/bul_arrow_whi_off.gif); background-size:15px}

#footer2{text-align:center;padding-left:0;font-size:11px;border-top:none;padding:11px 0 25px 0;border-top:1px solid #e6e6e6}/*20130819*/

@media all and (min-width:750px) {
#footer2{font-size:14px;padding-left:20px !important} /* 2013.09.06 */
.payInfoTop ul li{display:inline-block;width:41%}

.payInfoBox{margin:10px -5px 0;overflow:hidden}
.payInfoBox .inner{float:left;width:50%}
.payInfoBox .inner2{float:right;width:50%}
.payInfoBox .inner dl{margin:0 5px}
.payInfoBox .inner2 dl{margin:0 5px}
.payInfoBox .inner2 div.roundBox{margin:10px 5px 0}
.payInfoBox .inner dl.last{margin-top:10px; padding-bottom:70px;}
.payInfoBox  dl dd{display:block !important}
.payInfoBox dl{border-radius:5px !important;border:1px solid #aaa !important}
.payInfoBox dl dt a, .payInfoBox dl.on dt a{cursor: text;padding-right:0;background:none}
}

/* 2013.09.09 수정 */
.padAlram dl {border-radius:5px; border:1px solid #aaa;margin-bottom:10px; background-color:#fff}
.padAlram dl dt {background-color:#fcfbf5;border-radius:5px;font-size:16px;color:#3333;font-weight:bold;padding:12px 15px;display:block;}
.padAlram dl dt a {color:#245fb3; cursor:default}
.padAlram dl dd {border-top:1px solid #e6e6e6; padding:15px}

/*
.arrowToggle.padAlram dl {border-radius:5px; border:1px solid #aaa; border-top:none; margin-bottom:10px; background-color:#fff}
.arrowToggle.padAlram dl:first-child { border-top:1px solid #bbb; margin-top:15px}
.arrowToggle.padAlram dl dt {background-color:#fcfbf5;border-radius:5px; padding:0;}
.arrowToggle.padAlram dl dt a { display:block; padding:15px; color:#245fb3; margin:0 20px 0 0; font-size:18px}
.arrowToggle.padAlram dl.on dt a { background-position:100% -70px}
.arrowToggle.padAlram dl dd {border-top:1px solid #e6e6e6; padding-top:15px}
2013.09.09 삭제*/

.listDisc.padDisc {overflow:hidden; width:100%; padding:15px}
.listDisc.padDisc li {position:relative; float:left; width:40%}
.listDisc.padDisc li a {position:absolute;top:-15px; margin-left:15px}

/*.titPadDep {display:inline-block; color:#333; font-size:18px; margin-bottom:10px;}*/

/*20130819*/
.stateSum{overflow:hidden; padding-top:10px} /* 2013.09.04 추가*/
.stateSum > dt {float:left; font-weight:bold ;color:#333;border-top:1px solid #e6e6e6;padding:15px 14px 4px; min-height:28px}
.stateSum > dd {overflow:hidden;font-weight:bold;color:#333; font-size:20px;text-align:right;border-top:1px solid #e6e6e6;padding:15px 14px 7px; min-height:28px}
.stateSum > dt:first-child{border-top:none;padding-top:3px}
.stateSum > dd.first{border-top:none;padding-top:0}

.stateSet div{padding:0 15px}
.stateSet div a{display:block;border-top:1px solid #c2c2c2;overflow:hidden;padding:11px 15px;margin:0 -15px;background:url(../../images/mw/v1.0/bul_arrow6.gif) no-repeat 100% 50%;background-size:27.5px}
.stateSet div:first-child a,.stateSet div.on:first-child a{border-top:none;border-radius:5px 5px 0 0}
.stateSet div:last-child a{border-radius:0 0 5px 5px}
.stateSet div a.oneBox {border-radius:5px}
.stateSet div a.planSect {background:none}
.stateSet div a.planSect .won1 {padding-right:0}
.stateSet div a span.won{float:right;display:inline-block;padding:8px 20px 0 0}
.stateSet div a span.won1{float:right;display:inline-block;padding:0 20px 0 0} 
.stateSet div a span.won2{float:right;display:inline-block;padding:8px 20px 0 0}
.stateSet div a span.text{display:inline-block;width:60%;text-overflow:ellipsis;overflow:hidden; white-space:nowrap}
.stateSet div a span.text1{display:inline-block;padding-top:8px;width:60%;text-overflow:ellipsis;overflow:hidden; white-space:nowrap}
.stateSet div a span.text2{display:inline-block;padding-top:25px;width:60%;text-overflow:ellipsis;overflow:hidden; white-space:nowrap}
.stateSet div a span.text3{display:inline-block;padding:8px 0 8px 0;width:60%;text-overflow:ellipsis;overflow:hidden; white-space:nowrap}
.stateSet div.on a{border-bottom:none;font-weight:bold;color:#333;background:#fff url(../../images/mw/v1.0/bul_arrow5.gif) no-repeat 100% 50%;background-size:27.5px}
/*//20130819*/

.lineTxt {color:#aaa}
.roundBoxGray {background:#fff;border:1px solid #aaa;margin-top:10px; position:relative;border-radius:5px; background-color:#fafafa; padding:15px}

/*  추가 */
.statementList li{color:#666;font-size:14px;border-bottom:1px solid #e6e6e6;padding:15px;}
.statementList li:last-child{border-bottom:none}
.statementList em{display:inline;float:right; text-align:right;padding-right:2px;margin-top:-7px}
.statementList em.first{margin-top:-18px}

.statementList2 li{color:#666;font-size:14px;border-bottom:1px solid #e6e6e6}
.statementList2 li:last-child{border-bottom:none}
.statementList2 li a{color:#333;font-size:16px;display:block;background:url(../../images/mw/v1.0/main/bg_arrow_1.png) no-repeat right center; background-size:7px;padding:15px; margin-right:15px}
.statementList2 span{float:right;padding-right:10px}
.statementList2 .linkNone {color:#333;font-size:16px;display:block;padding:15px; margin-right:15px} /* 2013.09.10 추가 */


.statementDisc {margin-top:15px}
.statementDisc li{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:url(../../images/mw/v1.0/bul_disc.gif) no-repeat 0 20px;background-size:4px;padding:15px 0 15px 10px; color:#333;}
.statementDisc li:last-child{border-top:none}
.statementDisc li:first-child {border-top:1px solid #e6e6e6;} /* 2013.10.10 추가 */

.tableDlist {overflow:hidden;padding:5px 2px 5px 5px} /* 2013.09.12 수정 */
.tableDlist dt{float:left;clear:both;margin-bottom:5px}
.tableDlist dd{float:right;color:#333;}

.notLink strong {display:block; text-align:right; font-size:28px; color:#245fb3}
.notLink strong span {font-size:18px;}

/* 2013.09.06 추가 */
.sunPointBox div {float:left;width:49%;margin-bottom:10px}
.sunPointBox ul {clear:both;}
.sunPointBox div.typeBtm {float:right}

.btNo {border-top:none !important} /* 2013.10.10 추가 */

/* 이정준 추가 */
#wrap .none {display:none;}

.cardtype_c {display:none};